<div id="sidebar" class="sidebar-close left">
    {{ View.fireHook('operator.sidebar_start') }}

    <span class="toggle-sidebar hide">
        <i class="fa fa-angle-double-right"></i>
    </span>

    <div class="sidebox">
        <h2>{{ Lang.choice('report.report', 2) }}</h2>
    </div>
    <div class="sidebox">
        <a href="{{ route('report.operator.dashboard') }}">
            {{ Lang.get('report.reports_dashboard') }}
        </a>
    </div>
    {% for slug, category in list %}
        <div class="sidebox">
            <h3 class="collapsable">
                <i class="fa fa-bar-chart icon"></i>
                {{ category.name }}
                <div class="arrow">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </h3>
            <ul>
                {% for item in category.reports %}
                <li {% if Request.is("*/" ~ slug ~ "/" ~ item['slug']) %}class="current"{% endif %}>
                    <a href="{{ route('report.operator.view', [ slug, item['slug'] ]) }}">{{ item['name'] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {{ View.fireHook('operator.sidebar_end') }}
</div>