{% extends parent_template %}

{% block title %}{{ Lang.get('user.change_password') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.get('user.change_password') }}
{% endblock %}

{% block content %}

    {{ form_open({ 'route': [ 'user.change_password' ], 'method': 'PUT', 'class': 'validate' }) }}

    <div class="form-row">
        {{ form_label('current_password', Lang.get('user.current_password')) }}
        <div class="input-container">
            {{ form_password('current_password', { 'autocomplete': 'off', 'size': '50%' }) }}<br />
            <span class="light">{{ Lang.get('user.personal_confirm_password') }}</span>
        </div>
    </div>

    <div class="form-row">
        {{ form_label('password', Lang.get('user.new_password')) }}
        <div class="input-container">
            {{ form_password('password', { 'size': '50%', 'autocomplete': 'new-password' }) }}
        </div>
    </div>

    <div class="form-row">
        {{ form_label('password_confirmation', Lang.get('user.confirm_password')) }}
        <div class="input-container">
            {{ form_password('password_confirmation', { 'size': '50%', 'autocomplete': 'new-password' }) }}
        </div>
    </div>

    <div class="form-button">
        {{ form_submit(Lang.get('general.save')) }}
    </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}