{% extends parent_template %}

{% block title %}{{ Lang.get('user.confirmation') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.confirmation') }}
{% endblock %}

{% block content %}

    {% if error is not defined %}
		<div class="success box" style="margin-bottom: 0;">
			<strong>{{ Lang.get('messages.success') }}</strong><br />
			{{ Lang.get('user.thank_you_confirm') }}
			{% if not auth_check() %}
				{{ Lang.get('user.continue_to_login', {'route': route('user.login')})|raw }}
			{% endif %}
		</div>
	{% else %}
		<div class="fail box" style="margin-bottom: 0;">
			<strong>{{ Lang.get('messages.error') }}</strong><br />
			{{ error }}
		</div>
	{% endif %}

{% endblock %}