{% extends parent_template %}

{% block title %}{{ Lang.choice('user.organisation', 1) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ route('user.organisation') }}">{{ Lang.choice('user.organisation', 1) }}</a> &nbsp;&raquo;&nbsp;
    {{ Lang.get('user.organisation_add_user') }}
{% endblock %}

{% block content %}

    <h2>{{ Lang.get('user.organisation_add_user') }}</h2>

    {{ form_open({'route': [ 'user.organisation.addUser' ], 'method': 'POST', 'class': 'validate'}) }}

        {% include 'frontend.' ~ template ~ '.user.forms.user_profile' with {'operator': false, 'organisation_add': true} %}

        {% include 'frontend.' ~ template ~ '.user.forms.organisation' with {'new': true} %}

        {% include 'frontend.' ~ template ~ '.forms.customfields' with {'new': true} %}

        {{ form_submit(Lang.get('user.add_user'), { 'class': 'btn btn-primary' }) }}

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset('resources/assets/libs/hideShowPassword/js/hideShowPassword.min.js') }}"></script>
    <script src="{{ asset('resources/assets/libs/moment/js/moment.js') }}"></script>
    <script src="{{ asset('resources/assets/libs/pikaday/js/pikaday.js') }}"></script>
    <script src="{{ asset('resources/assets/libs/pikaday/js/pikaday.jquery.js') }}"></script>
    <link href="{{ asset('resources/assets/libs/pikaday/css/pikaday.css') }}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
        $(document).ready(function() {
            // Enable hide/show password toggle
            callHideShowPassword();

            // Date picker
            callPikaday();
        });
    </script>

    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}