{% extends parent_template %}

{% block title %}{{ Lang.get('user.reset_password') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.reset_password') }}
{% endblock %}

{% block content %}

    {% if reset_success|default is not empty and reset_success %}

        {{ Lang.get('user.reset_request_desc') }}

    {% else %}

    	<div class="login-container">

			{{ form_open({ 'route': [ 'user.reset' ], 'method': 'post', 'class': 'validate' }) }}

				<div class="form-row form-full">
					{{ form_label('email', Lang.get('general.email')) }}
				    {{ form_text('email', null, {'autofocus': 'autofocus'}) }}
				</div>
				<div class="form-button form-center">
					{{ form_submit(Lang.get('general.reset')) }}
				</div>

			{{ form_close() }}

		</div>

	{% endif %}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}