{% extends parent_template %}

{% block title %}{{ Lang.get('user.set_password') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.set_password') }}
{% endblock %}

{% block content %}

	{{ Lang.get('user.register_confirm_desc') }}

	<br /><br />

	<div class="login-container">

		{{ form_open({ 'route': [ 'user.setpassword' ], 'method': 'post', 'class': 'validate' }) }}

			{{ form_hidden('email', Input.get('email')) }}
			{{ form_hidden('token', Input.get('token')) }}

			<div class="form-row form-full">
		        {{ form_label('password', Lang.get('general.password')) }}
		        <div class="input-container">
		            {{ form_password('password', { 'autocomplete': 'new-password' }) }}
		        </div>
		    </div>
		    <div class="form-row form-full">
		        {{ form_label('password_confirmation', Lang.get('user.confirm_password')) }}
		        <div class="input-container">
		            {{ form_password('password_confirmation', { 'autocomplete': 'new-password' }) }}
		        </div>
		    </div>
			<div class="form-button form-center">
				{{ form_submit(Lang.get('general.save')) }}
			</div>

		{{ form_close() }}

	</div>

{% endblock %}

{% block scripts_footer %}
	{% if jsValidator|default is not empty %}
		{{ jsValidator|raw }}
	{% endif %}
{% endblock %}