{% extends parent_template %}

{% block title %}
    404 - {{ Lang.get('messages.page_not_found') }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.get('messages.error') }} (404)
{% endblock %}

{% block content %}

    <p>{{ Lang.get('messages.cant_find_page') }} {{ Lang.get('messages.please_report') }}</p>

    {{ Lang.get('messages.return_to', {'page': '<a href="' ~ route('core.frontend.home') ~ '">' ~ mb_strtolower(Lang.get('general.support_portal'), 'UTF-8') ~ '</a>'})|raw }}

{% endblock %}