<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ ticket.subject }}</title>

    <!-- CSS Stylesheets -->
    <link href="{{ asset_rev('resources/assets/frontend/css/main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset_rev('resources/assets/general/css/entiremessage.css') }}" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
</head>

<body style="margin: 25px;">

<div class="desk_wrapper" style="width: auto;">

    <div id="desk_content" style="width: auto;">

        <!-- Success / failure message box -->
        <div class="box" style="display: none"></div>

        <div class="desk_header">
            <h2>{{ ticket.subject }}</h2>
            <button class="print-button right">
                <i class="fa fa-print"></i>&nbsp;{{ Lang.get('general.print') }}
            </button>
        </div>

        <div class="desk_content_padding" style="padding: 25px 25px 0; margin-bottom: 25px;">

            <div class="header">
                <img src="{{ message.user.avatar_url }}" class="avatar left" />
                <span class="name {% if message.by == 0 %}staff{% else %}user{% endif %}">
                    {{ message.user.formatted_name }}
                </span>
                <br />

                {% if can_update_ticket(auth_user(), ticket) %}
                <button class="as-link edit-button">
                    <i class="fa fa-pencil"></i>
                </button>
                {% endif %}

                <span class="description">
                    {% if message.type == 2 %}
                        {{ Lang.get('ticket.forwarded_to') }} <strong>{{ message.getForwardRecipients() }}</strong>
                        {% set emaillog = message.emaillog.where('type', 0).first() %}
                        {% if emaillog is not null %}
                            &nbsp;(<a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank" class="description">{{ Lang.get('user.view_email') }}</a>)
                        {% endif %}
                    {% else %}
                        {% if message.by == 0 %}
                            {{ Lang.get('general.staff') }}
                            {% if message.type == 1 %}({{ Lang.choice('general.note', 1) }}){% endif %}
                        {% else %}
                            {{ Lang.choice('user.user', 1) }}
                        {% endif %}
                    {% endif %}
                    &nbsp;&middot;&nbsp; {{ timeago(message.created_at) }}
                    {% if editHistory.get(message.id) is not null %}
                        {% set edit = editHistory.get(message.id) %}
                        <strong title="{{ Lang.get('ticket.edited_message', {'user': edit.formatName(false), 'date': formatDate(edit.created_at)}) }}">
                            ({{ Lang.get('general.edited') }})
                        </strong>
                    {% endif %}
                    &nbsp;&middot;&nbsp; {{ Lang.get('ticket.via_channel', {'channel': message.channel.formatted_name}) }}
                    {% set emaillog = message.emaillog.where('type', 1).first() %}
                    {% if emaillog is not null %}
                        <a class="show-email-details description">({{ Lang.get('general.show_details') }})</a>
                        <div class="webui-popover-content form-row recipients email-details">
                            {% if emaillog.to is not empty %}
                                <div>
                                    <label>{{ Lang.get('ticket.to') }}</label>
                                    <div class="input-container">{{ emaillog.to|join(', ') }}</div>
                                </div>
                            {% endif %}
                            {% if emaillog.cc is not empty %}
                                <div>
                                    <label>{{ Lang.get('ticket.cc') }}</label>
                                    <div class="input-container">{{ emaillog.cc|join(', ') }}</div>
                                </div>
                            {% endif %}
                            <div>
                                <label>{{ Lang.get('ticket.from') }}</label>
                                <div class="input-container">
                                    {{ emaillog.from_name ~ ' <' ~ emaillog.from_address ~ '>' }}
                                </div>
                            </div>
                            {% if auth_user().hasPermission('view.emaillog') %}
                                <div>
                                    <div class="input-container">
                                        <a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank" class="description">{{ Lang.get('user.view_email') }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </span>
            </div>

            <div class="text" {% if edit %}style="display: none"{% endif %}>
                {{ message.purified_text|raw }}
            </div>

            {% if can_update_ticket(auth_user(), ticket) %}
            <div class="edit-message" {% if not edit %}style="display: none"{% endif %}>
                {% include 'operator.' ~ template ~ '.ticket.forms.edit_message' with { 'editMessage': message, 'ticketId': ticket.id } %}
            </div>
            {% endif %}
        </div>

    </div>
</div>

<script type="text/javascript" src="{{ asset_rev('resources/assets/libs/common.min.js') }}"></script>
<link href="{{ asset_rev('resources/assets/libs/css/common.min.css') }}" rel="stylesheet" type="text/css" property="stylesheet" />

<!-- Redactor -->
<script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/frontend/css/redactor.css') }}">

<script type="text/javascript">
    $(document).ready(function() {
        {% if Input.get('print') %}
            window.print();
        {% endif %}
        
        // Show print dialog when clicking the "Print" button.
        $('.print-button').on('click', function () {
            window.print();
        });
        
        function showSuccess() {
            $('#desk_content')
                .find('.box')
                .addClass('success')
                .removeClass('fail')
                .text('{{ Lang.get('messages.success_updated', { 'item': Lang.choice('general.message', 1)|lower }) }}')
                .show()
                .delay(10000).fadeOut();
        }

        function showFailure() {
            $('#desk_content')
                .find('.box')
                .addClass('fail')
                .removeClass('success')
                .text('{{ Lang.get('messages.error_updated', { 'item': Lang.choice('general.message', 1)|lower }) }}')
                .show()
                .delay(10000).fadeOut();
        }

        // Popup for email details
        $('.show-email-details').webuiPopover({ placement: 'bottom', padding: false, offsetTop: 2 });

        // Open links in a new window/tab
        $('.desk_content_padding .text a').attr('target', '_blank');

        // Initialise edit message redactor box.
        $('.edit-message textarea').redactor();

        $('.edit-button').on('click', function (e) {
            $(this).parents('.desk_content_padding').find('.text, .edit-message').toggle();
        });

        // Handle submitting the edit message form.
        $('.edit-message form').on('submit', function (e) {
            e.preventDefault();
            $(this).find('input[type="submit"]').prop('disabled', 'disabled');

            var $form = $(this),
                $container = $form.parents('.desk_content_padding'),
                data = $form.serializeArray();

            data.push({name: '_token', value: '{{ csrf_token() }}'});

            $.ajax({
                url: '{{ route('ticket.operator.message.update', [ message.id ]) }}',
                type: 'PUT',
                data: data,
                dataType: 'json'
            }).done(function (response) {
                if (response.status != 'success') {
                    showFailure();
                    return;
                }

                // This has been sanitized at PHP level.
                $container.find('.text').html(response.data.html);

                // Remove edit form.
                $container.find('.text, .edit-message').toggle();

                showSuccess();

            }).fail(function () {
                showFailure();
            }).always(function () {
                $form.find('input[type="submit"]').removeAttr("disabled");
            });
        });
    });
</script>

</body>

</html>