<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ ticket.subject }}</title>

    <!-- CSS Stylesheets -->
    <link href="{{ asset_rev('resources/assets/frontend/css/main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset_rev('resources/assets/general/css/entiremessage.css') }}" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
</head>

<body style="margin: 25px;">

<div class="desk_wrapper" style="width: auto;">

    <div id="desk_content" style="width: auto;">

        <h2>{{ ticket.subject }}</h2>

        <div class="desk_content_padding" style="padding: 25px 25px 0; margin-bottom: 25px;">

            <div class="header">
                <img src="data:image/png;base64,{{ message.user.avatar }}" class="avatar left" />
                <span class="name {% if message.by == 0 %}staff{% else %}user{% endif %}">
                    {{ message.user.formatted_name }}
                </span>
                <br />

                <span class="description">
                    {% if message.by == 0 %}
                        {{ Lang.get('general.staff') }}
                        {% if message.type == 1 %}({{ Lang.choice('general.note', 1) }}){% endif %}
                    {% else %}
                        {{ Lang.choice('user.user', 1) }}
                    {% endif %} &nbsp;&middot;&nbsp; {{ formatDate(message.created_at) }}
                    &nbsp;&middot;&nbsp; {{ Lang.get('general.via') }} {{ message.channel.name }}
                    {% if message.emaillog %}
                        <a href="{{ route('core.operator.email.log.raw', [ message.emaillog.id ]) }}" class="show-original description">
                            ({{ Lang.get('core.show_original') }})
                        </a>
                    {% endif %}
                </span>
            </div>

            <div class="text">
                {{ Purifier.clean(message.text) }}
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            // Open links in a new window/tab
            $('.desk_content_padding .text a').attr('target', '_blank');
        });
    </script>

</body>

</html>