{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {{ Lang.choice('ticket.ticket', 1) }} {{ Lang.get('general.generalsetting') }}
{% endblock %}

{% block content %}

    {{ form_model(fields, { 'method': 'PUT', 'route': [ 'ticket.operator.generalsetting.update' ] }) }}

        <div class="form-container first">

            <div class="form-row">
                {{ form_label('default_open_status', Lang.get('ticket.default_open_status')) }}
                <div class="input-container">
                    {{ form_select('default_open_status', statuses) }}<br />
                    <span class="description">{{ Lang.get('ticket.default_open_status_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('default_resolved_status', Lang.get('ticket.default_resolve_status')) }}
                <div class="input-container">
                    {{ form_select('default_resolved_status', statuses) }}<br />
                    <span class="description">{{ Lang.get('ticket.default_resolve_status_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('waiting_response_time', Lang.get('ticket.waiting_response_time')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('waiting_response_time[days]', waitingTime['days'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('waiting_response_time[hours]', waitingTime['hours'], { 'size': 3, 'style': 'border-left: 0; border-right: 0;' }) }}
                        <div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('waiting_response_time[minutes]', waitingTime['minutes'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <span class="description">{{ Lang.get('ticket.waiting_response_time_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('inactive_close_time', Lang.get('ticket.close_inactive_tickets')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('inactive_close_time[days]', inactiveTime['days'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('inactive_close_time[hours]', inactiveTime['hours'], { 'size': 3, 'style': 'border-left: 0; border-right: 0;' }) }}
                        <div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('inactive_close_time[minutes]', inactiveTime['minutes'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <span class="description">{{ Lang.get('ticket.close_inactive_tickets_desc') }}</span>
                </div>
            </div>

            <!-- todo: add jQuery validation and an AJAX call which fetches the ticket validation regex -->
            <div class="form-row">
                {{ form_label('ticket_number_format', Lang.get('ticket.ticket_format')) }}
                <div class="input-container">
                    {{ form_text('ticket_number_format') }}<br />
                    <span class="description">{{ Lang.get('ticket.ticket_format_desc')|raw }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ticket_reply_order', Lang.get('ticket.ticket_reply_order')) }}
                <div class="input-container">
                    {{ form_select('ticket_reply_order', { 0: Lang.get('general.ascending'), 1: Lang.get('general.descending') }) }}<br />
                    <span class="description">{{ Lang.get('ticket.ticket_reply_order_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ticket_notes_position', Lang.get('ticket.ticket_notes_position')) }}
                <div class="input-container">
                    {{ form_select('ticket_notes_position', {
                            0: Lang.get('ticket.ticket_notes_top_messages'),
                            1: Lang.get('ticket.ticket_notes_top'),
                            2: Lang.get('ticket.ticket_notes_messages')
                        })
                    }}<br />
                    <span class="description">{{ Lang.get('ticket.ticket_notes_position_desc') }}</span>
                </div>
            </div>

            <div class="form-row form-full">
                {{ form_label('allowed_files', Lang.get('ticket.allowed_files')) }}
                <div class="input-container">
                    {{ form_text('allowed_files') }}<br />
                    <span class="description">{{ Lang.get('ticket.allowed_files_desc') }}</span>
                </div>
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}