{% if overriddenViews|default is not empty and overriddenViews['message']|default is not empty %}
    {% include overriddenViews['message'] %}
{% else %}
    <div class="message message-{{ message.id }} {% if message.type == 1 %}note{% elseif message.type == 2 %}forward{% endif %}
                {% if unread %}collapsible{% else %}collapsed{% endif %} clear"
         data-id="{{ message.id }}">

    	<div class="header">
    		<img src="{{ message.user.avatar_url }}" class="avatar left" />
    		<span class="name {% if message.by == 0 %}staff{% else %}user{% endif %}">
                {{ message.user.formatted_name }}
            </span>
            {% if not message.attachments.isEmpty() %}
                <span class="attachment hide">&nbsp; <i class="fa fa-paperclip"></i></span>
            {% endif %}
            <span class="right">
                {% if can_update_ticket(auth_user(), ticket) %}
                    {{ form_check('split', 1, false, { 'class': 'split-ticket hide', 'data-id': message.id }) }} &nbsp;
                    <button class="as-link quoteMessage" data-id="{{ message.id }}">
                        <i class="fa fa-quote-right"></i>
                    </button> &nbsp;&nbsp;
                    <span class="message-actions dropdown-container">
                        <div class="main-action edit-button">
                            <span class="icon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                        </div><!--
                        --><div class="button">
                            <span class="icon">
                            </span>
                            <span class="pointer">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="dropdown hide">
                            <ul>
                                <li>
                                    <a class="print-message" href="{{ route('ticket.operator.message.show', { 'id': message.id, 'print': '1' }) }}" target="_blank">
                                        {{ Lang.get('general.print') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="link-message">{{ Lang.get('ticket.copy_link') }}</a>
                                </li>
                                <li>
                                    <a class="forward-message">{{ Lang.get('ticket.forward_message') }}</a>
                                </li>
                                <li>
                                    <a class="forward-from-here">{{ Lang.get('ticket.forward_from_here') }}</a>
                                </li>
                                <li>
                                    <a class="link-ticket" data-href="{{ route('ticket.operator.ticket.createStep1', {'link_message': message.id}) }}">
                                        {{ Lang.get('ticket.create_linked_ticket') }}
                                    </a>
                                </li>
                                <li>
                                    <a class="delete-confirm" data-route="{{ route('ticket.operator.message.destroy', [ message.id ]) }}" data-id="{{ message.id }}">
                                        {{ Lang.get('ticket.delete_message') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                {% endif %}
            </span><br />
    		<span class="description">
                {% if message.type == 2 %}
                    {{ Lang.get('ticket.forwarded_to') }} <strong>{{ message.getForwardRecipients() }}</strong>
                    {% set emaillog = message.emaillog.where('type', 0).first() %}
                    {% if emaillog is not null %}
                        &nbsp;(<a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank" class="description">{{ Lang.get('user.view_email') }}</a>)
                    {% endif %}
                {% else %}
                    {% if message.by == 0 %}
                        {{ Lang.get('general.staff') }}
                        {% if message.type == 1 %}({{ Lang.choice('general.note', 1) }}){% endif %}
                    {% else %}
                        {{ Lang.choice('user.user', 1) }}
                    {% endif %}
                {% endif %}
                &nbsp;&middot;&nbsp; {{ timeago(message.created_at) }}
                {% if editHistory.get(message.id) is not null %}
                    {% set edit = editHistory.get(message.id) %}
                    <strong title="{{ Lang.get('ticket.edited_message', {'user': edit.formatName(false), 'date': formatDate(edit.created_at)}) }}">
                        ({{ Lang.get('general.edited') }})
                    </strong>
                {% endif %}
                &nbsp;&middot;&nbsp; {{ Lang.get('ticket.via_channel', {'channel': message.channel.formatted_name}) }}
                {% set emaillog = message.emaillog.where('type', 1).first() %}
                {% if emaillog is not null %}
                    <a class="show-email-details description">({{ Lang.get('general.show_details') }})</a>
                    <div class="webui-popover-content form-row recipients email-details">
                        {% if emaillog.to is not empty %}
                            <div>
                                <label>{{ Lang.get('ticket.to') }}</label>
                                <div class="input-container">{{ emaillog.to|join(', ') }}</div>
                            </div>
                        {% endif %}
                        {% if emaillog.cc is not empty %}
                            <div>
                                <label>{{ Lang.get('ticket.cc') }}</label>
                                <div class="input-container">{{ emaillog.cc|join(', ') }}</div>
                            </div>
                        {% endif %}
                        <div>
                            <label>{{ Lang.get('ticket.from') }}</label>
                            <div class="input-container">
                                {{ emaillog.from_name ~ ' <' ~ emaillog.from_address ~ '>' }}
                            </div>
                        </div>
                        {% if auth_user().hasPermission('view.emaillog') %}
                            <div>
                                <div class="input-container">
                                    <a href="{{ route('core.operator.emaillog.show', [ emaillog.id ]) }}" target="_blank" class="description">{{ Lang.get('user.view_email') }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </span>
    	</div>

    	<div class="text">
            {% include 'operator.' ~ template ~ '.ticket.message_text' %}
    	</div>

        <div class="edit-message">
            {% include 'operator.' ~ template ~ '.ticket.forms.edit_message' %}
        </div>

        {% include 'operator.' ~ template ~ '.ticket.message_attachments' %}
    </div>
{% endif %}