{% if overriddenViews|default is not empty and overriddenViews['message']|default is not empty %}
    {% include overriddenViews['message'] %}
{% else %}
    <div class="message message-{{ message.id }} {% if message.type == 1 %}note{% endif %} clear collapsed"
         data-id="{{ message.id }}">

    	<div class="header">
    		<img src="data:image/png;base64,{{ message.user.avatar }}" class="avatar left" />
    		<span class="name {% if message.by == 0 %}staff{% else %}user{% endif %}">
                {{ message.user.formatted_name }}
            </span>
            {% if not message.attachments.isEmpty() %}
                <span class="attachment hide">&nbsp; <i class="fa fa-paperclip"></i></span>
            {% endif %}
            <span class="right">
                {% if can_update_ticket(auth_user(), ticket) %}
                    {{ form_check('split', 1, false, { 'class': 'split-ticket hide', 'data-id': message.id }) }} &nbsp;
                    <button class="as-link quoteMessage" data-id="{{ message.id }}">
                        <i class="fa fa-quote-right"></i>
                    </button> &nbsp;&nbsp;
                    <button class="as-link edit-button">
                        <i class="fa fa-pencil"></i>
                    </button> &nbsp;&nbsp;
                    <button class="as-link delete-confirm" data-route="{{ route('ticket.operator.message.destroy', [ message.id ]) }}" data-id="{{ message.id }}">
                        <i class="fa fa-times"></i>
                    </button>
                {% endif %}
            </span><br />
    		<span class="description">
                {% if message.by == 0 %}
                    {{ Lang.get('general.staff') }}
                    {% if message.type == 1 %}({{ Lang.choice('general.note', 1) }}){% endif %}
                {% else %}
                    {{ Lang.choice('user.user', 1) }}
                {% endif %}
                &nbsp;&middot;&nbsp; {{ timeago(message.created_at) }}
                {% if editHistory.get(message.id) is not null %}
                    {% set edit = editHistory.get(message.id) %}
                    <strong title="{{ Lang.get('ticket.edited_message', {'user': edit.formatName(false), 'date': formatDate(edit.created_at)}) }}">
                        ({{ Lang.get('general.edited') }})
                    </strong>
                {% endif %}
                &nbsp;&middot;&nbsp; {{ Lang.get('ticket.via_channel', {'channel': message.channel.name}) }}
                {% if message.emaillog %}
                    <a class="show-email-details description">({{ Lang.get('general.show_details') }})</a>
                    {% if message.emaillog %}
                    <div class="webui-popover-content form-row recipients email-details">
                        <div>
                            <label>{{ Lang.get('ticket.to') }}</label>
                            <div class="input-container">{{ message.emaillog.to|join(', ') }}</div>
                        </div>
                        {% if not message.emaillog.cc is empty %}
                        <div>
                            <label>{{ Lang.get('ticket.cc') }}</label>
                            <div class="input-container">{{ message.emaillog.cc|join(', ') }}</div>
                        </div>
                        {% endif %}
                        <div>
                            <label>{{ Lang.get('ticket.from') }}</label>
                            <div class="input-container">
                                {{ message.emaillog.from_name ~ ' <' ~ message.emaillog.from_address ~ '>' }}
                            </div>
                        </div>
                        <div>
                            <div class="input-container">
                                <a href="{{ route('core.operator.email.log.raw', [ message.emaillog.id ]) }}" target="_blank" class="description">{{ Lang.get('core.show_original') }}</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </span>
    	</div>

    	<div class="text">
            {% include 'operator.' ~ template ~ '.ticket.message_text' %}
    	</div>

        <div class="edit-message">
            {% include 'operator.' ~ template ~ '.ticket.forms.edit_message' %}
        </div>

        {% include 'operator.' ~ template ~ '.ticket.message_attachments' %}
    </div>
{% endif %}