{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block scripts_header %}
    <link href="{{ asset_rev('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    {{ Lang.choice("ticket.priority", 2) }}
{% endblock %}

{% block content %}

	<div class="success box delete hide">
        {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('ticket.priority', 1), 'UTF-8') }) }}
    </div>
    <div class="fail box delete hide">
        {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('ticket.priority', 1), 'UTF-8') }) }}
    </div>

	<div class="success box ordering hide">
        {{ Lang.get('messages.success_ordering') }}
    </div>
    <div class="fail box ordering hide">
        {{ Lang.get('messages.error_ordering') }}
    </div>

	<div class="grid-options options box">
	    <a href="{{ route('ticket.operator.priority.create') }}">
	        <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add_item', {'item': Lang.choice('ticket.priority', 1)}) }}
	    </a>
        &nbsp;&nbsp;
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
        </div>
	</div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

    <div class="note box bottombox" id="dndOrderNote">
        <strong>{{ Lang.get('messages.note') }}:</strong> {{ Lang.get('ticket.record_order') }}
    </div>

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <script type="text/javascript" src="{{ asset_rev('resources/assets/libs/TableDnD/js/jquery.tablednd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/ordering.js') }}"></script>

    <!-- Filter the table -->
    <script src="{{ asset_rev('resources/assets/libs/yadcf/js/jquery.dataTables.yadcf.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 1, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500}
            ]);
        });
    </script>
{% endblock %}