{% extends parent_template %}

{% block meta %}
    {% if download %}
        <meta http-equiv="refresh" content="2;{{ download.direct_operator_url }}" />
    {% endif %}

    <meta name="notes-url-id" content="{{ notesUrlId }}" />
    <meta name="messages-url-id" content="{{ messagesUrlId }}" />
{% endblock %}

{% block title %}
    (#{{ ticket.number }}) {{ ticket.subject }}
{% endblock %}

{% block scripts_header %}
    <link href="{{ asset_rev('resources/assets/operator/css/ticket.css') }}" rel="stylesheet" type="text/css" />

    {% if extendedViews['scripts_header']|default is not empty %}
        {% for view in extendedViews['scripts_header'] %}
            {% include view %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.ticket.sidebar-ticket' %}
{% endblock %}

{% block precontent %}
    {% include 'operator.' ~ template ~ '.ticket.also_viewing' %}

    <div class="quick-actions">
        {% if ticket.trashed() and auth_user().hasPermission('update.ticket|delete.ticket') %}
            {% if auth_user().hasPermission('update.ticket') %}
                <span class="button-group">
                    <button class="restore-ticket">
                        <i class="fa fa-undo"></i> {{ Lang.get('general.restore') }}
                    </button>
                </span>
                &nbsp;
            {% endif %}
            {% if auth_user().hasPermission('delete.ticket') %}
                <span class="button-group">
                    <button class="delete-forever-ticket">
                        <i class="fa fa-times"></i> {{ Lang.get('general.delete_forever') }}
                    </button>
                </span>
            {% endif %}
        {% endif %}

        <span class="button-group messages-button-group right hide480">
            {{ form_button('<i class="fa fa-expand"></i> ' ~ Lang.get('general.expand_all'), { 'class': 'expand-messages hide' }) }}<!--
            -->{{ form_button('<i class="fa fa-compress"></i> ' ~ Lang.get('general.collapse_all'), { 'class': 'collapse-messages hide' }) }}<!--
            {% if can_update_ticket(auth_user(), ticket) %}
                --><span class="split-ticket-button hide"><!--
                    -->{{ form_open({ 'route': [ 'ticket.operator.ticket.split', ticket.id ], 'style': 'display: inline-block;' }) }}<!--
                    -->{{ form_button('<i class="fa fa-columns"></i> ' ~ Lang.get('ticket.split_selected_replies'), { 'disabled': 'disabled' }) }}<!--
                    -->{{ form_close() }}<!--
                --></span><!--
            {% endif %}
            --><span class="jump-to-reply hide">{{ form_button('<i class="fa fa-arrow-up"></i> ' ~ Lang.get('general.reply')) }}</span>
        </span>

        {% if can_update_ticket(auth_user(), ticket) %}
        <span class="button-group">
            <button class="take-ticket {% if in_array(auth_user().id, ticket.assigned.pluck('id').all()) and ticket.assigned.count() == 1 %}hide{% endif %}"><i class="fa fa-thumb-tack"></i> {{ Lang.get('ticket.take') }}</button><!--
            --><button class="close-ticket {% if ticket.status_id == Config.get('settings.default_resolved_status') %}hide{% endif %}"><i class="fa fa-check"></i> {{ Lang.get('general.close') }}</button><!--
            --><button class="lock-ticket {% if ticket.locked %}hide{% endif %}"><i class="fa fa-lock"></i> {{ Lang.get('ticket.close_and_lock') }}</button><!--
            --><button class="unlock-ticket {% if not ticket.locked %}hide{% endif %}"><i class="fa fa-unlock"></i> {{ Lang.get('ticket.unlock') }}</button>
        </span>
        &nbsp;&nbsp;&nbsp;
        <button class="watch-ticket {% if in_array(auth_user().id, ticket.watching.pluck('id').all()) %}hide{% endif %}"><i class="fa fa-eye"></i> {{ Lang.get('ticket.watch') }}</button>
        <button class="unwatch-ticket {% if not in_array(auth_user().id, ticket.watching.pluck('id').all()) %}hide{% endif %}"><i class="fa fa-eye-slash"></i> {{ Lang.get('ticket.unwatch') }}</button>
        {% endif %}
        {% if not ticket.trashed() and auth_user().hasPermission('delete.ticket_trash') %}
            &nbsp;&nbsp;&nbsp;
            <span class="button-group">
                <button class="delete-ticket" type="button"><i class="fa fa-trash"></i> {{ Lang.get('general.move_to_trash') }}</button><!--
                {% if not ticket.internal %}
                    --><button class="block-ticket" type="button"><i class="fa fa-ban"></i> {{ Lang.get('ticket.block_user') }}</button>
                {% else %}
                    -->
                {% endif %}
            </span>
        {% endif %}
    </div>
{% endblock %}

{% block pageTitle %}
    <a href="{{ docsLink }}" target="_blank" class="docs-link right">
        <i class="fa fa-question-circle docs-link"></i>
    </a>
    <h1 class="ticket-subject">
        <span {% if can_update_ticket(auth_user(), ticket) %}class="subject"{% endif %}>
            {% if ticket.subject|trim is not empty %}
                {{ ticket.subject }}
            {% else %}
                ({{ Lang.get('ticket.no_subject') }})
            {% endif %}
        </span>
        {{ form_text('subject', ticket.subject, { 'class': 'edit-subject hide', 'size': '50' }) }}
        {% if ticket.internal %}
            <span class="tag internal">{{ Lang.get('ticket.internal') }}</span>
        {% endif %}
        <i class="fa fa-lock" title="{{ Lang.get('general.locked') }}" style="{% if not ticket.locked %}display: none; {% endif %}margin-left: 5px;"></i>
        {% if ticket.trashed() %}
            <i class="fa fa-trash" title="{{ Lang.get('general.trash') }}" style="margin-left: 5px;"></i>
        {% endif %}
    </h1>
    <h2 class="ticketview">
        {{ Lang.get('general.submitted_by') }}
        <a href="{{ route('user.operator.user.edit', { 'user': ticket.user.id }) }}">{{ ticket.user.formatted_name }}</a>
        {% if not ticket.user.confirmed %}
            <i class="fa fa-exclamation-circle" aria-hidden="true" title="{{ Lang.get('user.unconfirmed_user_desc') }}" style="color: #f39c12;"></i>
        {% endif %}
        {{ timeago(ticket.created_at) }}
    </h2>
{% endblock %}

{% block content %}
    {% if download %}
        <div class="options box">
            <i class="fa fa-times right"></i>
            <strong>{{ Lang.get('ticket.downloading') }}</strong><br />
            {{ Lang.get('ticket.downloading_desc', {'href': download.direct_operator_url|e})|raw }}
        </div>
    {% endif %}

    <div class="warning box followup-warning {% if ticket.followups is empty %}hide{% endif %}">
        <i class="fa fa-clock-o"></i>&nbsp;
        <span>
            {{ Lang.get(ticket.followups.count() > 1 ? 'ticket.follow_up_multiple_active' : 'ticket.follow_up_active',
                {'time': (ticket.followups.first().time > "now"|date('U') ? timeago(ticket.followups.first().time) : Lang.get('general.shortly'))})|raw
            }}
        </span>
    </div>

    {% if feedback|default is not empty and feedback.rating|default is not empty %}
        <div class="{% if feedback.rating %}success{% else %}fail{% endif %} box">
            <i class="fa {% if feedback.rating %}fa-smile-o{% else %}fa-frown-o{% endif %}"></i>&nbsp;
            {{ Lang.get('ticket.feedback_rating_desc', { 'rating': feedback.rating ? mb_strtolower(Lang.get('general.good'), 'UTF-8') : mb_strtolower(Lang.get('general.bad'), 'UTF-8') })|raw }}
            {% if feedback.fields_answered %}
                <a href="#" onclick="window.open('{{ route('ticket.operator.feedback.show', { id: feedback.id }) }}','width=800,height=600,scrollbars=yes');">
                    {{ Lang.get('ticket.view_feedback') }}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <ul class="tabs">
        <li id="Messages" class="active">{{ Lang.choice('general.message', 2) }}</li>
        <li id="Log">{{ Lang.get('general.log') }}</li>
        <li id="EscalationRules" {% if ticket.sla_plan_id is empty or ticket.escalationrules().count() == 0 %}style="display: none;" {% endif %}>
            {{ Lang.get('ticket.escalation_rule') }}
        </li>
        {% if can_update_ticket(auth_user(), ticket) or ticket.followup is not empty %}
            <li id="Followup">{{ Lang.get('ticket.follow_ups') }}</li>
        {% endif %}

        {{ View.fireHook('operator.ticket_tab') }}

        {% if extendedViews['ticket_tab']|default is not empty %}
            {% for view in extendedViews['ticket_tab'] %}
                {% include view %}
            {% endfor %}
        {% endif %}
    </ul>

    <div id="tabMessages" class="tabContent">
        {% if auth_user().isDescendingReplyOrder() %}
            {% if can_update_ticket(auth_user(), ticket) %}

                <h2 class="reply-header">{{ Lang.get('ticket.add_reply') }}</h2>
                {% include 'operator.' ~ template ~ '.ticket.other_draft' %}

                {% include 'operator.' ~ template ~ '.ticket.forms.message' with { 'ticketId': ticket.id } %}

            {% endif %}

            {{ View.fireHook('operator.ticket_messages') }}

            {% if extendedViews['ticket']|default is not empty %}
                {% for view in extendedViews['ticket'] %}
                    {% include view %}
                {% endfor %}
            {% endif %}

            <div style="margin-bottom: 25px;"></div>
        {% endif %}

        {% if (Config.get('settings.ticket_notes_position') != 2 and messages.contains('type', 1)) %}
            <h2 class="notes-header">{{ Lang.choice('general.note', 2) }}</h2>

            {% for message in messages %}
                {% if message.type == 1 %}
                    {% if (loop.first and auth_user().isDescendingReplyOrder()) or (loop.last and auth_user().isAscendingReplyOrder()) %}
                        {% set unread = true %}
                    {% else %}
                        {% set unread = not lastViewed or lastViewed < message.created_at %}
                    {% endif %}
                    {% include 'operator.' ~ template ~ '.ticket.message' with { 'message' : message, 'unread': unread } %}
                {% endif %}
            {% endfor %}

            <h2 class="messages-header">{{ Lang.choice('general.message', 2) }}</h2>
        {% else %}
            <h2 class="notes-header hide">{{ Lang.choice('general.note', 2) }}</h2>
            <h2 class="messages-header hide">{{ Lang.choice('general.message', 2) }}</h2>
        {% endif %}

        {% for message in messages %}
            {% if (Config.get('settings.ticket_notes_position') != 1 or message.type != 1) %}
                {% if (loop.first and auth_user().isDescendingReplyOrder()) or (loop.last and auth_user().isAscendingReplyOrder()) %}
                    {% set unread = true %}
                {% else %}
                    {% set unread = not lastViewed or lastViewed < message.created_at %}
                {% endif %}
                {% include 'operator.' ~ template ~ '.ticket.message' with { 'message': message, 'unread': unread } %}
            {% endif %}
        {% endfor %}


        {% if auth_user().isAscendingReplyOrder() %}

            {{ View.fireHook('operator.ticket_messages') }}

            {% if extendedViews['ticket']|default is not empty %}
                {% for view in extendedViews['ticket'] %}
                    {% include view %}
                {% endfor %}
            {% endif %}

            {% if can_update_ticket(auth_user(), ticket) %}

                <h2 class="reply-header">{{ Lang.get('ticket.add_reply') }}</h2>
                {% include 'operator.' ~ template ~ '.ticket.other_draft' %}

                {% include 'operator.' ~ template ~ '.ticket.forms.message' with { 'ticketId': ticket.id } %}

            {% endif %}
        {% endif %}

    </div>

    <div id="tabLog" class="tabContent hide">
        {{ log.render()|raw }}
        {{ log.script()|raw }}
    </div>

    <div id="tabEscalationRules" class="tabContent hide">
        <span class="description">{{ Lang.get('ticket.escalation_rules_desc') }}</span>
        <br /><br />
        {{ escalationRules.render()|raw }}
        {{ escalationRules.script()|raw }}
    </div>

    {% if can_update_ticket(auth_user(), ticket) or ticket.followup is not empty %}
        <div id="tabFollowup" class="tabContent hide"></div>
    {% endif %}

    {{ View.fireHook('operator.ticket_tab_content') }}

    {% if extendedViews['ticket_tab_content']|default is not empty %}
        {% for view in extendedViews['ticket_tab_content'] %}
            {% include view %}
        {% endfor %}
    {% endif %}

{% endblock %}

{% block scripts_footer %}
    <!-- Actions for FollowUp tab -->
    <script src="{{ asset_rev('resources/assets/operator/js/filtering.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/escalationrule.js') }}"></script>

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>

    <!-- Code Editor -->
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/redactor/sourcemode.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/redactor/mergefields.js') }}"></script>

    <!-- File upload -->
    <script src="{{ asset_rev('resources/assets/general/js/fileupload.js') }}"></script>
    <script type="text/javascript">
        new FileUpload({
            $element: $('.message-form .fileupload'),
            $container: $('.message-form'),
            blueimp: {
                dropZone: $('.message-form').find('.attachment-dragover')
            }
        });
        new FileUpload({
            $element: $('.notes-form .fileupload'),
            $container: $('.notes-form'),
            blueimp: {
                dropZone: $('.notes-form').find('.attachment-dragover')
            }
        });
        var forwardFileUpload = new FileUpload({
            $element: $('.forward-form .fileupload'),
            $container: $('.forward-form'),
            blueimp: {
                cumulativeMaxFileSize: {{ cumulative_attachment_limit }},
                dropZone: $('.forward-form').find('.attachment-dragover')
            }
        });
    </script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <!-- Reply options & Redactor plugins -->
    <script src="{{ asset_rev('resources/assets/operator/js/redactor/replyoptions.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/done_typing.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/sanitize.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>
    
    <script type="text/javascript">
        var ticketId = "{{ ticket.id }}",
            userId = "{{ ticket.user_id }}",
            operatorId = "{{ auth_user().id }}",
            brandId = "{{ ticket.brand_id }}",
            internal = {{ ticket.internal }},
            closedStatusId = {{ Config.get('settings.default_resolved_status') }},
            ticketGridUrl = "{{ Session.get('operator.url.ticketgrid', route('ticket.operator.ticket', manageTicketsParams)) }}",
            organisationsEnabled = "{{ Config.get('settings.organisations_enabled', 1) }}",
            departmentTemplates = {{ ticket.department.email_templates|json_encode()|raw }},
            userLanguage = "{{ ticket.user.languageOrDefault() }}",
            allLanguages = {{ languages|sort|json_encode()|raw }},
            deleteRelations = {{ deleteRelations|json_encode|raw }};

        var signature = '';
        {% if signature is not empty %}
            signature = '<br /><br />'
                    + "{{ Purifier.clean(signature)|e('js') }}";
        {% endif %}

        var replyOrder = '{{ auth_user().isAscendingReplyOrder() ? 'ASC' : 'DESC' }}';
        var notesPosition = {{ Config.get('settings.ticket_notes_position') }};

        var tagPermission = {% if auth_user().hasPermission('create.tickettag') %}1{% else %}0{% endif %},
            cannedResponsePermission = {% if auth_user().hasPermission('view.cannedresponse') %}1{% else %}0{% endif %};

        // Initialise redactor.
        var redactor_config = {
            plugins: [
                'syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize',
                {% if isModuleEnabled('Selfservice') %}'ssLink', {% endif %}
                'cannedResponses'
            ]
        };

        /**
         * Initialise redactor instance.
         *
         * @param name
         */
        function redactor(name) {
            return name.redactor($.extend($.Redactor.default_opts, redactor_config));
        }

        $(document).ready(function() {
            // Register redactor
            $('#newMessage, #newNote, #newForward').redactor($.extend({}, $.Redactor.default_opts, redactor_config, {
                changeCallback: function() {
                    var id = this.$textarea.prop('id');

                    // Remove the error box if they've entered content.
                    if (! this.utils.isEmpty(this.code.get())) {
                        $('#'+id+'-error').remove();
                    }
                }
            }));

            // Enable hide/show password toggle
            callHideShowPassword();
        });

        // Date picker
        callPikaday();

        // Timepicker
        $.each($('.timepicker'), function() {
            $(this).timepicker({ 'timeFormat': "{{ Config.get('settings.time_format') }}", 'scrollDefault': 'now' });
        });
    </script>

    <!-- Selectize -->
    <script src="{{ asset_rev('resources/assets/operator/js/selectize/disable_delete.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/selectize/max_items.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/operator/js/ticket.js') }}"></script>
    <script type="text/javascript">
        var ticket = new Ticket("");
    </script>

    <script src="{{ asset_rev('resources/assets/general/js/shorten.js') }}"></script>

    <link href="{{ asset_rev('resources/assets/operator/css/ticket-print.css') }}" rel="stylesheet" media="print" type="text/css" />

    {% if extendedViews['scripts_footer']|default is not empty %}
        {% for view in extendedViews['scripts_footer'] %}
            {% include view %}
        {% endfor %}
    {% endif %}
{% endblock %}