{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if organisations|default is not empty and organisations %}
        {{ Lang.choice('user.organisation_customfield', 2) }}
    {% else %}
        {{ Lang.choice('user.customfield', 2) }}
    {% endif %}
{% endblock %}

{% block content %}

	<div class="success box delete hide">
        {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('user.customfield', 1), 'UTF-8') }) }}
    </div>
    <div class="fail box delete hide">
        {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('user.customfield', 1), 'UTF-8') }) }}
    </div>

    <div class="success box ordering hide">
        {{ Lang.get('messages.success_ordering') }}
    </div>
    <div class="fail box ordering hide">
        {{ Lang.get('messages.error_ordering') }}
    </div>

	<div class="grid-options options box">
        {% if organisations|default is not empty and organisations %}
            <a href="{{ route('user.operator.organisationcustomfield.create') }}">
                <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add_item', {'item': Lang.choice('user.organisation_customfield', 1)}) }}
            </a>
        {% else %}
            <a href="{{ route('user.operator.customfield.create') }}">
                <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add_item', {'item': Lang.choice('user.customfield', 1)}) }}
            </a>
        {% endif %}
        &nbsp;&nbsp;
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div>
                <label>{{ Lang.get('customfield.depends_on') }}:</label>
                <div id="filter_depends"></div>
            </div>
            <div>
                <label>{{ Lang.get('general.type') }}:</label>
                <div id="filter_type"></div>
            </div>
            <div>
                <label>{{ Lang.get('general.required') }}:</label>
                <div id="filter_required"></div>
            </div>
            <div>
                <label>{{ Lang.get('customfield.public') }}:</label>
                <div id="filter_public"></div>
            </div>
            <div>
                <label>{{ Lang.get('customfield.encrypted') }}:</label>
                <div id="filter_encrypted"></div>
            </div>
            <div>
                <label>{{ Lang.get('customfield.locked') }}:</label>
                <div id="filter_locked"></div>
            </div>
        </div>
	</div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

    <div class="note box bottombox" id="dndOrderNote">
        <strong>{{ Lang.get('messages.note') }}:</strong> {{ Lang.get('user.customfield_order') }}
    </div>

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/ordering.js') }}"></script>

    <!-- Filter the table -->
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 1, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500},
                {column_number : 2, column_data_type: "text", filter_container_id: "filter_depends", filter_type: "text", filter_delay: 500},
                {column_number : 3, filter_container_id: "filter_type"},
                {column_number : 4, filter_container_id: "filter_required"},
                {column_number : 5, filter_container_id: "filter_public"},
                {column_number : 6, filter_container_id: "filter_encrypted"},
                {column_number : 7, filter_container_id: "filter_locked"}
            ]);
        });
    </script>
{% endblock %}