{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {{ Lang.get('general.module_generalsetting', {'module': Lang.choice('user.user', 1)}) }}
{% endblock %}

{% block content %}

    {{ form_model(fields, { 'method': 'PUT', 'route': [ 'user.operator.generalsetting.update' ] }) }}

        <ul class="tabs">
            <li id="General">{{ Lang.get('general.general') }}</li>
            <li id="Users" class="active">{{ Lang.choice('user.user', 2) }}</li>
            <li id="Operators">{{ Lang.choice('general.operator', 2) }}</li>
            <li id="Organisations">{{ Lang.choice('user.organisation', 2) }}</li>
        </ul>

        <div id="tabGeneral" class="tabContent hide">
            <div class="form-row">
                {{ form_label('toggle_use_gravatar', Lang.get('user.use_gravatar')) }}
                <div class="input-container">
                    {{ form_check('use_gravatar', 1, null, { 'class': 'toggle', 'id': 'toggle_use_gravatar' }) }}
                    <label for="toggle_use_gravatar"></label><br />
                    <span class="description">{{ Lang.get('user.use_gravatar_desc') }}</span>
                </div>
            </div>
        </div>

        <div id="tabUsers" class="tabContent">
            <div class="form-row">
                {{ form_label('user_name_format', Lang.get('user.user_name_format')) }}
                <div class="input-container">
                    {{ form_select('user_name_format', {
                        0: Lang.get('user.first_last'),
                        1: Lang.get('user.last_first'),
                        2: Lang.get('user.first_l'),
                        3: Lang.get('user.f_last'),
                        4: Lang.get('user.firstname'),
                        5: Lang.get('user.lastname')
                    }) }}<br />
                    <span class="description">{{ Lang.get('user.user_name_format_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('registration_enabled', Lang.get('user.user_reg_enabled')) }}
                <div class="input-container">
                    {{ form_check('registration_enabled', 1, null, { 'class': 'toggle', 'id': 'toggle_registration_enabled' }) }}
                    <label for="toggle_registration_enabled"></label><br />
                    <span class="description">{{ Lang.get('user.user_reg_enabled_desc') }}</span>
                </div>
            </div>

            <div class="form-row {% if Config.get('settings.captcha_type') == 0 %}hide{% endif %}">
                {{ form_label('registration_captcha', Lang.get('user.user_reg_captcha')) }}
                <div class="input-container">
                    {{ form_check('registration_captcha', 1, null, { 'class': 'toggle', 'id': 'toggle_registration_captcha' }) }}
                    <label for="toggle_registration_captcha"></label><br />
                    <span class="description">{{ Lang.get('user.user_reg_captcha_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('user_password_length', Lang.get('user.password_length')) }}
                <div class="input-container">
                    {{ form_text('user_password_length', null, {'size': 2}) }}<br />
                    <span class="description">{{ Lang.get('user.password_length_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('user_password_strength', Lang.get('user.password_strength')) }}
                <div class="input-container">
                    {{ Lang.get('user.password_str_must_contain') }}<br />

                    {{ form_check('user_password_strength[letters]', 1, array_get(user_password_strength, 'letters', 0)) }}
                    {{ Lang.get('user.password_str_letters') }}<br/>

                    {{ form_check('user_password_strength[digits]', 1, array_get(user_password_strength, 'digits', 0)) }}
                    {{ Lang.get('user.password_str_digits') }}<br/>

                    {{ form_check('user_password_strength[case]', 1, array_get(user_password_strength, 'case', 0)) }}
                    {{ Lang.get('user.password_str_case') }}<br/>

                    {{ form_check('user_password_strength[symbols]', 1, array_get(user_password_strength, 'symbols', 0)) }}
                    {{ Lang.get('user.password_str_symbols') }}<br/>

                    <span class="description">{{ Lang.get('user.password_strength_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ban_after_count_user', Lang.get('user.ban_after_count')) }}
                <div class="input-container">
                    {{ form_text('ban_after_count_user', null, {'size': 2}) }}<br />
                    <span class="description">{{ Lang.get('user.ban_after_count_user') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ban_length_user', Lang.get('user.ban_length')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('ban_length_user[days]', banLengthUser['days'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('ban_length_user[hours]', banLengthUser['hours'], { 'size': 3, 'style': 'border-left: 0; border-right: 0;' }) }}
                        <div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('ban_length_user[minutes]', banLengthUser['minutes'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <span class="description">{{ Lang.get('user.ban_length_desc') }}</span>
                </div>
            </div>
        </div>

        <div id="tabOperators" class="tabContent hide">
            <div class="form-row">
                {{ form_label('operator_name_format', Lang.get('user.user_name_format')) }}
                <div class="input-container">
                    {{ form_select('operator_name_format', {
                        0: Lang.get('user.first_last'),
                        1: Lang.get('user.last_first'),
                        2: Lang.get('user.first_l'),
                        3: Lang.get('user.f_last'),
                        4: Lang.get('user.firstname'),
                        5: Lang.get('user.lastname')
                    }) }}<br />
                    <span class="description">{{ Lang.get('user.operator_name_format_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('toggle_ldap_enabled', Lang.get('user.enable_ldap')) }}
                <div class="input-container">
                {% if extension_loaded('ldap') %}
                    {{ form_check('ldap_enabled', 1, null, { 'class': 'toggle', 'id': 'toggle_ldap_enabled' }) }}
                    <label for="toggle_ldap_enabled"></label><br />
                    <span class="description">{{ Lang.get('user.enable_ldap_desc') }}</span>
                {% else %}
                    <div class="warning box">
                        <strong>{{ Lang.get('messages.missing_extension') }}</strong><br />
                        <span>{{ Lang.get('messages.php_ldap_missing') }}</span>
                    </div>
                {% endif %}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('operator_password_length', Lang.get('user.password_length')) }}
                <div class="input-container">
                    {{ form_text('operator_password_length', null, {'size': 2}) }}<br />
                    <span class="description">{{ Lang.get('user.password_length_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('operator_password_strength', Lang.get('user.password_strength')) }}
                <div class="input-container">
                    {{ Lang.get('user.password_str_must_contain') }}<br />
                    {{ form_check('operator_password_strength[letters]', 1, array_get(operator_password_strength, 'letters', 0)) }}
                    {{ Lang.get('user.password_str_letters') }}<br/>

                    {{ form_check('operator_password_strength[digits]', 1, array_get(operator_password_strength, 'digits', 0)) }}
                    {{ Lang.get('user.password_str_digits') }}<br/>

                    {{ form_check('operator_password_strength[case]', 1, array_get(operator_password_strength, 'case', 0)) }}
                    {{ Lang.get('user.password_str_case') }}<br/>

                    {{ form_check('operator_password_strength[symbols]', 1, array_get(operator_password_strength, 'symbols', 0)) }}
                    {{ Lang.get('user.password_str_symbols') }}<br/>

                    <span class="description">{{ Lang.get('user.password_strength_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ban_after_count_operator', Lang.get('user.ban_after_count')) }}
                <div class="input-container">
                    {{ form_text('ban_after_count_operator', null, {'size': 2}) }}<br />
                    <span class="description">{{ Lang.get('user.ban_after_count_operator') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('ban_length_operator', Lang.get('user.ban_length')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('ban_length_operator[days]', banLengthOperator['days'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('ban_length_operator[hours]', banLengthOperator['hours'], { 'size': 3, 'style': 'border-left: 0; border-right: 0;' }) }}
                        <div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('ban_length_operator[minutes]', banLengthOperator['minutes'], { 'size': 3 }) }}
                        <div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <span class="description">{{ Lang.get('user.ban_length_desc') }}</span>
                </div>
            </div>
        </div>

        <div id="tabOrganisations" class="tabContent hide">
            <div class="form-row">
                {{ form_label('organisations_enabled', Lang.get('user.organisations_enabled')) }}
                <div class="input-container">
                    {{ form_check('organisations_enabled', 1, null, { 'class': 'toggle', 'id': 'toggle_organisations_enabled' }) }}
                    <label for="toggle_organisations_enabled"></label><br />
                    <span class="description">{{ Lang.get('user.organisations_enabled_desc') }}</span>
                </div>
            </div>
            <div class="form-row">
                {{ form_label('organisation_notifications', Lang.get('user.manager_notifications')) }}
                <div class="input-container">
                    {{ form_check('organisation_notifications', 1, null, { 'class': 'toggle', 'id': 'toggle_organisation_notifications' }) }}
                    <label for="toggle_organisation_notifications"></label><br />
                    <span class="description">{{ Lang.get('user.manager_notifications_desc') }}</span>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}
