{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if operator|default is not empty and operator %}
        {{ Lang.choice('user.operator_group', 2) }}
    {% else %}
        {{ Lang.choice('user.group', 2) }}
    {% endif %}
{% endblock %}

{% block content %}

	<div class="success box delete hide">
        {% if operator|default is not empty and operator %}
            {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('user.operator_group', 1), 'UTF-8') }) }}
        {% else %}
            {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('user.group', 1), 'UTF-8') }) }}
        {% endif %}
    </div>
    <div class="fail box delete hide">
        {% if operator|default is not empty and operator %}
            {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('user.operator_group', 1), 'UTF-8') }) }}
        {% else %}
            {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('user.group', 1), 'UTF-8') }) }}
        {% endif %}
    </div>

	<div class="grid-options options box">
        {% if operator|default is not empty and operator %}
    	    <a href="{{ route('user.operator.operatorgroup.create') }}">
                <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add_item', {'item': Lang.choice('user.operator_group', 1)}) }}
    	    </a>
        {% else %}
            <a href="{{ route('user.operator.usergroup.create') }}">
                <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add_item', {'item': Lang.choice('user.group', 1)}) }}
            </a>
        {% endif %}
        &nbsp;&nbsp;
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div>
                <label>{{ Lang.get('general.description') }}:</label>
                <div id="filter_description"></div>
            </div>
        </div>
	</div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <!-- Filter the table -->
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500},
                {column_number : 1, filter_container_id: "filter_description", filter_type: "text", filter_delay: 500},
            ]);
        });
    </script>
{% endblock %}