{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
   {{ Lang.choice("user.operator_signature", 2) }}
{% endblock %}

{% block content %}

	<div class="grid-options options box">
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
        </div>
	</div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <!-- Filter the table -->
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500},
            ]);
        });
    </script>
{% endblock %}