{% extends parent_template %}

{% block title %}
    {{ Lang.get('user.personal_settings') }}
{% endblock %}

{% block description %}
    {{ Lang.get('user.personal_settings_desc') }}
{% endblock %}

{% block content %}

    {{ form_model(record, { 'method': 'PUT', 'route': [ 'user.operator.personalsetting.update' ], 'files': true, 'class': 'validate' }) }}

        <ul class="tabs">
            <li id="Profile" class="active">{{ Lang.get('user.profile') }}</li>
            {% if auth_user().password is not empty and not auth_user().loggedInViaSSO() %}
                <li id="ChangePassword">{{ Lang.get('user.change_password') }}</li>
            {% endif %}
            {% if not auth_user().loggedInViaSSO() or Session.has('ldap') %}
                <li id="TwoFA">{{ Lang.get('user.two_fa') }}</li>
            {% endif %}
            {% if isModuleEnabled('Ticket') %}
                <li id="Ticket">{{ Lang.get('ticket.settings') }}</li>
            {% endif %}
            <li id="Notifications">{{ Lang.get('user.notifications') }}</li>
        </ul>

        <div id="tabProfile" class="tabContent">
            {% set profileParameters = {'operator': true, 'showPassword': false} %}
            {% include 'operator.' ~ template ~ '.user.forms.operator_profile' with profileParameters %}
        </div>

        {% if auth_user().password is not empty and not auth_user().loggedInViaSSO() %}
            <div id="tabChangePassword" class="tabContent hide">
                <div class="form-row">
                    {{ form_label('current_password', Lang.get('user.current_password')) }}
                    <div class="input-container">
                        {{ form_password('current_password', { 'autocomplete': 'off' }) }}<br />
                        <span class="description">{{ Lang.get('user.personal_confirm_password') }}</span>
                    </div>
                </div>

                <div class="form-row password-field">
                    {{ form_label('password', Lang.get('user.new_password')) }}
                    <div class="input-container">
                        {{ form_password('password', { 'autocomplete': 'new-password' }) }}
                    </div>
                </div>

                <div class="form-row password-field">
                    {{ form_label('password_confirmation', Lang.get('user.confirm_password')) }}
                    <div class="input-container">
                        {{ form_password('password_confirmation', { 'autocomplete': 'new-password' }) }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if not auth_user().loggedInViaSSO() or Session.has('ldap') %}
            <div id="tabTwoFA" class="tabContent hide">

                <div class="success box twofa-status hide">
                    {% if record.twofa_enabled %}
                        {{ Lang.get('user.two_fa_success_disabled') }}
                    {% else %}
                        {{ Lang.get('user.two_fa_success_enabled') }}
                    {% endif %}
                </div>

                <div class="fail box twofa-status hide">
                    {{ Lang.get('user.two_fa_incorrect') }}
                </div>

                <div class="form-row">
                    {{ form_label('twofa_enabled', Lang.get('user.two_fa_enabled')) }}
                    <div class="input-container">
                        <span class="twofa-enabled{% if not record.twofa_enabled %} hide{% endif %}" style="color: #27ae60; font-weight: bold;">
                            {{ Lang.get('general.yes') }}
                        </span>
                        <span class="twofa-enabled{% if record.twofa_enabled %} hide{% endif %}" style="color: #c0392b; font-weight: bold;">
                            {{ Lang.get('general.no') }}
                        </span>
                        <br />
                        <span class="description">
                            {% if record.twofa_enabled %}
                                {{ Lang.get('user.two_fa_disable') }}
                            {% else %}
                                {{ Lang.get('user.two_fa_enable') }}
                            {% endif %}
                        </span>
                    </div>
                </div>

                {% if record.twofa_enabled %}

                    <div class="form-row">
                        {{ form_label('twofa_verify', Lang.get('user.verify_code')) }}
                        <div class="input-container">
                            {{ form_text('twofa_verify') }}
                            &nbsp;{{ form_button(Lang.get('user.verify_and_disable'), { 'class': 'twofa-verify' }) }}<br />
                            <span class="description">{{ Lang.get('user.verify_code_desc') }}</span>
                        </div>
                    </div>

                {% else %}

                    <div class="form-row">
                        {{ form_label('twofa_qrcode', Lang.get('user.qr_code')) }}
                        <div class="input-container">
                            {{ Html.image(Google2FA.getQRCodeGoogleUrl(
                                Lang.get('core.product_name'),
                                record.email,
                                twofa_secret), null, { "style": 'border: 1px solid #ddd;' })
                            }}
                        </div>
                    </div>

                    <div class="form-row">
                        {{ form_label('twofa_secret', Lang.get('user.two_fa_secret')) }}
                        <div class="input-container">
                            {{ twofa_secret }}<br />
                            <span class="description">{{ Lang.get('user.two_fa_secret_desc') }}</span>
                        </div>
                    </div>

                    <div class="form-row">
                        {{ form_label('twofa_verify', Lang.get('user.verify_code')) }}
                        <div class="input-container">
                            <div class="input-with-button">
                                {{ form_text('twofa_verify') }}
                                {{ form_button(Lang.get('user.verify_and_enable'), { 'class': 'twofa-verify' }) }}
                            </div>
                            <span class="description">{{ Lang.get('user.two_fa_verify_desc') }}</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-container" style="line-height: 30px;">
                            <i class="fa fa-apple" style="font-size: 150%; color: #999;"></i>&nbsp;&nbsp;
                            <a href="https://itunes.apple.com/gb/app/authy/id494168017" target="_blank">Authy</a> (iOS),
                            <a href="https://itunes.apple.com/gb/app/google-authenticator/id388497605" target="_blank">Google Authenticator</a> (iOS),
                            <a href="https://authy.com/download/" target="_blank">Authy</a> (macOS).<br />

                            <i class="fa fa-android" style="font-size: 150%; color: #A4C639;"></i>&nbsp;&nbsp;
                            <a href="https://play.google.com/store/apps/details?id=com.authy.authy" target="_blank">Authy</a> (Android),
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Authenticator</a> (Android).<br />

                            <i class="fa fa-windows" style="font-size: 130%; color: #0BA9ED;"></i>&nbsp;&nbsp;
                            <a href="https://www.microsoft.com/en-us/store/p/microsoft-authenticator/9nblgggzmcj6" target="_blank">Authenticator</a> (Windows Phone),
                            <a href="https://authy.com/download/" target="_blank">Authy</a> (Windows PC).<br />
                        </div>
                    </div>

                {% endif %}

            </div>
        {% endif %}

        <div id="tabTicket" class="tabContent hide">
            {% include 'operator.' ~ template ~ '.user.forms.operator_ticket_settings' %}
        </div>

        <div id="tabNotifications" class="tabContent hide">
            {% include 'operator.' ~ template ~ '.user.forms.operator_notifications' %}
        </div>

        <hr />

        <div class="form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('button.twofa-verify').on('click', function() {
                var code = $('input[name="twofa_verify"]').val();
                var enable = {{ record.twofa_enabled }};
                $.ajax({
                    url: laroute.route('user.operator.personalsetting.verify2fa'),
                    type: 'POST',
                    data: {
                        enable: 1-enable,
                        secret: "{{ twofa_secret }}",
                        code: code
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (response.status == 'success') {
                            $('.twofa-enabled').toggle();
                            $('.twofa-status.success').show(500).delay(5000).hide(500);
                        } else {
                            $('.twofa-status.fail').show(500).delay(5000).hide(500);
                        }
                    },
                    error: function() {
                        $('.twofa-status.fail').show(500).delay(5000).hide(500);
                    }
                });
            });
        });
    </script>
{% endblock %}
