{% extends 'operator.' ~ template ~ '.user.login-master' %}

{% block content %}

    {% if reset_error|default is not empty and reset_error %}

		<div class="white-box">

			<div class="error">{{ Lang.get('messages.error') }}</div>
			{{ reset_error }}

			<a href="{{ route('operator.login') }}">
				<button>{{ Lang.get('user.return_to_login') }}</button>
			</a>

		</div>

	{% else %}

		<div class="loginBox white-box">

			{% if errors|default is not empty and errors.count() %}
				<div class="error">
					<strong>{{ Lang.get('messages.please_correct') }}</strong><br />
					{% for error in errors.all() %}
						{{ error }}<br />
					{% endfor %}
				</div>
			{% elseif error is not defined %}
				<div class="success">{{ Lang.get('user.please_set_password') }}</div>
			{% else %}
				<div class="error">{{ error }}</div>
			{% endif %}

			{{ form_open({ 'route': [ 'operator.resetconfirm' ], 'method': 'post', 'class': 'validate' }) }}

				{{ form_hidden('email', Input.get('email')) }}
				{{ form_hidden('token', Input.get('token')) }}

				<div class="form-row">
					{{ form_password('password', { 'placeholder': Lang.get('general.password'), 'autocomplete': 'new-password' }) }}
				</div>
				<div class="form-row">
					{{ form_password('password_confirmation', { 'placeholder': Lang.get('user.confirm_password'), 'autocomplete': 'new-password' }) }}
				</div>

				{{ form_submit(Lang.get('general.save')) }}

			{{ form_close() }}

		</div>

	{% endif %}

{% endblock %}

{% block scripts_footer %}
	{% if jsValidator|default is not empty %}
		{{ jsValidator|raw }}
	{% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            // Enable hide/show password toggle
            callHideShowPassword();
        });
    </script>
{% endblock %}