<div class="sidebox">
    <h3 class="collapsable {% if module != 'user' %}closed{% endif %}">
        <i class="fa fa-user icon"></i>
        {{ Lang.choice('user.user', 2) }}
        <div class="arrow">
            <i class="fa {% if module == 'user' %}fa-chevron-down{% else %}fa-chevron-up{% endif %}"></i>
        </div>
    </h3>
    <ul {% if module != 'user' %}class="hide"{% endif %}>
        {% if auth_user().hasPermission('view.usersetting') %}
            <li {% if route starts with 'user.operator.generalsetting' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.generalsetting') }}">{{ Lang.get("general.generalsetting") }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.ldapaccount') and Config.get('settings.ldap_enabled', 0) == 1 %}
            <li {% if route starts with 'user.operator.ldapaccount' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.ldapaccount') }}">{{ Lang.choice("user.ldap_account", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.operatorgroup') %}
            <li {% if route starts with 'user.operator.operatorgroup' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.operatorgroup') }}">{{ Lang.choice("user.operator_group", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.role') %}
            <li {% if route starts with 'user.operator.role' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.role') }}">{{ Lang.choice("user.operator_role", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.operatorsignature') %}
            <li {% if route starts with 'user.operator.operatorsignature' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.operatorsignature') }}">{{ Lang.choice("user.operator_signature", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.organisationcustomfield') %}
            <li {% if route starts with 'user.operator.organisationcustomfield' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.organisationcustomfield') }}">{{ Lang.choice("user.organisation_customfield", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.usercustomfield') %}
            <li {% if route starts with 'user.operator.customfield' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.customfield') }}">{{ Lang.choice("user.customfield", 2) }}</a>
            </li>
        {% endif %}

        {% if auth_user().hasPermission('view.usergroup') %}
            <li {% if route starts with 'user.operator.usergroup' %}class="current"{% endif %}>
                <a href="{{ route('user.operator.usergroup') }}">{{ Lang.choice("user.group", 2) }}</a>
            </li>
        {% endif %}
    </ul>
</div>