{% extends 'errors.error' %}

{% block title %}
    401 - {{ Lang.get('messages.unauthorised') }}
{% endblock %}

{% block header %}
    {{ Lang.get('messages.error') }} (401)
{% endblock %}

{% block content %}

    <p>{{ Lang.get('messages.not_authorised') }} {{ Lang.get('messages.please_report') }}</p>

    <p>{{ Lang.get('messages.return_to', {'page': '<a href="' ~ URL.previous() ~ '">' ~ mb_strtolower(Lang.get('general.previous_page'), 'UTF-8') ~ '</a>'})|raw }}</p>

{% endblock %}