{% extends 'errors.error' %}

{% block title %}
    404 - {{ Lang.get('messages.page_not_found') }}
{% endblock %}

{% block header %}
    {{ Lang.get('messages.error') }} (404)
{% endblock %}

{% block content %}

    <p>{{ Lang.get('messages.cant_find_page') }} {{ Lang.get('messages.please_report') }}</p>

    <p>{{ Lang.get('messages.return_to', {'page': '<a href="' ~ route('core.frontend.home') ~ '">' ~ strtolower(Lang.get('general.support_portal')) ~ '</a>'})|raw }}</p>

{% endblock %}