<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>
        {% if brand_name is not empty %}{{ brand_name }} - {% endif %}
        {% block title %}{{ Lang.get('messages.error') }}{% endblock %}
    </title>

    <link href="{{ asset_rev('resources/assets/operator/css/error.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="container">
        <div class="wrapper">

            <i class="fa fa-exclamation-triangle"></i>

            <h1>{% block header %}{{ Lang.get('messages.error') }}{% endblock %}</h1>

            {% block content %}{% endblock %}

        </div>
    </div>

    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/libs/common.min.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/css/common.min.css') }}" rel="stylesheet" type="text/css" property="stylesheet" />

</body>

</html>