<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>
        {% if company is not null %}{{ company }} - {% endif %}
        {% block title %}{{ Lang.get('messages.error') }}{% endblock %}
    </title>

    <link href="{{ asset_rev('resources/assets/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset_rev('resources/assets/operator/css/error.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="container">
        <div class="wrapper">

            <i class="fa fa-exclamation-triangle"></i>

            <h1>{% block header %}{{ Lang.get('messages.error') }}{% endblock %}</h1>

            {% block content %}{% endblock %}

        </div>
    </div>

</body>

</html>