<div class="form-row">
    {{ form_label('opsettings[ticket_reply_order]', Lang.get('ticket.ticket_reply_order')) }}
    <div class="input-container">
        {{ form_select('opsettings[ticket_reply_order]', {
            0: Lang.get('general.system_default'),
            1: Lang.get('general.ascending'),
            2: Lang.get('general.descending')
        }) }}<br />
        <span class="description">{{ Lang.get('ticket.ticket_reply_order_desc') }} {{ Lang.get('ticket.ticket_reply_order_default') }}</span>
    </div>
</div>

<div class="form-row">
    {{ form_label('opsettings[default_ticket_filter]', Lang.get('ticket.default_ticket_filter')) }}
    <div class="input-container">
        {{ form_select('opsettings[default_ticket_filter]', {0: Lang.get('general.none')} + filters) }}<br />
        <span class="description">
            {{ Lang.get('ticket.default_ticket_filter_desc') }}
        </span>
    </div>
</div>

<div class="form-row">
    {{ form_label('opsettings[default_reply_options]', Lang.get('ticket.default_reply_options')) }}
    <div class="input-container">
        <div class="input-group">
            <label>
                {{ form_check(
                    'opsettings[default_reply_options][send_email_to_users]',
                    1,
                    record.opsettings.default_reply_options['send_email_to_users']|default is not empty
                        ? record.opsettings.default_reply_options['send_email_to_users']
                        : 1
                ) }}
                {{ Lang.get('ticket.send_email_to_users') }}
            </label><br />
            <label>
                {{ form_check('opsettings[default_reply_options][back_to_grid]', 1) }}
                {{ Lang.get('ticket.back_to_grid') }}
            </label><br />
            <label>
                {{ form_check('opsettings[default_reply_options][take_ownership]', 1) }}
                {{ Lang.get('ticket.take_ownership') }}
            </label><br />
            <label>
                {{ form_check('opsettings[default_reply_options][pause_duetime]', 1) }}
                {{ Lang.get('ticket.pause_duetime') }}
            </label><br />
            <label for="to_status">{{ Lang.get('ticket.set_status') }}:</label>
            <select id="to_status" name="opsettings[default_reply_options][to_status]">
                <option value="0" {% if record.opsettings.default_reply_options['to_status'] == 0 %}selected="selected"{% endif %}>
                    -- {{ Lang.get('general.unchanged') }} --
                </option>
                {% for status in statuses %}
                    <option value="{{ status.id }}" {% if record.opsettings.default_reply_options['to_status'] == status.id %}selected="selected"{% endif %}>
                        {{ status.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <span class="description">
            {{
                Lang.get('ticket.default_reply_options_desc', {
                    'reply_option': Lang.get('ticket.send_email_to_operators'),
                    'department_option': Lang.get('ticket.email_operators')
                })
            }}
        </span>
    </div>
</div>