    {% if operator is not defined or not operator %}
        {% if record.exists %}
            {% if brand_count() > 1 %}
                <div class="form-row">
                    {{ form_label('brand_id', Lang.choice('core.brand', 1)) }}
                    <div class="input-container">
                        {{ record.brand.name }}
                        <input type="hidden" name="brand_id" value="{{ record.brand_id }}" />
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="brand_id" value="{{ Config.get('settings.default_brand') }}" />
            {% endif %}
        {% else %}
            {% if brand_count() > 1 %}
                <div class="form-row">
                    {{ form_label('brand_id', Lang.choice('core.brand', 1)) }}
                    <div class="input-container">
                        {{ form_select('brand_id', enabledBrands.pluck('name', 'id'), Config.get('settings.default_brand')) }}
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="brand_id" value="{{ Config.get('settings.default_brand') }}" />
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="form-row">
        {{ form_label('firstname', Lang.get('user.firstname')) }}
        <div class="input-container">
            {{ form_text('firstname', null, record.exists ? {'size': 30} : {'autofocus': 'autofocus', 'size': 30}) }}
        </div>
    </div>

    <div class="form-row">
        {{ form_label('lastname', Lang.get('user.lastname')) }}
        <div class="input-container">
            {{ form_text('lastname', null, {'size': 30}) }}
        </div>
    </div>

    <div class="form-row">
        {{ form_label('email', Lang.get('general.email')) }}
        <div class="input-container">
            {% set emailAttributes = { size: 45 } %}
            {% if auth_check() and record.id == auth_user().id and auth_user().loggedInViaSSO() %}
                {% set emailAttributes = emailAttributes|merge({ 'readonly': 'readonly' }) %}
            {% endif %}
            {{ form_email('email', record.email, emailAttributes) }}
            {% if record.exists and managing|default is not empty and managing and (operator is not defined or not operator) %}
                {% if record.confirmed %}
                    <br />
                    <span class="description">{{ Lang.get('user.changing_email_desc') }}</span>
                {% elseif record.password is empty %}
                    <div style="margin-top: 10px;">
                        <strong style="color: #c0392b;">{{ Lang.get('user.unconfirmed') }}</strong> - {{ Lang.get('user.unregistered_user_desc') }}
                    </div>
                {% else %}
                    <div style="margin: 10px 0;">
                        <strong style="color: #f39c12;">{{ Lang.get('user.unconfirmed') }}</strong> - {{ Lang.get('user.unconfirmed_user_desc') }}
                    </div>
                    <div class="button-group">
                        {{ form_button('<i class="fa fa-paper-plane"></i>&nbsp; ' ~ Lang.get('user.send_confirmation_email'), { 'class': 'confirmation-email' }) }}<!--
                            -->{{ form_button('<i class="fa fa-check-square"></i>&nbsp; ' ~ Lang.get('user.mark_as_confirmed'), { 'class': 'mark-confirmed' }) }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if managing|default is not empty and managing and ((operator is defined and operator) or (record.exists and record.confirmed)) %}
        <div class="form-row">
            {{ form_label('active', Lang.get('user.account_active')) }}
            <div class="input-container">
                {{ form_check('active', 1, record.active|default is not empty ? record.active : 1, { 'class': 'toggle', 'id': 'toggle_active' }) }}
                <label for="toggle_active"></label>
                <br />
                <span class="description">{{ Lang.get('user.account_active_desc') }}</span>
            </div>
        </div>
    {% endif %}

    {% if (not record.exists or record.password is empty) and managing|default is not empty and managing and (operator is not defined or not operator) %}
    <div class="form-row">
        <div class="input-container">
            {{ form_checkbox('send_email', 1, not record.exists) }} {{ Lang.get('user.send_confirmation_email') }}
        </div>
    </div>
    {% endif %}

    {% if showPassword is not defined or showPassword %}
    <div class="form-row password-field" {% if (not record.exists or record.password is empty) and (operator is not defined or not operator) %}style="display: none"{% endif %}>
        {{ form_label('password', Lang.get('general.password')) }}
        <div class="input-container">
            {{ form_password('password', { 'autocomplete': 'new-password' }) }}
            {% if record.password|default is not empty %}
                &nbsp; <span class="description">({{ Lang.get('general.only_enter_to_change') }})</span>
            {% endif %}
        </div>
    </div>

    <div class="form-row password-field" {% if (not record.exists or record.password is empty) and (operator is not defined or not operator) %}style="display: none"{% endif %}>
        {{ form_label('password_confirmation', Lang.get('user.confirm_password')) }}
        <div class="input-container">
            {{ form_password('password_confirmation', { 'autocomplete': 'new-password' }) }}
        </div>
    </div>
    {% endif %}

    {% if record.exists and record.confirmed and record.password is not empty and managing|default is not empty and managing and (operator is not defined or not operator) %}
    <div class="form-row">
        <div class="input-container">
            {{ form_button('<i class="fa fa-paper-plane"></i>&nbsp; ' ~ Lang.get('user.send_password_reset'), { 'class': 'reset-password' }) }}
        </div>
    </div>
    {% endif %}

    <div class="form-row">
        {{ form_label('country', Lang.get('user.country')) }}
        <div class="input-container">
            {{ form_select('country', {0: '-- ' ~ mb_ucfirst(Lang.get('general.not_set')) ~ ' --'} + countries(),
                record.exists ? record.country : Config.get('settings.default_country')) }}
        </div>
    </div>

    {# Check whether we should allow users to change their default language #}
    {% if operator|default is not empty and operator and Config.get('settings.language_operator_toggle') %}

    <div class="form-row">
        {{ form_label('language_code', Lang.choice('general.language', 1)) }}
        <div class="input-container">
            {{ form_select('language_code', {0: '-- ' ~ mb_ucfirst(Lang.get('general.not_set')) ~ ' --'} + languages,
                record.exists ? record.language_code : LanguageFactory.getOperatorDefault()) }}
        </div>
    </div>

    {% elseif (operator|default is empty or not operator) and (Config.get('settings.language_frontend_toggle')) %}

    <div class="form-row">
        {{ form_label('language_code', Lang.choice('general.language', 1)) }}
        <div class="input-container">
            {{ form_select('language_code', {0: '-- ' ~ mb_ucfirst(Lang.get('general.not_set')) ~ ' --'} + languages,
                record.exists ? record.language_code : LanguageFactory.getUserDefault(Config.get('settings.default_brand'), false)) }}
        </div>
    </div>

    {% endif %}

    <div class="form-row">
        {{ form_label('timezone', Lang.get('general.timezone')) }}
        <div class="input-container">
            {{ form_select('timezone', {0: '-- ' ~ mb_ucfirst(Lang.get('general.not_set')) ~ ' --'} + timezones(),
                record.exists ? record.timezone : Config.get('settings.default_timezone')) }}
        </div>
    </div>

    <div class="form-row">
        {{ form_label('avatar', Lang.get('user.avatar')) }}
        <div class="input-container">
            <img class="avatar" src="{{ record.avatar_url }}" />
            {{ form_file('avatar') }}
        </div>
    </div>

    {% if groups|default is not empty and groups %}
        <div class="form-row form-full">
            {% if operator|default is not empty and operator %}
                {{ form_label('groups', Lang.choice('user.operator_group', 2)) }}
            {% else %}
                {{ form_label('groups', Lang.choice('user.group', 2)) }}
            {% endif %}
            <div class="input-container">
                {{ form_select('groups[]', groups, (userGroups is defined ? userGroups : []), { 'multiple': 'multiple' }) }}
                {% if operator|default is not empty and operator %}
                    <span class="description">{{ Lang.get('user.select_operator_group_desc') }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if managing|default is not empty and managing and (operator|default is empty or not operator) %}
    <div class="form-row form-customfields">
        {{ form_label('notes', Lang.choice('general.note', 2)) }}
        <div class="input-container">
            {{ form_redactor('notes') }}
        </div>
    </div>
    {% endif %}

    {% if operator|default is not empty and operator %}
        {{ form_hidden('operator', true) }}
    {% endif %}
