{% if Config.get('settings.organisations_enabled') %}
    <div class="form-row">
        {{ form_label('organisation', Lang.choice('user.organisation', 1)) }}
        <div class="input-container">
            {{ form_text('organisation', organisation|default is not empty ? organisation.name : '',
                (organisation is not empty and (new is defined or record.organisation.owner_id != record.id))
                    ? { 'disabled': 'disabled', 'size': '30' } : { 'size': '30' }) }}

            {% if organisation|default is not empty and new is not defined %}
                {% if record.organisation.isOwner(record.id) or record.organisation_access_level == 0 %}
                    <br />
                    <a href="{{ route('user.organisation') }}">{{ Lang.get('user.manage_organisation') }}</a>
                {% endif %}
                {% if not record.organisation.isOwner(record.id) or record.organisation.users().count() == 1 %}
                    <br />
                    <a class="leave-organisation">{{ Lang.get('user.leave_organisation') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if new|default is not empty %}
    <div class="form-row">
        {{ form_label('access_level', Lang.get('user.organisation_access_level')) }}
        <div class="input-container">
            {{ form_select('access_level', { 0: Lang.get('user.manager'), 1: Lang.choice('user.user', 1) }, 1) }}<br />
            <span class="light">
                {{ Lang.get('user.organisation_user_desc')|raw }}
            </span>
        </div>
    </div>
    {% endif %}

    {% if organisation|default is not empty and new is not defined and record.organisation_access_level == 0 %}
        <div class="form-row">
            {{ form_label('organisation_notifications', Lang.get('user.organisation_notifications')) }}
            <div class="input-container">
                {{ form_check('organisation_notifications', 1, record.organisation_notifications|default is not empty ?
                    record.organisation_notifications : Config.get('settings.organisation_notifications'),
                    { 'class': 'toggle', 'id': 'toggle_organisation_notifications' }) }}
                <label for="toggle_organisation_notifications"></label>
                <br />
                <span class="light">{{ Lang.get('user.organisation_notifications_desc') }}</span>
            </div>
        </div>
    {% endif %}
{% endif %}
