{% extends parent_template %}

{% block title %}
    {{ Lang.get('core.license_info') }}
{% endblock %}

{% block content %}

    <h2>{{ Lang.get('core.license_status') }}</h2>

    <div class="form-container first">

        <div class="form-row">
            <label>{{ Lang.get('core.license_code') }}</label>
            <div class="input-container">
                <span id="spanLicenseText">
                    {{ license_key }} &nbsp;&nbsp;&nbsp;
                    <button id="spanLicenseUpdate">{{ Lang.get('core.change_license') }}</button>
                </span>
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_status') }}</label>
            <div class="input-container">
                <strong style="color:#090;">{{ Lang.get('general.active') }}</strong>
            </div>
        </div>

    </div>

    <h2>{{ Lang.get('core.license_info') }}</h2>

    <div class="form-container first">

        <div class="form-row">
            <label>{{ Lang.get('core.license_type') }}</label>
            <div class="input-container">
                {{ licenseInformation.productName }} -
                {% if licenseInformation.noBranding|default is not empty and licenseInformation.noBranding == 1 %}
                    {{ Lang.get('core.no_branding') }}
                {% else %}
                    {{ Lang.get('core.branding') }}
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_owner') }}</label>
            <div class="input-container">
                {{ licenseInformation.ownedBy }}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_created') }}</label>
            <div class="input-container">
                {{ licenseInformation.registered }}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_expires') }} {% if monthlyProduct %}*{% endif %}</label>
            <div class="input-container">
                {{ licenseInformation.expires }}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_valid_ip') }}</label>
            <div class="input-container">
                {{ licenseInformation.licenseIP }}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.license_path') }}</label>
            <div class="input-container">
                {{ licenseInformation.licenseDir }}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.additional_brands') }}</label>
            <div class="input-container">
                {{ licenseInformation.additionalBrands }}
                {% if licenseInformation.serviceid %}
                    &nbsp;
                    (<a href="https://www.supportpal.com/manage/upgrade.php?type=configoptions&id={{ licenseInformation.serviceid }}" target="_blank">{{ Lang.get('core.purchase_more') }}</a>)
                {% endif %}
                <br />
                <span class="description">{{ Lang.get('core.additional_brands_desc') }}</span>
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.no_branding') }}</label>
            <div class="input-container">
                {% if licenseInformation.noBranding %}{{ Lang.get('general.enabled') }}{% else %}{{ Lang.get('general.disabled') }}{% endif %}
                {% if not licenseInformation.noBranding %}
                    &nbsp;
                    (<a href="https://www.supportpal.com/manage/upgrade.php?type=configoptions&id={{ licenseInformation.serviceid }}" target="_blank">{{ Lang.get('core.purchase') }}</a>)
                {% endif %}
                <br />
                <span class="description">{{ Lang.get('core.no_branding_desc') }}</span>
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.multi_ip') }}</label>
            <div class="input-container">
                {% if licenseInformation.multiIp %}{{ Lang.get('general.enabled') }}{% else %}{{ Lang.get('general.disabled') }}{% endif %}
                {% if not licenseInformation.multiIp %}
                    &nbsp;
                    (<a href="https://www.supportpal.com/manage/upgrade.php?type=configoptions&id={{ licenseInformation.serviceid }}" target="_blank">{{ Lang.get('core.purchase') }}</a>)
                {% endif %}
                <br />
                <span class="description">{{ Lang.get('core.multi_ip_desc') }}</span>
            </div>
        </div>

    </div>

    {% if licenseInformation.supportStatus != 'N/A' %}
        <h2>{{ Lang.get('core.support_status') }}</h2>

        <div class="form-container first">

            <div class="form-row">
                <label>{{ Lang.get('core.support_status') }}</label>
                <div class="input-container">
                    {% if licenseInformation.supportStatus == 'Active' %}
                        <strong style="color: #27ae60;">{{ licenseInformation.supportStatus }}</strong>
                        {% if not monthlyProduct %}
                            &nbsp; ({{ Lang.get('core.renew_support')|raw }})
                        {% endif %}
                    {% elseif licenseInformation.supportStatus == 'Expired' %}
                        <strong style="color: #e74c3c;">{{ licenseInformation.supportStatus }}</strong> - {{ Lang.get('core.support_status_desc')|raw }}
                    {% else %}
                        {{ licenseInformation.supportStatus }}
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <label>{{ Lang.get('core.support_expires') }}</label>
                <div class="input-container">
                    {{ licenseInformation.supportExpires }}
                    {% if monthlyProduct %}
                        <br />
                        {{ Lang.get('core.monthly_product') }}
                    {% endif %}
                </div>
            </div>

        </div>
    {% endif %}

    <h2>{{ Lang.get('core.version_info') }}</h2>

    <div class="form-container first">

        <div class="form-row">
            <label>{{ Lang.get('core.installed_version') }}</label>
            <div class="input-container">
                {{ version.using() }}
                {% if version.isUpgradeAvailable() %}
                    &nbsp; <strong style="color: #e74c3c;">{{ Lang.get('Licensing::license.update') }}</strong>
                {% elseif version.isPreRelease() %}
                    &nbsp; <strong style="color: #e74c3c;">{{ Lang.get('Licensing::license.pre_release') }}</strong>
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <label>{{ Lang.get('core.available_version') }}</label>
            <div class="input-container">
                {{ version.latest() }}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts_footer %}
    <script type="text/javascript">
        $(function () {
            $('#spanLicenseUpdate').on('click', function () {

                swal({
                    title: Lang.get('core.change_license'),
                    html: '<p><input type="text" id="textLicenseForm" size="30" />',
                    showCancelButton: true,
                    confirmButtonText: Lang.choice('general.submit', 1),
                    closeOnConfirm: false
                }, function () {

                    swal.disableButtons();

                    $.post(laroute.route('core.operator.about.update'),
                            {licenseCode: $("#textLicenseForm").val()})

                            .done(function (data) {
                                swal(
                                    Lang.get('messages.success'),
                                    Lang.get('messages.success_updated', { 'item': Lang.get('core.license_code') }),
                                    'success'
                                );
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            })
                            .fail(function (data) {
                                swal(
                                    Lang.get('messages.error'),
                                    Lang.get('messages.error_updated', { 'item': Lang.get('core.license_code') }),
                                    'error'
                                );
                            });
                });
            });
        });
    </script>
{% endblock %}
