{% extends parent_template %}

{% block scripts_header %}
    <link href="{{ asset_rev('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    {% if record|default is not empty %}
    	{{ record.formatted_name }} -
    {% endif %}
    {{ Lang.get('core.email_log') }}
{% endblock %}

{% block content %}

    {% if record|default is not empty %}
        {% include 'operator.' ~ template ~ '.user.forms.user_tabs' %}
    {% endif %}

    <div class="grid-options options box">
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
        	<div>
                <label>{{ Lang.get('general.date') }}:</label>
                <div>
                    {{ form_text('sSearch_0_start', null, { 'class': 'datepicker', 'placeholder': '&#xf073; &nbsp;' ~ Lang.get('general.start') ~ ' ' ~ Lang.get('general.date'), 'size': 14 }) }}{{ form_button('x', { 'class': 'reset-filter' }) }}
                    &nbsp;{{ Lang.get('general.to') }}&nbsp;
                    {{ form_text('sSearch_0_end', null, { 'class': 'datepicker', 'placeholder': '&#xf073; &nbsp;' ~ Lang.get('general.end') ~ ' ' ~ Lang.get('general.date'), 'size': 14 }) }}{{ form_button('x', { 'class': 'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.get('general.type') }}:</label>
                <div>
                	{{ form_select('sSearch_1', { '-1': Lang.get('general.select_value'), 0: Lang.get('core.outgoing'), 1: Lang.get('core.incoming'), 2: Lang.get('core.incoming_spam'), 3: Lang.get('core.incoming_throttled') }) }}{{ form_button('x', { 'class': 'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.get('ticket.to') }}:</label>
                <div>
                	{{ form_text('sSearch_2', null, { 'placeholder': Lang.get('general.type_to_filter') }) }}{{ form_button('x', { 'class': 'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.get('ticket.from') ~ ' ' ~ Lang.get('general.name') }}:</label>
                <div>
                	{{ form_text('sSearch_3', null, { 'placeholder': Lang.get('general.type_to_filter') }) }}{{ form_button('x', { 'class':  'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.get('ticket.from') ~ ' ' ~ Lang.get('general.address') }}:</label>
                <div>
                	{{ form_text('sSearch_4', null, { 'placeholder': Lang.get('general.type_to_filter') }) }}{{ form_button('x', { 'class':  'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.get('ticket.subject') }}:</label>
                <div>
                	{{ form_text('sSearch_5', null, { 'placeholder': Lang.get('general.type_to_filter') }) }}{{ form_button('x', { 'class':  'reset-filter' }) }}
                </div>
            </div>
            <div>
                <label>{{ Lang.choice('general.message', 1) }}:</label>
                <div>
                	{{ form_text('sSearch_6', null, { 'placeholder': Lang.get('general.type_to_filter') }) }}{{ form_button('x', { 'class':  'reset-filter' }) }}
                </div>
            </div>
        </div>
	</div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <script src="{{ asset_rev('resources/assets/libs/moment/js/moment.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.jquery.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/pikaday/css/pikaday.css') }}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/queryfiltering.js') }}"></script>

    <script type="text/javascript">
        $(document).tooltip({
            selector: '[data-toggle="tooltip"]',
            position: {
                my: "center bottom-12",
                at: "center top",
                using: function( position, feedback ) {
                    $( this ).css( position );
                    $( "<div>" )
                            .addClass( "arrow" )
                            .addClass( feedback.vertical )
                            .addClass( feedback.horizontal )
                            .appendTo( this );
                }
            }
        });
    </script>
{% endblock %}