<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ record.subject }}</title>

    <!-- CSS Stylesheets -->
    <link href="{{ asset_rev('resources/assets/frontend/css/main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset_rev('resources/assets/operator/css/email.css') }}" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
</head>

<body style="margin: 25px;">

    <div class="desk_wrapper" style="width: auto;">

        <div id="desk_content" style="width: auto;">

            <h2>{{ Lang.choice('general.detail', 2) }}</h2>

            <div class="desk_content_padding" style="padding: 25px 25px 0; margin-bottom: 25px;">

                <div class="form-row">
                    <label>{{ Lang.get('ticket.subject') }}</label>
                    <div class="input-container">
                        {{ record.subject }}
                    </div>
                </div>

                <div class="form-row">
                    <label>{{ Lang.get('general.date') }}</label>
                    <div class="input-container">
                        {{ formatDate(record.created_at) }}
                    </div>
                </div>

                {% if record.type|default is not empty %}
                <div class="form-row">
                    <label>{{ Lang.get('general.type') }}</label>
                    <div class="input-container">
                        {% if record.type == 0 %}
                            {{ Lang.get('core.outgoing') }}
                        {% elseif record.type == 1 %}
                            {{ Lang.get('core.incoming') }}
                        {% elseif record.type == 2 %}
                            {{ Lang.get('core.incoming_spam') }}
                        {% elseif record.type == 3 %}
                            {{ Lang.get('core.incoming_throttled') }}
                        {% else %}
                            {{ Lang.get('core.incoming_rejected') }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="form-row">
                    <label>{{ Lang.get('ticket.from') }}</label>
                    <div class="input-container">
                        {{ record.getFromAddress()|raw }}
                    </div>
                </div>

                {% if record.to is not empty %}
                <div class="form-row">
                    <label>{{ Lang.get('ticket.to') }}</label>
                    <div class="input-container">
                        {{ implode(", ", record.to) }}
                    </div>
                </div>
                {% endif %}

                {% if record.reply_to is not empty %}
                <div class="form-row">
                    <label>{{ Lang.get('core.reply_to') }}</label>
                    <div class="input-container">
                        {{ record.reply_to }}
                    </div>
                </div>
                {% endif %}

                {% if record.cc is not empty %}
                <div class="form-row">
                    <label>{{ Lang.get('ticket.cc') }}</label>
                    <div class="input-container">
                        {{ implode(", ", record.cc) }}
                    </div>
                </div>
                {% endif %}

                {% if record.bcc is not empty %}
                    <div class="form-row">
                        <label>{{ Lang.get('ticket.bcc') }}</label>
                        <div class="input-container">
                            {{ implode(", ", record.bcc) }}
                        </div>
                    </div>
                {% endif %}

            </div>

            <h2>{{ Lang.get('general.content') }}</h2>

            <div class="desk_content_padding" style="padding: 25px;">
                {{ Purifier.clean(record.contents) }}
            </div>
            
            {% if record.attachments.count() > 0 %}
                <div class="email_attachments">
                    <h2>{{ Lang.choice('general.attachment', 2) }}</h2>

                    <div class="desk_content_padding" style="padding: 25px;">
                        {% for attachment in record.attachments %}
                            <div class="email_attachment">
                                <span style="background: #f5f5f5; display: inline-block; margin-top: 2px; padding: 5px 12px;">
                                    {{ attachment.filename }}
                                    &nbsp;<span style="color:#999;">({{ attachment.size }})</span> &nbsp;
                                    <a class="delete-attachment" title="{{ Lang.get('general.delete') }}" data-url="{{ route('core.operator.emailqueueattachment.destroy', {'queueId': record.id, 'attachmentId': attachment.id }) }}">
                                        <i class='fa fa-times'></i>
                                    </a>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if record.raw is not empty %}
                <a href="{{ route('core.operator.email.log.raw', [ record.id ]) }}" class="button">
                    {{ Lang.get('core.view_original') }}
                </a> &nbsp;&nbsp;
                <a href="{{ route('core.operator.email.log.download_raw', [ record.id ]) }}" target="_blank" class="button">
                    {{ Lang.get('core.download_original') }}
                </a>
            {% endif %}

        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            // Open links in a new window/tab
            $('.desk_content_padding a').attr('target', '_blank');
            
            // Delete attachment.
            $(document).on('click', '.delete-attachment', function (e) {
                e.preventDefault();
                
                var $this = $(this);

                $.ajax({
                    url: $(this).data('url'),
                    type: 'DELETE',
                    data: { '_token': '{{ csrf_token() }}' }
                }).done(function(response) {
                    if (response.status == 'success') {
                        $this.parent('span').parent().remove();

                        // If we've deleted all the attachments, then hide the attachments section.
                        if ($('.email_attachment').length === 0) {
                            $('.email_attachments').remove();
                        }
                    } else {
                        alert($('{{ Lang.get('messages.not_logged_exception')|raw }}').text());
                    }
                }).fail(function () {
                    alert($('{{ Lang.get('messages.not_logged_exception')|raw }}').text());
                });
            });
        });
    </script>

</body>

</html>