{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {{ Lang.choice('core.email_template', 2) }}
{% endblock %}

{% block content %}

    <div class="success box delete hide">
        {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('core.email_template', 1), 'UTF-8') }) }}
    </div>
    <div class="fail box delete hide">
        {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('core.email_template', 1), 'UTF-8') }) }}
    </div>

    <div class="grid-options options box">
        <a href="{{ route('core.operator.emailtemplate.create') }}">
            <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('general.add') }} {{ Lang.choice('core.email_template', 1) }}
        </a>
    </div>

    <ul class="tabs">
        <li id="User" class="active">{{ Lang.choice('user.user', 1) }}</li>
        <li id="Operator">{{ Lang.choice('general.operator', 1) }}</li>
        <li id="Custom">{{ Lang.get('general.custom') }}</li>
    </ul>

    <div id="tabUser" class="tabContent">

        <div class="grid-options options box">
            <a class="filter-results">
                <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
            </a>

            <div class="filters hide">
                <div>
                    <label>{{ Lang.get('general.name') }}:</label>
                    <div id="filter_name_user"></div>
                </div>
            </div>
        </div>

        {{ userTable.render()|raw }}
        {{ userTable.script()|raw }}

        <script type="text/javascript">
            $(document).ready(function() {
                /**
                 * Initialise the filters
                 */
                oTable.yadcf([
                    {column_number : 0, column_data_type: "text", filter_container_id: "filter_name_user", filter_type: "text", filter_delay: 500}
                ]);
            });
        </script>

    </div>

    <div id="tabOperator" class="tabContent hide">

        <div class="grid-options options box">
            <a class="filter-results">
                <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
            </a>

            <div class="filters hide">
                <div>
                    <label>{{ Lang.get('general.name') }}:</label>
                    <div id="filter_name_operator"></div>
                </div>
            </div>
        </div>

        {{ operatorTable.render()|raw }}
        {{ operatorTable.script()|raw }}

        <script type="text/javascript">
            $(document).ready(function() {
                /**
                 * Initialise the filters
                 */
                oTable.yadcf([
                    {column_number : 0, column_data_type: "text", filter_container_id: "filter_name_operator", filter_type: "text", filter_delay: 500}
                ]);
            });
        </script>

    </div>

    <div id="tabCustom" class="tabContent hide">

        <div class="grid-options options box">
            <a class="filter-results">
                <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
            </a>

            <div class="filters hide">
                <div>
                    <label>{{ Lang.get('general.name') }}:</label>
                    <div id="filter_name_custom"></div>
                </div>
            </div>
        </div>

        {{ customTable.render()|raw }}
        {{ customTable.script()|raw }}

    </div>

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <!-- Filtering and delay loading some tables -->
    <script src="{{ asset_rev('resources/assets/operator/js/datatable/deferloading.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name_custom", filter_type: "text", filter_delay: 500}
            ]);

            /**
             * Defer loading some datatables
             */
            defferedDatatables({
                'Operator': false,
                'Custom': false
            });
        });
    </script>
{% endblock %}