<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ Lang.get('core.product_name') }} - {{ Lang.get('core.operator_panel') }}{% endblock %}</title>

    <!-- CSS -->
    <link href="{{ asset_rev('resources/assets/operator/css/login.css') }}" rel="stylesheet" type="text/css" />

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset_rev('resources/assets/operator/images/favicon/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset_rev('resources/assets/operator/images/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset_rev('resources/assets/operator/images/favicon/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset_rev('resources/assets/operator/images/favicon/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset_rev('resources/assets/operator/images/favicon/favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="SupportPal"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset_rev('resources/assets/operator/images/favicon/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset_rev('resources/assets/operator/images/favicon/mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset_rev('resources/assets/operator/images/favicon/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset_rev('resources/assets/operator/images/favicon/mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset_rev('resources/assets/operator/images/favicon/mstile-310x310.png') }}" />

    <!-- Javascript -->
    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/main.js') }}" type="text/javascript"></script>

    <!-- Laravel Javascript Validation -->
    <script type="text/javascript" src="{{ asset_rev('resources/assets/libs/jquery-validation/js/jquery.validate.min.js')}}"></script>

    {% block scripts_header %}{% endblock %}
</head>

<body>

    <div class="container">

        <div class="wrapper" style="min-width: 400px; max-width: 400px;">

            <img src="{{ asset_rev('resources/assets/operator/images/favicon/apple-touch-icon-144x144.png') }}"
                 alt="{{ Lang.get('core.product_name') }}" width="72" />

            <h1>{{ Lang.get('license.license_invalid') }}</h1>

            <div class="white-box">

                {% if Session.has('error') and errors|default is empty and not errors.has() %}
                    <div class="error">{{ Session.get('error') }}</div>
                {% endif %}
                {% if Session.has('success') %}
                    <div class="success">{{ Session.get('success') }}</div>
                {% endif %}

                {% if errors|default is not empty and errors.has() %}
                    <div class="error box">
                        <strong>{{ Lang.get('messages.please_correct') }}</strong><br />
                        {% for error in errors.all() %}
                            {{ error }}<br />
                        {% endfor %}
                    </div>
                {% endif %}

                <div style="text-align:left;">

                    {% if licenseResponse is not empty %}
                        <h3 style="margin-top: 0">{{ Lang.get('license.server_response') }}: </h3>
                        {{ licenseResponse }}<br />
                    {% else %}
                        <h3 style="margin-top: 0">{{ Lang.get('license.reasons') }}</h3>
                        <ul>
                            {% for reason in licenseStatusReasons %}
                            <li>{{ reason }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <br />

                    {{ Lang.get('license.need_to_reissue')|raw }}

                    <a href="{{ route('core.operator.dashboard') }}" class="button primary">
                        {{ Lang.get('general.retry') }}
                    </a>

                    <a class="license-key button">{{ Lang.get('license.enter_new_key') }}</a>

                    <div class="enter-license" style="display: none;">

                        <hr />

                        <h3>{{ Lang.get('license.new_key') }}</h3>

                        <p>{{ Lang.get('license.enter_key') }}</p>

                        {{ form_open({ 'method': 'POST', 'route': 'core.operator.license.update' }) }}

                            {{ csrf_field() }}
                            {{ form_text('license_key', null, {'placeholder': Lang.get('license.license_key')}) }}

                            {{ form_submit(Lang.get('license.submit')) }}

                        {{ form_close() }}

                    </div>

                </div>

            </div>

            <div id="forgotbox">
                <a href="http://www.supportpal.com/manage/" target="_blank">{{ Lang.get('license.assistance') }}</a>
            </div>

        </div>

    </div>

    {% block scripts_footer %}
        <script type="text/javascript">
            $(document).ready(function() {
                // Handle forgotten click
                $('.license-key').bind('click', function() {
                    $('.license-key, .enter-license').toggle();
                    $('.enter-license input[type=text]').focus();
                });
            });
        </script>
    {% endblock %}

</body>

</html>