{% extends 'operator.' ~ template ~ '.user.login-master' %}

{% block scripts_header %}
    <style>
        .wrapper {
            min-width: 400px;
            max-width: 400px;
        }
    </style>
{% endblock %}

{% block content_title %}
    <h1>{{ Lang.get('license.license_invalid') }}</h1>
{% endblock %}

{% block content %}
    <div class="white-box">

        <noscript class="error" style="display: block">
            {{ Lang.get('core.javascript_required') }}
        </noscript>

        {% if Session.has('error') and errors|default is empty and not errors.count() %}
            <div class="error">{{ Session.get('error') }}</div>
        {% endif %}
        {% if Session.has('success') %}
            <div class="success">{{ Session.get('success') }}</div>
        {% endif %}

        {% if errors|default is not empty and errors.count() %}
            <div class="error box">
                <strong>{{ Lang.get('messages.please_correct') }}</strong><br />
                {% for error in errors.all() %}
                    {{ error }}<br />
                {% endfor %}
            </div>
        {% endif %}

        <div style="text-align:left;">

            {% if licenseResponse is not empty %}
                <h3 style="margin-top: 0">{{ Lang.get('license.server_response') }}: </h3>
                {{ licenseResponse }}<br />
            {% else %}
                <h3 style="margin-top: 0">{{ Lang.get('license.reasons') }}</h3>
                <ul>
                    <li>{{ Lang.get('license.incorrect_license') }}</li>
                    <li>
                        {{ Lang.get('license.ip_changed') }}
                        {% if not licenseInformation.multiIp %}
                            <br />
                            {{ Lang.get('license.multi_ip_support', {'href': 'https://www.supportpal.com/manage/upgrade.php?type=configoptions&id=' ~ licenseInformation.serviceid|e})|raw }}
                        {% endif %}
                    </li>
                    <li>{{ Lang.get('license.domain_changed') }}</li>
                </ul>
            {% endif %}

            <br />

            {{ Lang.get('license.need_to_reissue')|raw }}

            <button class="button retry primary">{{ Lang.get('general.retry') }}</button>

            <a class="license-key button">{{ Lang.get('license.enter_new_key') }}</a>

            <div class="enter-license" style="display: none;">

                <hr />

                <h3>{{ Lang.get('license.new_key') }}</h3>

                <p>{{ Lang.get('license.enter_key') }}</p>

                {{ form_open({ 'method': 'POST', 'route': 'core.operator.license.update' }) }}

                    {{ csrf_field() }}
                    {{ form_text('license_key', null, {'placeholder': Lang.get('license.license_key')}) }}

                    {{ form_submit(Lang.get('license.submit')) }}

                {{ form_close() }}

            </div>

        </div>

    </div>

    <div id="forgotbox">
        <a href="http://www.supportpal.com/manage/" target="_blank">{{ Lang.get('license.assistance') }}</a>
    </div>
{% endblock %}

{% block scripts_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Handle forgotten click
            $('.license-key').on('click', function() {
                $('.license-key, .enter-license').toggle();
                $('.enter-license input[type=text]').trigger('focus');
            });

            // Handle retry event.
            $('.retry').on('click', function (e) {
                e.preventDefault();

                var $this = $(this),
                    originalText = $this.text();

                // Disable the retry button.
                $this.prop('disabled', 'disabled');

                // Force a call home to validate the license.
                $.get('{{ route('core.operator.license.check') }}')
                    .done(function (data) {
                        if (data.status == 'success') {
                            swal({
                                type: 'success',
                                title: '{{ Lang.get('license.license_valid') }}',
                                confirmButtonText: '{{ Lang.get('core.go_to_dashboard') }}',
                                closeOnConfirm: false,
                                closeOnCancel: false,
                                allowOutsideClick: false
                            }, function () {
                                swal.disableButtons();

                                // Redirect the user to the dashboard.
                                window.location.replace('{{ route('core.operator.dashboard') }}');
                            });
                        } else {
                            swal('{{ Lang.get('license.license_invalid') }}', data.message, 'error');
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                         swal('{{ Lang.get('messages.error') }}', jqXHR.responseText, 'error');
                    })
                    .always(function () {
                        // Enable the retry button.
                        $this.removeAttr('disabled');
                        $this.html(originalText);
                    });
            });
        });
    </script>
{% endblock %}
