{% extends parent_template %}

{% block scripts_header %}
    <link href="{{ asset_rev('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    {{ Lang.choice('general.message', 2) }}
{% endblock %}

{% block content %}

    <ul class="tabs">
        <li id="Inbox" class="active">{{ Lang.get('core.inbox') }}</li>
        <li id="Compose">{{ Lang.get('core.compose') }}</li>
    </ul>

    <div id="tabInbox" class="tabContent">

        <div class="success box delete hide">
            {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('general.message', 1), 'UTF-8') }) }}
        </div>
        <div class="fail box delete hide">
            {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('general.message', 1), 'UTF-8') }) }}
        </div>

        {{ table.render()|raw }}
        {{ table.script()|raw }}

    </div>

    <div id="tabCompose" class="tabContent hide">

        {{ form_open({ 'method': 'POST', 'route': 'core.operator.message.store', 'class': 'validate' }) }}

            <div class="form-row form-full">
                {{ form_label('to_user_id', Lang.get('core.send_to')) }}
                <div class="input-container">
                    {{ form_select('to_user_id', operators) }}
                </div>
            </div>

            <div class="form-row form-full">
                {{ form_label('message', Lang.choice('general.message', 1)) }}
                <div class="input-container">
                    {{ form_redactor('message', null, { 'size': '50x3' }) }}
                </div>
            </div>

            {{ form_submit(Lang.get('general.send')) }}
            
        {{ form_close() }}

    </div>

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
    
    <!-- Datatables -->
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <!-- Code Editor -->
    <script src="{{ asset_rev('resources/assets/libs/codemirror/js/codemirror.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset_rev('resources/assets/libs/codemirror/css/codemirror.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $composeEditor = $('textarea').redactor($.extend($.Redactor.default_opts, {
                plugins: ['syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize']
            }));

            $(document).on('click', '.tabs li#Compose', function (e) {
                $composeEditor.redactor('focus.setStart');
            });
        });
    </script>
{% endblock %}