<div class="sidebox">
    <h3 id="generalSettingsBox" class="collapsable {% if module != 'core' %}closed{% endif %}">
        <i class="fa fa-cog icon"></i>
        {{ Lang.get('general.general') }}
        <div class="arrow">
            <i class="fa {% if module == 'core' %}fa-chevron-down{% else %}fa-chevron-up{% endif %}"></i>
        </div>
    </h3>
    <ul {% if module != 'core' %}class="hide"{% endif %}>
        {% if auth_user().hasPermission('view.apitoken') %}
        <li {% if route starts with 'core.operator.apitoken' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.apitoken.index') }}">{{ Lang.choice('core.api_token', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.brand') %}
        <li {% if route starts with 'core.operator.brand' %}class="current"{% endif %}>
            <a id="brandSettings" href="{{ route('core.operator.brand.index') }}">{{ Lang.choice('core.brand', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.emailtemplate') %}
        <li {% if route starts with 'core.operator.emailtemplate' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.emailtemplate.index') }}">{{ Lang.choice('core.email_template', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.coresetting') %}
        <li {% if route starts with 'core.operator.generalsetting' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.generalsetting') }}">{{ Lang.get('general.generalsetting') }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.ipban') %}
        <li {% if route starts with 'core.operator.ipban' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.ipban.index') }}">{{ Lang.choice('core.ip_ban', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.ipwhitelist') %}
        <li {% if route starts with 'core.operator.ipwhitelist' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.ipwhitelist.index') }}">{{ Lang.get('core.ip_whitelist') }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.language') %}
        <li {% if route starts with 'core.operator.language' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.language.index') }}">{{ Lang.choice('general.language', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.module') %}
        <li {% if route starts with 'core.operator.module' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.module.index') }}">{{ Lang.choice('core.modules', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.scheduledtask') %}
        <li id="scheduledTaskSetting" {% if route starts with 'core.operator.scheduledtask' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.scheduledtask.index') }}">{{ Lang.choice('core.scheduled_task', 2) }}</a>
        </li>
        {% endif %}

        {% if auth_user().hasPermission('view.spamrule') %}
        <li {% if route starts with 'core.operator.spamrule' %}class="current"{% endif %}>
            <a href="{{ route('core.operator.spamrule.index') }}">{{ Lang.choice("core.spam_rule", 2) }}</a>
        </li>
        {% endif %}
    </ul>
</div>