{% extends parent_template %}

{% block title %}
    {{ Lang.choice('core.widget', 2) }}
{% endblock %}

{% block content %}

    {% include 'operator.' ~ template ~ '.core.plugin_tabs' with { 'isWidgets': true } %}

	<div class="success box delete hide">
        {{ Lang.get('messages.success_deleted', { 'item': Lang.choice('core.widget', 1) }) }}
    </div>
    <div class="fail box delete hide">
        {{ Lang.get('messages.error_deleted', { 'item': Lang.choice('core.widget', 1) }) }}
    </div>

    <div class="grid-options options box">
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.name') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div>
                <label>{{ Lang.choice('general.status', 1) }}:</label>
                <div id="filter_status"></div>
            </div>
            <div>
                <label>{{ Lang.get('general.description') }}:</label>
                <div id="filter_description"></div>
            </div>
        </div>
    </div>

	{{ table.render()|raw }}
	{{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <!-- Filter the table -->
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text", filter_delay: 500},
                {column_number : 1, filter_container_id: "filter_status"},
                {column_number : 2, column_data_type: "text", filter_container_id: "filter_description", filter_type: "text", filter_delay: 500}
            ]);

            $(document.body).on('click', '.uninstall-plugable', function() {
                // Get URL
                var url = $(this).data('link');

                // Show the alert
                swal({
                    title: Lang.get('messages.are_you_sure'),
                    text: "{{ Lang.get('core.uninstall_plugable_warning', {'plugable': mb_strtolower(Lang.choice('core.widget', 1), 'UTF-8')}) }}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#e74c3c",
                    confirmButtonText: Lang.get('messages.yes_im_sure'),
                    closeOnConfirm: false
                }, function(isConfirm) {
                    if (isConfirm) {
                        // Disable submit button
                        swal.disableButtons();
                        // Redirect to URL
                        window.location.href = url;
                    }
                });
            });
        });
    </script>
{% endblock %}