<tr class="rule {% if hide|default is not empty %} hide {% endif %}">
    <td class="rule-action">
        {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][id]', rule|default is not empty ? rule.id : '') }}
        {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][action]', actions, rule|default is not empty ? rule.action : null) }}
        {% if rule|default is not empty %}<a name="_action-{{ rule.id }}"></a>{% endif %}
    </td>
    
    {% if when|default is not empty %}
    <td class="rule-when">
        {{ form_text('rules[' ~ (count is defined ? count : '') ~ '][when_time]',
            rule|default is not empty ? number_format(rule.when_time / 3600, 2) + 0 : 1, { 'class': 'hide', 'size': 4 })
        }}

        {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][when]',
            {
                '0': Lang.get('general.overdue'),
                '1': Lang.get('general.hours_before_overdue')
            }, rule|default is not empty ? rule.when : 0)
        }}
    </td>
    {% endif %}
    
    <td class="rule-value">
        <div class="action" data-action="0">
            {{ form_redactor('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 0 ? rule.value_text : null,
                {'class': 'text'})
            }}
        </div>

        <div class="action hide" data-action="1">
            {{ form_redactor('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 1 ? rule.value_text :
                '<br /><br />{{ operator.signature }}',
                {'class': 'text'})
            }}
        </div>

        <div class="action hide" data-action="2">
            {% if tags is not defined or tags is empty %}
                {{ Lang.get('ticket.no_tags', { 'route': route('ticket.operator.tag.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    tags, rule|default is not empty and rule.action == 2 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="3">
            {% if operators is not defined or operators is empty %}
                {{ Lang.get('ticket.no_operators_found', { 'route': route('user.operator.operator.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    operators, rule|default is not empty and rule.action == 3 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="4">
            {% if tags is not defined or tags is empty %}
                {{ Lang.get('ticket.no_tags', { 'route': route('ticket.operator.tag.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    {'0': Lang.get('actions.all_tags')} + tags, rule|default is not empty and rule.action == 4 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="5">
            {% if templates.isEmpty() %}
                {{ Lang.get('ticket.no_templates', { 'route': route('core.operator.emailtemplate.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    array_column(templates.toArray(), 'name', 'id'), rule|default is not empty and rule.action == 5 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="6">
            {% if templates.isEmpty() %}
                {{ Lang.get('ticket.no_templates', { 'route': route('core.operator.emailtemplate.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    array_column(templates.toArray(), 'name', 'id'), rule|default is not empty and rule.action == 6 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="7">
            {% if departments is not defined or departments is empty %}
                {{ Lang.get('ticket.no_departments_found', { 'route': route('ticket.operator.department.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    departments, rule|default is not empty and rule.action == 7 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="8">
            {% if priorities is not defined or priorities is empty %}
                {{ Lang.get('ticket.no_priorities', { 'route': route('ticket.operator.priority.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    priorities, rule|default is not empty and rule.action == 8 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="9">
            {% if statuses is not defined or statuses is empty %}
                {{ Lang.get('ticket.no_statuses', { 'route': route('ticket.operator.status.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    statuses, rule|default is not empty and rule.action == 9 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="10">
            {% if templates.isEmpty() %}
                {{ Lang.get('ticket.no_templates', { 'route': route('core.operator.emailtemplate.create') })|raw }}
            {% elseif operatorGroups is not defined or operatorGroups is empty %}
                {{ Lang.get('ticket.no_operator_groups', { 'route': route('user.operator.operatorgroup.create') })|raw }}
            {% else %}
                {{ Lang.choice('user.operator_group', 1) }} &nbsp;
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    operatorGroups, rule|default is not empty and rule.action == 10 ? rule.value_id : null)
                }}
                &nbsp;
                {{ Lang.choice('core.email_template', 1) }} &nbsp;
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                    array_column(templates.toArray(), 'name', 'id'), rule|default is not empty and rule.action == 10 ? rule.value_text : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="11">
            {% if templates.isEmpty() %}
                {{ Lang.get('ticket.no_templates', { 'route': route('core.operator.emailtemplate.create') })|raw }}
            {% elseif userGroups is not defined or userGroups is empty %}
                {{ Lang.get('ticket.no_user_groups', { 'route': route('user.operator.usergroup.create') })|raw }}
            {% else %}
                {{ Lang.choice('user.group', 1) }} &nbsp;
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    userGroups, rule|default is not empty and rule.action == 11 ? rule.value_id : null)
                }}
                &nbsp;
                {{ Lang.choice('core.email_template', 1) }} &nbsp;
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                    array_column(templates.toArray(), 'name', 'id'), rule|default is not empty and rule.action == 11 ? rule.value_text : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="12">
            {% if operators is not defined or operators is empty %}
                {{ Lang.get('ticket.no_operators_found', { 'route': route('user.operator.operator.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    {'-1': Lang.get('actions.all_assigned_operators')} + operators, rule|default is not empty and rule.action == 12 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="13">
            {% if ticketCustomFields is not defined or ticketCustomFields.isEmpty() %}
                {{ Lang.get('ticket.no_custom_fields', { 'route': route('ticket.operator.customfield.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    array_column(ticketCustomFields.toArray(), 'name', 'id'),
                    rule|default is not empty and rule.action == 13 ? rule.value_id : null, {'class': 'value-id'})
                }} &nbsp;
                {% include 'operator.' ~ template ~ '.ticket.forms.escalation_rule_customfields' with {'customfields': ticketCustomFields} %}
            {% endif %}
        </div>

        <div class="action hide" data-action="14">
            {{ Lang.get('general.na') }}
            {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][value_id]', 1) }}
        </div>

        <div class="action hide" data-action="15">
            {{ Lang.get('general.na') }}
            {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][value_id]', 1) }}
        </div>

        <div class="action hide" data-action="16">
            {{ form_text('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 16 ? rule.value_text : null, {'size': 3})
            }}&nbsp; {{ Lang.get('actions.hours_to_be_added') }}<br />
            <span class="description">{{ Lang.get('actions.only_with_due_time') }}</span>
        </div>

        <div class="action hide" data-action="17">
            {{ Lang.get('general.na') }}
            {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][value_id]', 1) }}
        </div>

        <div class="action hide" data-action="18">
            {{ Lang.get('general.na') }}
            {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][value_id]', 1) }}
        </div>

        <div class="action hide" data-action="19">
            {{ form_text('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 19 ? rule.value_text : null, {'size': 3})
            }}&nbsp; {{ Lang.get('actions.hours_to_be_removed') }}<br />
            <span class="description">{{ Lang.get('actions.only_with_due_time') }}</span>
        </div>

        <div class="action hide" data-action="20">
            {{ form_text('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 20 ? rule.value_text : null, {'size': 3})
            }}&nbsp; {{ Lang.get('actions.hours_to_be_set') }}<br />
            <span class="description">{{ Lang.get('actions.set_due_time_desc') }}</span>
        </div>

        <div class="action hide" data-action="21">
            {{ Lang.get('general.na') }}
            {{ form_hidden('rules[' ~ (count is defined ? count : '') ~ '][value_id]', 1) }}
        </div>

        <div class="action hide" data-action="22">
            {% if slaplans is not defined or slaplans is empty %}
                {{ Lang.get('ticket.no_slaplans', { 'route': route('ticket.operator.slaplan.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    {'0': Lang.get('general.none')} + slaplans, rule|default is not empty and rule.action == 22 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="23">
            {{ form_text('rules[' ~ (count is defined ? count : '') ~ '][value_text]',
                rule|default is not empty and rule.action == 23 ? rule.value_text : '{{ ticket.subject }}', {'style': 'width: 100%'})
            }}
            <div class="warning box bottombox">
                {{ Lang.get('actions.subject_placeholder') }}
            </div>
        </div>

        <div class="action hide" data-action="24">
            {% if userGroups is not defined or userGroups is empty %}
                {{ Lang.get('ticket.no_user_groups', { 'route': route('user.operator.usergroup.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    userGroups, rule|default is not empty and rule.action == 24 ? rule.value_id : null)
                }}
            {% endif %}
        </div>

        <div class="action hide" data-action="25">
            {% if userGroups is not defined or userGroups is empty %}
                {{ Lang.get('ticket.no_user_groups', { 'route': route('user.operator.usergroup.create') })|raw }}
            {% else %}
                {{ form_select('rules[' ~ (count is defined ? count : '') ~ '][value_id]',
                    userGroups, rule|default is not empty and rule.action == 25 ? rule.value_id : null)
                }}
            {% endif %}
        </div>
    </td>
    <td>
        <i class="fa fa-times right remove-button"></i>
    </td>
</tr>