{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if record|default is not empty and record.exists %}
        {{ Lang.get('general.edit_item', {'item': Lang.choice('ticket.feedback_form', 1)}) }}
    {% else %}
        {{ Lang.get('general.add_item', {'item': Lang.choice('ticket.feedback_form', 1)}) }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if record|default is not empty and record.exists %}
        {{ form_model(record, { 'route': [ 'ticket.operator.feedbackform.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}
    {% else %}
        {{ form_open({ 'route': 'ticket.operator.feedbackform.store', 'class': 'validate' }) }}
    {% endif %}

        <div class="form-container open first">

            <div class="form-row">
                {{ form_label('name', Lang.get('general.name')) }}
                <div class="input-container translatable small-translatable">
                    {{ form_translatable_text(record, 'name') }}
                </div>
            </div>

            <div class="form-row form-full">
                {{ form_label('description', Lang.get('general.description')) }}
                <div class="input-container translatable">
                    {{ form_translatable_text(record, 'description') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('email_template_id', Lang.choice('core.email_template', 1)) }}
                <div class="input-container">
                    {{ form_select('email_template_id', templates, record.email_template_id|default is not empty ? record.email_template_id : 25) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('time_after_resolved', Lang.get('ticket.time_after_resolved')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('resolved_time_days',
                            resolved_time_days|default is not empty ? resolved_time_days : 1,
                            { 'size': 3 })
                        }}<div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('resolved_time_hours',
                            resolved_time_hours|default is not empty ? resolved_time_hours : 0,
                            { 'size': 3, 'style': "border-left: 0; border-right: 0;" })
                        }}<div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('resolved_time_minutes',
                            resolved_time_minutes|default is not empty ? resolved_time_minutes : 0,
                            { 'size': 3 })
                        }}<div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <div class="description">{{ Lang.get('ticket.time_after_resolved_desc') }}</div>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('expiry_time', Lang.get('ticket.expires_after')) }}
                <div class="input-container">
                    <div class="duration">
                        {{ form_text('expiry_time_days',
                            expiry_time_days|default is not empty ? expiry_time_days : 7,
                            { 'size': 3 })
                        }}<div class="description">{{ Lang.choice('general.day', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('expiry_time_hours',
                            expiry_time_hours|default is not empty ? expiry_time_hours : 0,
                            { 'size': 3, 'style': "border-left: 0; border-right: 0;" })
                        }}<div class="description">{{ Lang.choice('general.hour', 2) }}</div>
                    </div><div class="duration">
                        {{ form_text('expiry_time_minutes',
                            expiry_time_minutes|default is not empty ? expiry_time_minutes : 0,
                            { 'size': 3 })
                        }}<div class="description">{{ Lang.choice('general.minute', 2) }}</div>
                    </div><br />
                    <div class="description">{{ Lang.get('ticket.expires_after_desc') }}</div>
                </div>
            </div>

        </div>

        <h2>{{ Lang.get('ticket.form_conditions') }}</h2>
        <h2 class="description">{{ Lang.get('ticket.form_conditions_desc') }}</h2>

        <div class="form-container open first">
            {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' with { 'hide': true } %}

            {% if oldGroups|default is not empty and oldGroups is not empty %}
                {# In case there was an error and we're trying to show what they attempted to save #}
                {% for groupId, group in oldGroups %}
                    {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' %}
                {% endfor %}
            {% else %}
                {% for groupId, group in record.conditiongroups %}
                    {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' %}
                {% endfor %}
            {% endif %}

            <div class="form-row">
                <span class="plan-conditiongroup-type" style="margin-right: 13px;">
                    {{ form_select('condition_group_type', { 0: Lang.get('ticket.all_groups'), 1: Lang.get('ticket.any_group') },
                        record.condition_group_type|default is not empty ? record.condition_group_type : 0) }}
                </span>
                {{ form_button(Lang.get('general.add_item', {'item': Lang.get('ticket.condition_group')}), { 'class': 'add-conditiongroup' }) }}
            </div>
        </div>

        <h2>{{ Lang.get('ticket.form_fields') }}</h2>
        <h2 class="description">{{ Lang.get('ticket.form_fields_desc') }}</h2>

        <div class="form-container open first">

            <table class="field-table settings {% if oldFields is not defined and record.fields.isEmpty() %} hide {% endif %}">
                <thead>
                    <tr>
                        <th>{{ Lang.get('general.type') }}</th>
                        <th>{{ Lang.get('general.name') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'operator.' ~ template ~ '.ticket.forms.formfield' with { 'hide': true } %}

                    {% if oldFields|default is not empty %}
                        {# In case there was an error and we're trying to show what they attempted to save #}
                        {% for field in oldFields %}
                            {% include 'operator.' ~ template ~ '.ticket.forms.formfield' %}
                        {% endfor %}
                    {% else %}
                        {% for field in record.fields %}
                            {% include 'operator.' ~ template ~ '.ticket.forms.formfield' %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <div class="form-row">
                {{ form_button(Lang.get('general.add_item', {'item': Lang.get('general.field')}), { 'class': 'add-field' }) }}
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Translatable.js dependencies: Selectize -->
    <link href="{{ asset_rev('resources/assets/libs/selectize/css/selectize.css') }}" rel="stylesheet" />
    <script src="{{ asset_rev('resources/assets/libs/selectize/js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/translatable.js') }}"></script>
    
    <script src="{{ asset_rev('resources/assets/operator/js/filtering.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/formfield.js') }}"></script>

    <!-- Date picker -->
    <script src="{{ asset_rev('resources/assets/libs/moment/js/moment.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.jquery.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/pikaday/css/pikaday.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}