{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if record|default is not empty and record.exists %}
        {{ Lang.get('general.edit_item', {'item': Lang.choice('ticket.holiday', 1)}) }}
    {% else %}
        {{ Lang.get('general.add_item', {'item': Lang.choice('ticket.holiday', 1)}) }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if record|default is not empty and record.exists %}
        {{ form_model(record, { 'route': [ 'ticket.operator.holiday.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}
    {% else %}
        {{ form_open({ 'route': 'ticket.operator.holiday.store', 'class': 'validate' }) }}
    {% endif %}

        <div class="form-row">
            {{ form_label('name', Lang.get('general.name')) }}
            <div class="input-container translatable small-translatable">
                {{ form_translatable_text(record, 'name', null, {'autofocus': 'autofocus'}) }}
            </div>
        </div>

        <div class="form-row">
            <div class="input-container">
                <span class="input-group">
                    <label>
                        {{ form_radio('type', 0, record|default is empty or not record.exists ? true : record.number_of_days == 1) }}
                        {{ Lang.get('ticket.holiday_single_day') }}
                    </label>
                    &nbsp;
                    <label>
                        {{ form_radio('type', 1, record|default is not empty and record.exists and record.number_of_days > 1) }}
                        {{ Lang.get('ticket.holiday_date_range') }}
                    </label>
                </span>
            </div>
        </div>

        <div class="single-day {% if record|default is not empty and record.exists and record.number_of_days > 1 %}hide{% endif %}">
            <div class="form-row">
                {{ form_label('month', Lang.choice('general.month', 1) ~ '/' ~ Lang.choice('general.year', 1)) }}
                <div class="input-container">
                    {{ form_selectMonth('month') }} &nbsp;
                    {{ form_select('year', { '': '' } + years) }}<br />
                    <span class="description">{{ Lang.get('ticket.holiday_month_year_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('day', Lang.choice('general.day', 1)) }}
                <div class="input-container">
                    {{ form_select('day') }}&nbsp; {{ Lang.get('ticket.holiday_or_on_the') }} &nbsp;
                    {{ form_select('order',
                        {
                            '': '',
                            '1': Lang.get('general.first'),
                            '2': Lang.get('general.second'),
                            '3': Lang.get('general.third'),
                            '4': Lang.get('general.forth'),
                            '5': Lang.get('general.last')
                        })
                    }} &nbsp;
                    {{ form_select('weekday', {'': ''} + weekdays()) }}
                </div>
            </div>
        </div>

        <div class="form-row date-range {% if record|default is empty or not record.exists or record.number_of_days == 1 %}hide{% endif %}">
            <div class="input-container">
                {{ form_text('start_date', record.start_date|date(Config.get('settings.date_format')),
                    { 'class': 'datepicker', 'placeholder': '&#xf073;', 'size': 12 }) }}
                &nbsp;{{ Lang.get('general.to') }}&nbsp;
                {{ form_text('end_date', record.end_date|date(Config.get('settings.date_format')),
                    { 'class': 'datepicker', 'placeholder': '&#xf073;', 'size': 12 }) }}
            </div>
        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Translatable.js dependencies: Selectize -->
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/translatable.js') }}"></script>

    <script type="text/javascript">
        function fillDays(start) {
            var currentDay = typeof start !== 'undefined' ? start : $('select[name="day"]').val();

            var year = $('select[name="year"]').val();
            var month = $('select[name="month"]').val() - 1;
            var days;

            if (!year && month == 2) {
                days = 29;
            } else {
                // http://snippets.dzone.com/posts/show/2099
                if (year) {
                    days = 32 - new Date(year, month, 32).getDate();
                } else {
                    year = new Date().getFullYear(); // if year not given then default to current year
                    days = 32 - new Date(year, month, 32).getDate();
                }
            }

            $('select[name="day"]').empty();
            for (i = 1; i <= days; i++) {
                $('select[name="day"]').append('<option value="' + i + '">' + i + '</option>');
            }

            if (currentDay) {
                $('select[name="day"]').val(currentDay);
            }
        }

        $(function() {
            // Date picker
            callPikaday();

            {% if record|default is not empty and record.exists and record.day|default is not empty %}
                fillDays({{ record.day }});
            {% else %}
                fillDays();
            {% endif %}
            $('select[name="month"], select[name="year"]').on('change', function() {
                fillDays();
            });

            $('input[name="type"]').on('click', function () {
                if ($(this).val() == 0) {
                    $('.single-day').show().find(':input').prop('disabled', false);
                    $('.date-range').hide().find(':input').prop('disabled', true);
                } else {
                    $('.single-day').hide().find(':input').prop('disabled', true);
                    $('.date-range').show().find(':input').prop('disabled', false);
                }
            });
        });
    </script>
{% endblock %}
