{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if record|default is not empty and record.exists %}
        {{ Lang.get('general.edit_item', {'item': Lang.choice('ticket.macro', 1)}) }}
    {% else %}
        {{ Lang.get('general.add_item', {'item': Lang.choice('ticket.macro', 1)}) }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if record|default is not empty and record.exists %}
        {{ form_model(record, { 'route': [ 'ticket.operator.macro.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}
    {% else %}
        {{ form_open({ 'route': 'ticket.operator.macro.store', 'class': 'validate' }) }}
    {% endif %}

        <div class="form-container open first">

            <div class="form-row">
                {{ form_label('name', Lang.get('general.name')) }}
                <div class="input-container translatable small-translatable">
                    {{ form_translatable_text(record, 'name') }}
                </div>
            </div>

            <div class="form-row form-full">
                {{ form_label('description', Lang.get('general.description')) }}
                <div class="input-container translatable">
                    {{ form_translatable_text(record, 'description') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('run_type', Lang.get('ticket.macro_type')) }}
                <div class="input-container">
                    {{ form_select('run_type', {
                            0: Lang.get('ticket.manual'),
                            1: Lang.get('ticket.macro_type_auto1'),
                            2: Lang.get('ticket.macro_type_auto2')
                    }) }}<br />
                    <span class="description">{{ Lang.get('ticket.macro_type_desc') }}</span>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('public', Lang.get('general.public')) }}
                <div class="input-container">
                    {{ form_check('public', 1, record.user_id|default is empty, { 'class': 'toggle', 'id': 'toggle_public' }) }}
                    <label for="toggle_public"></label>
                    <br />
                    <span class="description">{{ Lang.get('ticket.record_public_desc', { 'record': mb_strtolower(Lang.choice('ticket.macro', 1), 'UTF-8') }) }}</span>
                </div>
            </div>

            <div class="form-row form-full usergroups">
                {{ form_label('groups', Lang.choice('user.operator_group', 2)) }}
                <div class="input-container">
                    {{ form_select('groups[]', operatorGroups, record.groups.pluck('id').all(), { 'multiple': 'multiple' }) }}
                    <span class="description">{{ Lang.get('ticket.record_group_desc', { 'record': mb_strtolower(Lang.choice('ticket.macro', 1), 'UTF-8') }) }}</span>
                </div>
            </div>

        </div>

        <h2>{{ Lang.get('ticket.macro_condition') }}</h2>
        <h2 class="description">{{ Lang.get('ticket.macro_condition_desc') }}</h2>

        <div class="form-container open first">

            {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' with { 'hide': true } %}

            {% if oldGroups|default is not empty and oldGroups is not empty %}
                {# In case there was an error and we're trying to show what they attempted to save #}
                {% for groupId, group in oldGroups %}
                    {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' %}
                {% endfor %}
            {% else %}
                {% for groupId, group in record.conditiongroups %}
                    {% include 'operator.' ~ template ~ '.ticket.forms.condition_group' %}
                {% endfor %}
            {% endif %}

            <div class="form-row">
                <span class="plan-conditiongroup-type" style="margin-right: 13px;">
                    {{ form_select('condition_group_type', { 0: Lang.get('ticket.all_groups'), 1: Lang.get('ticket.any_group') },
                        record.condition_group_type|default is not empty ? record.condition_group_type : 0)
                    }}
                </span>
                {{ form_button(Lang.get('general.add_item', {'item': Lang.get('ticket.condition_group')}), { 'class': 'add-conditiongroup' }) }}
            </div>

        </div>

        <h2>{{ Lang.get('ticket.macro_action') }}</h2>
        <h2 class="description">{{ Lang.get('ticket.macro_action_desc') }}</h2>

        <div class="form-container open first is-sortable">

            <table class="rule-table settings">
                <thead>
                    <tr>
                        <th width="14"></th>
                        <th>{{ Lang.choice('general.action', 1) }}</th>
                        <th>{{ Lang.get('general.value') }}</th>
                        <th width="14"></th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    {% include 'operator.' ~ template ~ '.ticket.forms.escalation_rule' with { 'hide': true } %}

                    {% if oldActions|default is not empty and oldActions is not empty %}
                        {# In case there was an error and we're trying to show what they attempted to save #}
                        {% for count, rule in oldActions %}
                            {% include 'operator.' ~ template ~ '.ticket.forms.escalation_rule' %}
                        {% endfor %}
                    {% else %}
                        {% for count, rule in record.actions %}
                            {% include 'operator.' ~ template ~ '.ticket.forms.escalation_rule' %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <div class="form-row">
                {{ form_button(Lang.get('general.add_item', {'item': Lang.choice('general.action', 1)}), { 'class': 'add-rule' }) }}
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Translatable.js dependencies: Selectize -->
    <link href="{{ asset_rev('resources/assets/libs/selectize/css/selectize.css') }}" rel="stylesheet" />
    <script src="{{ asset_rev('resources/assets/libs/selectize/js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/translatable.js') }}"></script>
    
    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <!-- Code Editor -->
    <script src="{{ asset_rev('resources/assets/libs/codemirror/js/codemirror.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset_rev('resources/assets/libs/codemirror/css/codemirror.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/operator/js/redactor/mergefields.js') }}"></script>

    <script type="text/javascript">
        var embedImageRoute = laroute.route('core.embed.image');
        var organisationsEnabled = "{{ Config.get('settings.organisations_enabled', 1) }}";

        $(document).ready(function() {
            $('input[name="name"]').focus();
        });
    </script>

    <script src="{{ asset_rev('resources/assets/operator/js/filtering.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/escalationrule.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/visibility.js') }}"></script>

    <!-- Date picker -->
    <script src="{{ asset_rev('resources/assets/libs/moment/js/moment.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.jquery.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/pikaday/css/pikaday.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}