{% if not ticket.channel.enabled %}
    <div class="fail box">{{ Lang.get('ticket.channel_deactivated') }}</div>
{% elseif ChannelFactory.getChannel(ticket.channel.name).requiresAccount and (not ticket.account or not ticket.account.active) %}
    <div class="fail box">{{ Lang.get('ticket.channel_account_removed') }}</div>
{% else %}
    <div class="reply-type">
        <div class="option active" data-type="0">
            <i class="fa fa-reply"></i> &nbsp; {{ Lang.get('ticket.ticket_reply') }}
        </div>
        &nbsp;
        <div class="option" data-type="1">
            <i class="fa fa-sticky-note"></i> &nbsp; {{ Lang.get('ticket.ticket_note') }}
        </div>
        &nbsp;
        <div class="option {% if draft_forward is empty %}fresh{% endif %}" data-type="2">
            <i class="fa fa-mail-forward"></i> &nbsp; {{ Lang.get('ticket.forward') }}
        </div>
    </div>

    <form class="message-form validate">

        {{ form_hidden('reply_type', 0) }}

        {% include 'operator.' ~ template ~ '.ticket.forms.message_reply_options' with { 'note': false } %}

        <div class="reply-form">

            {{ form_hidden('ticket_id', ticketId) }}
            {{ form_hidden('reply_all', 1) }}

            {% if ticket.department_email_id is not empty %}
                <div class="form-row form-full recipients {% if not ticket.internal and (organisationEmails is not empty or ticket.cc is not empty) %}with-cc{% endif %}">
                    <div>
                        <div class="reply-all dropdown-container {% if ticket.internal or (organisationEmails is empty and ticket.cc is empty) %}hide{% endif %}">
                            <div class="button">
                                <span class="icon">
                                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                                </span>
                                <span class="pointer">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </div>
                            <div class="dropdown hide">
                                <ul>
                                    <li class="selected" data-value="1">
                                        <i class="fa fa-reply-all" aria-hidden="true"></i>&nbsp; {{ Lang.get('ticket.reply_all') }}
                                    </li>
                                    <li data-value="0">
                                        <i class="fa fa-reply" aria-hidden="true"></i>&nbsp; {{ Lang.get('ticket.reply_without_cc') }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ form_label('from', Lang.get('ticket.from')) }}
                        <div class="input-container">
                            {{ form_select('department_email', fromEmails, ticket.department_email_id) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label('to', Lang.get('ticket.to')) }}
                        <div class="input-container">
                            {{ toEmails }}
                            {% if organisationEmails is empty and ticket.cc is empty and not ticket.internal %}
                                <a class="add-cc right">{{ Lang.get('ticket.add_cc') }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if not ticket.internal %}
                    <div class="cc-emails {% if organisationEmails is empty and ticket.cc is empty %}hide{% endif %}">
                        {{ form_label('cc[]', Lang.get('ticket.cc')) }}
                        <div class="input-container">
                            <select name="cc[]" multiple="multiple">
                                {% for email in organisationEmails %}
                                    <option selected="selected" data-data='{{ {'value': email, 'unremovable': true}|json_encode(constant('JSON_FORCE_OBJECT')) }}'
                                            value='{{ email }}'>
                                        {{ email }}
                                    </option>
                                {% endfor %}
                                {% for email in ticket.cc %}
                                    <option selected="selected" value='{{ email }}'>{{ email }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="form-row">
                {% if draft|default is not empty %}
                    {{ form_redactor('text', draft.text, { "class": "textarea", "size": "50x3", "id": "newMessage" }) }}
                {% else %}
                    {{ form_redactor('text',
                        signature is not empty ? '<br /><br />' ~ signature : null,
                        { "class": "textarea", "size": "50x3", "id": "newMessage" })
                    }}
                {% endif %}

                {% include 'operator.' ~ template ~ '.ticket.forms.message_attachments' with { 'ticket': ticket, 'message': draft } %}
            </div>

            {% include 'operator.' ~ template ~ '.ticket.forms.message_submit' with { 'submit_name': Lang.get('ticket.post_reply') } %}
        </div>
    </form>

    <form class="notes-form validate" style="display: none">
        {{ form_hidden('reply_type', 1) }}

        {% include 'operator.' ~ template ~ '.ticket.forms.message_reply_options' with { 'note': true } %}

        <div class="reply-form">
            {{ form_hidden('ticket_id', ticketId) }}
            {{ form_hidden('reply_all', 1) }}

            <div class="form-row">
                {{
                    form_redactor(
                        'text',
                        draft_note|default is not empty ? draft_note.text : null,
                        { "class": "textarea", "size": "50x3", "id": "newNote" }
                    )
                }}

                {% include 'operator.' ~ template ~ '.ticket.forms.message_attachments' with { 'ticket': ticket, 'message': draft_note, 'allow_attachments': true } %}
            </div>

            {% include 'operator.' ~ template ~ '.ticket.forms.message_submit' with { 'draft': draft_note, 'allow_attachments': true, 'submit_name': Lang.get('ticket.post_note') } %}
        </div>
    </form>
    
    <form class="forward-form validate" style="display: none">
        {{ form_hidden('reply_type', 2) }}

        {% include 'operator.' ~ template ~ '.ticket.forms.message_reply_options' with { 'forward': true } %}

        <div class="reply-form">
            {{ form_hidden('ticket_id', ticketId) }}
            {{ form_hidden('reply_all', 1) }}

            <div class="form-row form-full recipients">
                <div>
                    {{ form_label('from_address', Lang.get('ticket.from')) }}
                    <div class="input-container">
                        {{ form_select('from_address', fromEmails + {'me': auth_user().formatted_name ~ ' <' ~ auth_user().email ~ '>'},
                            draft_forward is not empty ? draft_forward.extra.from_address : ticket.department_email_id)
                        }}
                    </div>
                </div>
                <div>
                    {{ form_label('to_address[]', Lang.get('ticket.to')) }}
                    <div class="input-container">
                        {% if draft_forward is empty or draft_forward.extra.bcc_address is empty %}
                            <a class="add-bcc">{{ Lang.get('ticket.add_bcc') }}</a>
                        {% endif %}
                        {% if draft_forward is empty or draft_forward.extra.cc_address is empty %}
                            <a class="add-cc">{{ Lang.get('ticket.add_cc') }}</a>
                        {% endif %}
                        <select name="to_address[]" multiple="multiple">
                            {% if draft_forward is not empty %}
                                {% for address in draft_forward.extra.to_address %}
                                    <option value="{{ address }}" selected="selected">{{ address }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="cc-emails {% if draft_forward is empty or draft_forward.extra.cc_address is empty %}hide{% endif %}">
                    {{ form_label('cc_address[]', Lang.get('ticket.cc')) }}
                    <div class="input-container">
                        <select name="cc_address[]" multiple="multiple">
                            {% if draft_forward is not empty %}
                                {% for address in draft_forward.extra.cc_address %}
                                    <option value="{{ address }}" selected="selected">{{ address }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="bcc-emails {% if draft_forward is empty or draft_forward.extra.bcc_address is empty %}hide{% endif %}">
                    {{ form_label('bcc_address[]', Lang.get('ticket.bcc')) }}
                    <div class="input-container">
                        <select name="bcc_address[]" multiple="multiple">
                            {% if draft_forward is not empty %}
                                {% for address in draft_forward.extra.bcc_address %}
                                    <option value="{{ address }}" selected="selected">{{ address }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div>
                    {{ form_label('subject', Lang.get('ticket.subject')) }}
                    <div class="input-container">
                        {{ form_text('subject', draft_forward is not empty ? draft_forward.extra.subject : 'FW: ' ~ ticket.subject) }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                {{
                    form_redactor(
                        'text',
                        draft_forward is not empty ? draft_forward.text : null,
                        { "class": "textarea", "size": "50x3", "id": "newForward" }
                    )
                }}

                {% if cumulative_attachment_limit != 0 %}
                    {% set allow_attachments = true %}
                    {% include 'operator.' ~ template ~ '.ticket.forms.message_attachments' with { 'ticket': ticket, 'message': draft_forward, 'allow_attachments': true } %}
                {% else %}
                    {% set allow_attachments = false %}
                {% endif %}
            </div>

            {% include 'operator.' ~ template ~ '.ticket.forms.message_submit' with { 'draft': draft_forward, 'allow_attachments': allow_attachments, 'submit_name': Lang.get('ticket.forward') } %}
        </div>
    </form>
{% endif %}