<div style="margin-top: 15px;">
    {{ form_submit(submit_name, { 'class': 'right' }) }}

    <span class="reply-buttons">
        {# Don't want to show the add attachment button if it's forwarding form and not allowed attachments #}
        {% if (ticket.department_email_id is not empty and submit_name != Lang.get('ticket.forward')) or allow_attachments %}
            <label class="file-input button">
                <i class="fa fa-paperclip"></i>&nbsp; {{ Lang.get('general.add_attachment') }}

                <input class="fileupload" type="file" name="files[]"
                       data-url="{{ route('ticket.operator.attachment.upload') }}" multiple="multiple">
            </label>

            &nbsp;&nbsp;
        {% endif %}

        <span class="button-group">
            {{ form_button('<i class="fa fa-floppy-o"></i> &nbsp;' ~ Lang.get('ticket.save_draft'), { 'class': 'save-draft' }) }}<!--
            -->{{ form_button('<i class="fa fa-trash-o"></i> &nbsp;' ~ Lang.get('ticket.discard_draft'), { 'class': draft|default is not empty ? 'discard-draft' : 'discard-draft hide' }) }}
        </span>
        &nbsp;&nbsp;
    </span>

    <span class="draft-success description {% if draft|default is empty %}hide{% endif %}">
        {% if draft|default is not empty %}
            {{ Lang.get('ticket.draft_saved', {'time': formatDate(draft.updated_at)}) }}
        {% endif %}
    </span>
</div>