{% extends parent_template %}

{% block title %}
    {{ Lang.get('ticket.open_new') }}
{% endblock %}

{% block content %}

    {{ form_open({ 'route': [ 'ticket.operator.ticket.storeStep2' ], 'class': 'validate' }) }}

        <h2>{{ Lang.get('ticket.enter_ticket_details') }}</h2>

        <div class="form-container first">

            {{ form_hidden('user', user) }}
            {{ form_hidden('internal', internal) }}
            {{ form_hidden('brand', brand.id) }}

            {% if Config.get('brand')|length > 1 %}
                <div class="form-row">
                    {{ form_label('brand', Lang.choice('core.brand', 1)) }}
                    <div class="input-container">
                        {{ brand.name }}
                    </div>
                </div>
            {% endif %}

            <div class="form-row">
                {{ form_label('department', Lang.choice('ticket.department', 1)) }}
                <div class="input-container">
                    {{ department.name }}
                    {{ form_hidden('department', department.id) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('status', Lang.choice('general.status', 1)) }}
                <div class="input-container">
                    {{ form_select('status', statuses, Config.get('settings.default_open_status')) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('priority', Lang.choice('ticket.priority', 1)) }}
                <div class="input-container">
                    {{ form_select('priority', priorities) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('select', Lang.choice('ticket.tag', 2)) }}
                <div class="input-container">
                    <select name="tag[]" multiple="multiple">
                        {% for tag in tags %}
                            <option value='{{ tag.name }}' data-data='{{ tag|json_encode(constant('JSON_FORCE_OBJECT')) }}'>
                                {{ tag.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-row form-full">
                {{ form_label('assignedto[]', Lang.get('ticket.assigned_to')) }}
                <div class="input-container">
                    <select name="assignedto[]" multiple="multiple">
                        {% for operator in departmentOperators %}
                            <option {% if operator.id in department.default_assignedto %}selected="selected"{% endif %}
                                data-data='{{ operator|json_encode(constant('JSON_FORCE_OBJECT')) }}' value='{{ operator.id }}'>
                                {{ operator.formatted_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% include 'operator.' ~ template ~ '.forms.customfields' %}

        </div>

        <h2>{{ Lang.get('ticket.enter_subject_message') }}</h2>

        <div class="form-container first">

            <div class="form-row form-full">
                {{ form_label('subject', Lang.get('ticket.subject')) }}
                <div class="input-container">
                    {{ form_text('subject') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('text', Lang.choice('general.message', 1)) }}
                <div class="input-container">

                    <div class="form-row form-full recipients" style="padding: 0;">
                        <div>
                            {{ form_label('from', Lang.get('ticket.from')) }}
                            <div class="input-container" id="fromAddress">
                                {{ form_select('department_email', fromEmails) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label('to', Lang.get('ticket.to')) }}
                            <div class="input-container">
                                <span id="toAddress">{{ Purifier.clean(toEmails) }}</span>
                                <a class="add-cc right">{{ Lang.get('ticket.add_cc') }}</a>
                            </div>
                        </div>
                        <div class="cc-emails hide">
                            {{ form_label('cc[]', Lang.get('ticket.cc')) }}
                            <div class="input-container">
                                {{ form_select('cc[]', [], [], { 'multiple': 'multiple' }) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row" style="padding: 0;">
                        {% set signature = auth_user().getSignature(brand.id, department.id).render(brand.id, user) %}
                        {{ form_redactor('text', signature is not empty ? '<br /><br />' ~ signature : null, { 'size': '50x3' }) }}
                    </div>

                    {% include 'operator.' ~ template ~ '.core.forms.attachments' with {
                            'route': 'ticket.operator.attachment',
                            'downloadRoute': 'ticket.operator.attachment.download',
                            'attachments': []
                        }
                    %}

                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <span class="input-group" style="display: inline-block; margin-top: 10px; vertical-align: middle;">
                        <span class="send-user-email">
                            <label style="font-weight: normal">
                                {{ form_check('send_user_email', 1, operator.default_reply_options['send_email_to_users']) }}
                                {{ Lang.get('ticket.send_email_to_users') }}
                            </label>
                            &nbsp;&nbsp;
                        </span>
                        <span class="send-operators-email">
                            <label style="font-weight: normal">
                                {{ form_check('send_operators_email', 1, department.notify_operators) }}
                                {{ Lang.get('ticket.send_email_to_operators') }}
                            </label>
                        </span>
                    </span>

                </div>
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1), { 'id': 'submitNewTicket' }) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <script type="text/javascript">
        // Routes
        var embedImageRoute = laroute.route('core.embed.image');

        // Global variables for redactor plugins
        var ticketId = null,
            userId = {{ user }},
            operatorId = '{{ auth_user().id }}',
            internal = {{ internal }};
    </script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/newticket.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/operator/css/ticket.css') }}" rel="stylesheet" type="text/css" />

    <!-- Selectize -->
    <link href="{{ asset_rev('resources/assets/libs/selectize/css/selectize.css') }}" rel="stylesheet" />
    <script src="{{ asset_rev('resources/assets/libs/selectize/js/selectize.min.js') }}"></script>

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <!-- Code Editor -->
    <script src="{{ asset_rev('resources/assets/libs/codemirror/js/codemirror.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset_rev('resources/assets/libs/codemirror/css/codemirror.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/replyoptions.js') }}"></script>
    <script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/done_typing.js') }}"></script>

    <script type="text/javascript">
        // Initialise redactor.
        var cannedResponsePermission = {% if auth_user().hasPermission('view.cannedresponse') %}1{% else %}0{% endif %};
        var redactor_config = {
            plugins: [
                'syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize', 'cannedResponses',
                {% if isModuleEnabled('Selfservice') %}'ssLink'{% endif %}
            ]
        };

        $(document).ready(function() {
            $('textarea[name="text"]').redactor($.extend($.Redactor.default_opts, redactor_config));
        });
    </script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/libs/hideShowPassword/js/hideShowPassword.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/moment/js/moment.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/pikaday/js/pikaday.jquery.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/pikaday/css/pikaday.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            // Enable hide/show password toggle
            callHideShowPassword();

            // Date picker
            callPikaday();
        });
    </script>
{% endblock %}
