{% extends parent_template %}

{% block title %}
    {{ Lang.get('ticket.open_new') }}
{% endblock %}

{% block content %}

    <div class="invalid-user fail box hide">
        {{ Lang.get('ticket.invalid_user') }}
    </div>

    {{ form_open({'route': [ 'ticket.operator.ticket.storeStep1' ], 'class': 'step1 validate'}) }}

        {% if Input.has('link_message') or Input.old('link_message') %}
            <input type="hidden" name="link_message" value="{{ Input.get('link_message', Input.old('link_message')) }}" />
        {% endif %}

        <h2>{{ Lang.get('ticket.department_user_details') }}</h2>

        <div class="form-container first">
            {% if brand_count() > 1 %}
                <div class="form-row small-selectize">
                    {{ form_label('brand', Lang.choice('core.brand', 1)) }}
                    <div class="input-container">
                        <select name="brand">
                            <option></option>
                            {% for brand in assignedBrands %}
                            {% set brandSelected = (user is not empty and user.brand_id == brand.id) or (selected_brand == brand.id) %}
                            <option value="{{ brand.id }}" {% if brandSelected %}selected="selected"{% endif %}>
                                {{ brand.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="brand" value="{{ brand_config(null)|first.id }}" />
            {% endif %}

            <div class="form-row small-selectize">
                {{ form_label('department', Lang.choice('ticket.department', 1)) }}
                <div class="input-container">
                    {% if brand_count() > 1 and user is empty %}
                        {{ form_select('department', [], null, { 'disabled': 'disabled' }) }}
                    {% else %}
                        <select name="department" id="department">
                            <option></option>
                            {% for id, department in departments %}
                                <option {% if selected_department == id %}selected='selected'{% endif %} data-data='{{ department|json_encode(constant('JSON_FORCE_OBJECT')) }}' value='{{ id }}'>
                                    {{ department.dashes|raw }}{{ department.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-container ticket-type {% if brand_count() > 1 and user is empty and selected_brand is empty %}hide{% endif %}">
            <div class="form-row">
                {{ form_label('internal', Lang.get('ticket.ticket_type')) }}
                <div class="input-container">
                    <div class="input-group">
                        <label>{{ form_radio('internal', 0, true) }} {{ Lang.get('ticket.user_ticket') }}</label> -
                        <span class="description">
                            {% if auth_user().hasPermission('create.user') %}
                                {{ Lang.get('ticket.user_ticket_desc') }}
                            {% else %}
                                {{ Lang.get('ticket.user_ticket_existing_desc') }}
                            {% endif %}
                        </span><br />

                        <div class="user-ticket">
                            {% if auth_user().hasPermission('create.user') %}
                                <label>{{ form_radio('user_type', 0, true) }} {{ Lang.get('ticket.existing_user') }}</label>
                                &nbsp;&nbsp;
                                <label>{{ form_radio('user_type', 1) }} {{ Lang.get('ticket.new_user') }}</label>
                            {% else %}
                                {{ form_hidden('user_type', 0) }}
                            {% endif %}

                            <div class="existing-user" id="existing-user">
                                <select name="user" data-default-opt="{{ user|json_encode(constant('JSON_FORCE_OBJECT')) }}">
                                    <option></option>
                                </select>
                            </div>

                            {% if auth_user().hasPermission('create.user') %}
                                <div class="new-user hide">
                                    <label>
                                        <span class="label">{{ Lang.get('user.firstname') }}</span>
                                        {{ form_text('user_firstname') }}
                                    </label><br />
                                    <label>
                                        <span class="label">{{ Lang.get('user.lastname') }}</span>
                                        {{ form_text('user_lastname') }}
                                    </label><br />
                                    <label>
                                        <span class="label">{{ Lang.get('general.email') }}</span>
                                        {{ form_text('user_email') }}
                                    </label>
                                    {% if Config.get('settings.organisations_enabled') %}
                                        <br />
                                        <label>
                                            <span class="label">{{ Lang.choice('user.organisation', 1) }}</span>
                                            {{ form_select('user_organisation') }}
                                        </label> &nbsp; <span class="description">({{ Lang.get('general.optional') }})</span>
                                        <input type="hidden" name="user_organisation_id" />
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="internal-ticket">
                            {{ form_hidden('user', auth_user.id, { 'disabled': 'disabled' }) }}

                            <label>{{ form_radio('internal', 1) }} {{ Lang.choice('ticket.internal_ticket', 1) }}</label> -
                            <span class="description">{{ Lang.get('ticket.internal_ticket_desc') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-button continue-button">
            {{ form_submit(Lang.get('general.continue'), brand_count() > 1 and user is empty and selected_brand is empty ? {'disabled': 'disabled'} : {}) }}
        </div>

    {{ form_close() }}

    <br /><br /><br />

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/newticket.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/operator/css/ticket.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
