{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {% if record|default is not empty and record.exists %}
        {{ Lang.get('general.edit_item', {'item': Lang.choice('ticket.priority', 1)}) }}
    {% else %}
        {{ Lang.get('general.add_item', {'item': Lang.choice('ticket.priority', 1)}) }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if record|default is not empty and record.exists %}
        {{ form_model(record, { 'route': [ 'ticket.operator.priority.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}
    {% else %}
        {{ form_open({ 'route': 'ticket.operator.priority.store', 'class': 'validate' }) }}
    {% endif %}

        <div class="form-container open first">

            <div class="form-row">
                {{ form_label('name', Lang.get('general.name')) }}
                <div class="input-container translatable small-translatable">
                    {{ form_translatable_text(record, 'name', null, {'autofocus': 'autofocus'}) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('colour', Lang.get('general.colour')) }}
                <div class="input-container">
                    {{ form_text('colour') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('depts', Lang.get('ticket.department_applicable')) }}
                <div class="input-container">
                    <div class="input-group">
                        <div class="description">
                            <button class="as-link check_all">{{ Lang.get('general.check_all') }}</button>
                            &nbsp;|&nbsp;
                            <button class="as-link uncheck_all">{{ Lang.get('general.uncheck_all') }}</button>
                        </div>
                        {% for department in departments %}
                            {{ form_checkbox('depts[]', department['id'], in_array(department['id'], recordDepts, true)) }}
                            {% if department.dashes|default is not empty %}
                                {{ department.dashes|raw }}{{ department.name|replace({ (department.dashes): '' }) }}
                            {% else %}
                                {{ department.name }}
                            {% endif %}
                            <br />
                        {% endfor %}
                    </div>
                    <span class="description">{{ Lang.get('ticket.department_applicable_desc') }}</span>
                </div>
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

        <br />

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Translatable.js dependencies: Selectize -->
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/translatable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            if ($('input[name="colour"]').val() === '') {
                $('input[name="colour"]').val('#FFFFFF');
            }
            $('input[name="colour"]').minicolors();
        });
    </script>
{% endblock %}