{% extends parent_template %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.get('general.home') }}
{% endblock %}

{% block content %}

    {% if not isModuleEnabled('Ticket') and not isModuleEnabled('Selfservice') %}

        {{ Lang.get('core.no_modules') }}

    {% else %}

        {% if isModuleEnabled('Ticket') %}
            <div class="desk_section">
                <a href="{{ route('ticket.frontend.ticket.createStep1') }}">
                    <img src="{{ asset('resources/assets/frontend/icons/submit.png') }}" class="icon left"
                         width="48" alt="{{ Lang.get('core.submit_ticket') }}" />
                </a>
                <h4><a href="{{ route('ticket.frontend.ticket.createStep1') }}">{{ Lang.get('core.submit_ticket') }}</a></h4>
                <p>{{ Lang.get('core.submit_ticket_desc') }}</p>
            </div>

            {% if not Auth.guard('frontend').check() and Config.get('channel.web.unauthenticated_users') %}
            <div class="desk_section">
                <a href="{{ route('ticket.frontend.track') }}">
                    <img src="{{ asset('resources/assets/frontend/icons/track.png') }}" class="icon left"
                         width="48" alt="{{ Lang.get('core.track_ticket') }}" />
                </a>
                <h4><a href="{{ route('ticket.frontend.track') }}">{{ Lang.get('core.track_ticket') }}</a></h4>
                <p>{{ Lang.get('core.track_ticket_desc') }}</p>
            </div>
            {% elseif Auth.guard('frontend').check() %}
            <div class="desk_section">
                <a href="{{ route('ticket.frontend.ticket.index') }}">
                    <img src="{{ asset('resources/assets/frontend/icons/track.png') }}" class="icon left"
                         width="48" alt="{{ Lang.get('core.my_tickets') }}" />
                </a>
                <h4><a href="{{ route('ticket.frontend.ticket.index') }}">{{ Lang.get('core.my_tickets') }}</a></h4>
                <p>{{ Lang.get('core.my_tickets_desc') }}</p>
            </div>
            {% endif %}
        {% endif %}

        {% if isModuleEnabled('Selfservice') %}
            {% for type in selfserviceTypes %}
            <div class="desk_section">
                <a href="{{ route('selfservice.index', { 'type': type.slug }) }}">
                    <img src="data:image/jpeg;base64, {{ type.icon }}" class="icon left"
                         width="48" alt="{{ type.name }}" />
                </a>
                <h4><a href="{{ route('selfservice.index', { 'type': type.slug }) }}">{{ type.name }}</a></h4>
                <p>{{ type.description }}</p>
            </div>
            {% endfor %}
        {% endif %}

        {% if isModuleEnabled('Selfservice') %}

            {% if types.contains('show_on_dashboard', 1) %}

                <ul class="desk-tabs">
                    {% for type in types %}
                        {% if type.show_on_dashboard %}
                            <li id="{{ type.slug }}" {% if firstTab is not defined %} class="active" {% set firstTab = true %} {% endif %}>
                                {% if type.view == 0 %}
                                    {{ Lang.get('selfservice.type_popular_items', {'type': type.name}) }}
                                {% else %}
                                    {{ Lang.get('selfservice.type_latest_items', {'type': type.name}) }}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="desk-tabs-content">
                    {% for type in types %}
                        {% if type.show_on_dashboard %}
                            <div id="tab{{ type.slug }}" class="desk-tab {% if firstContent is defined %} hide {% else %} {% set firstContent = true %} {% endif %}">
                                {% if type.view == 0 %}
                                    <h2 class="tab-title">{{ Lang.get('selfservice.type_popular_items', {'type': type.name}) }}</h2>
                                {% else %}
                                    <h2 class="tab-title">{{ Lang.get('selfservice.type_latest_items', {'type': type.name}) }}</h2>
                                {% endif %}
                                {% include 'frontend.' ~ template ~ '.selfservice.article_list' with {'articles': type.articles, 'noRssFeed': true} %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}

        {% endif %}

    {% endif %}

{% endblock %}