<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf_token" content="{{ csrf_token() }}" />
    <meta name="date_format" content="{{ convertMomentFormat(Config.get('settings.date_format')) }}" />
    <meta name="time_format" content="{{ Config.get('settings.time_format') }}" />
    <meta name="max_file_size" content="{{ max_file_size }}" />
    <meta name="allowed_files" content="{{ allowed_files }}" />
    {% block meta %}{% endblock %}

    {% set title = block('title') %}
    <title>{% if title is not empty %}{{ title|raw }} - {% endif %} SupportPal Operator Panel</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_favicon('resources/assets/operator/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_favicon('resources/assets/operator/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_favicon('resources/assets/operator/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('resources/assets/operator/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('resources/assets/operator/images/favicon/safari-pinned-tab.svg') }}" color="#06548c">
    <link rel="shortcut icon" href="{{ get_favicon('resources/assets/operator/images/favicon/favicon.ico') }}">
    <meta name="application-name" content="SupportPal"/>
    <meta name="msapplication-TileColor" content="#06548c">
    <meta name="msapplication-config" content="{{ asset('resources/assets/operator/images/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link href="{{ asset_rev('resources/assets/operator/css/main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset_rev('resources/assets/operator/css/mobile.css') }}" rel="stylesheet" type="text/css" media="screen" />

    <!-- jQuery -->
    <script src="{{ asset_rev('resources/assets/libs/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
    <link href="{{ asset_rev('resources/assets/libs/jquery-ui/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset_rev('resources/assets/libs/jquery-ui/js/jquery-ui.min.js') }}"></script>

    {% block scripts_header %}{% endblock %}

    {{ View.fireHook('operator.head') }}

    {# Brand styling - delete this block if you don't want to apply the automatic brand colour styling. #}
    {% if operatorCSS is not empty %}
        <style>
            {{ operatorCSS|raw }}
        </style>
    {% endif %}
</head>

<body>

{{ View.fireHook('operator.body_start') }}

<div id="header">
    {{ View.fireHook('operator.header_start') }}

    {% block header %}
        <a href="{{ route('core.operator.dashboard') }}" class="logo left">
            <img src="{{ get_icon('resources/assets/operator/images/logo_icon.png') }}"
                 alt="{{ Config.get('settings.brand_name') }}" height="32" />
        </a>

        <div class="opsettings right">
            <ul id="nav" class="dropdown2 dropdown-horizontal">
                <li class="dir" aria-haspopup="true">
                    <img src="{{ auth_user().avatar_url }}" width="24" height="24"
                         alt="{{ Lang.choice('general.operator', 1) }}" class="avatar left"/>
                    &nbsp;
                    <i class="fa fa-chevron-down"></i>

                    <ul>
                        <li aria-haspopup="false">
                            <a href="{{ route('user.operator.personalsetting') }}">{{ Lang.get('user.personal_settings') }}</a>
                        </li>
                        {% if isModuleEnabled('Ticket') %}
                        <li aria-haspopup="false">
                            <a href="{{ route('user.operator.signature') }}">{{ Lang.choice('user.signature', 2) }}</a>
                        </li>
                        {% endif %}
                        <li aria-haspopup="false">
                            <a href="{{ route('user.operator.logout') }}">{{ Lang.get('user.logout') }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="mobile-nav hide right">
            <i class="fa fa-bars"></i>
        </div>

        {% if isModuleEnabled('Selfservice') and internalTypes.whereIn('brand_id', assignedBrands.pluck('id').all()).count() %}
            <div class="selfservice right">
                <ul id="nav" class="dropdown2 dropdown-horizontal">
                    <li class="dir" aria-haspopup="true">
                        <i class="fa fa-book left" aria-hidden="true"></i>
                        &nbsp;
                        <span>
                        <i class="fa fa-chevron-down"></i>
                        </span>

                        <ul>
                            {% for brand in assignedBrands %}
                                {% if internalTypes.where('brand_id', brand.id).count() %}
                                <li aria-haspopup="false">
                                    <div class="brand">
                                        <div class="title">{{ brand.name }}</div>
                                        {% for type in internalTypes.where('brand_id', brand.id) %}
                                            <a href="{{ type.content == 1 ? type.url : route('selfservice.operator.internal.index', {'brand': type.brand_id, 'type': type.slug}) }}"
                                                {% if type.content == 1 %}target="_blank"{% endif %}>
                                                {{ type.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="divider right" id="privateMessages">
            <a href="{{ route('core.operator.message.index') }}">
                {% if notificationCount|default is not empty and notificationCount > 0 %}
                    <span class="badge" id="messageNotification">
                        {{ notificationCount }}
                    </span>
                {% else %}
                    <span class="badge hide" id="messageNotification">0</span>
                {% endif %}
                <i class="fa fa-comments"></i>
            </a>
        </div>

        <div class="divider right">
            <form class="headerSearch" action="{{ route('core.operator.search') }}" method="get" name="search_header" autocomplete="off">
                <input type="text" name="query" class="search" id="inputSearchHeader" placeholder="{{ Lang.get('general.search') }}..." autocomplete="on" />
            </form>
        </div>

        <div id="navarea">
            <form class="headerSearch hide" action="{{ route('core.operator.search') }}" method="get" name="search_header" autocomplete="off">
                <input type="text" name="query" class="search" id="inputSearchHeader" placeholder="{{ Lang.get('general.search') }}..." autocomplete="on" />
            </form>
            <ul id="nav" class="dropdown dropdown-horizontal">
                {% if isModuleEnabled('Ticket') and auth_user().hasPermission('view.ticket|create.ticket') %}
                    <li class="dir" aria-haspopup="true" id="ticketHeaderDropdown">
                        <a class="nav dropdownmenu">
                            {{ Lang.choice('ticket.ticket', 2) }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul>
                            {% if auth_user().hasPermission('view.ticket') %}
                                <li aria-haspopup="false">
                                    <a href="{{ urldecode(route('ticket.operator.ticket', manageTicketsParams)) }}">
                                        {{ Lang.get('ticket.manage_tickets') }}
                                    </a>
                                </li>
                                {% if not recentTickets.isEmpty() %}
                                    <li aria-haspopup="false">
                                        <div class="recent">
                                            <div class="title">{{ Lang.get('ticket.recent_tickets') }}</div>
                                            {% for recentTicket in recentTickets %}
                                                <a href="{{ route('ticket.operator.ticket.show', recentTicket.id) }}">
                                                    {% if recentTicket.trashed() %}<i class="fa fa-trash" title="{{ Lang.get('general.trash') }}" style="color: #333;"></i>{% endif %}
                                                    <span class="statusIcon" style="background: {{ recentTicket.status.colour }};"></span>&nbsp;
                                                    <span class="description">#{{ recentTicket.number }}</span> {{ recentTicket.subject }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                                {% if not recentFilters.isEmpty() %}
                                    <li aria-haspopup="false">
                                        <div class="recent">
                                            <div class="title">{{ Lang.get('ticket.recent_filters') }}</div>
                                            {% for recentFilter in recentFilters %}
                                                <a href="{{ route('ticket.operator.ticket', {'filter': recentFilter.id}) }}">
                                                    {{ recentFilter.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if auth_user().hasPermission('create.ticket') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('ticket.operator.ticket.createStep1') }}">
                                        {{ Lang.get('ticket.open_new') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.feedback') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('ticket.operator.feedback.index') }}">
                                        {{ Lang.get('ticket.feedback') }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if auth_user().hasPermission('view.user|view.organisation|view.operator|view.massemail') %}
                    <li class="dir" aria-haspopup="true" id="userHeaderDropdown">
                        <a class="nav dropdownmenu">
                            {{ Lang.choice('user.user', 2) }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul>
                            {% if auth_user().hasPermission('view.user|create.user') %}
                                <li aria-haspopup="false" id="manageUserSetting">
                                    <a href="{{ route('user.operator.user') }}">
                                        {{ Lang.get('user.manage_users') }}
                                    </a>
                                </li>
                                {% if not recentUsers.isEmpty() %}
                                    <li aria-haspopup="false">
                                        <div class="recent">
                                            <div class="title">{{ Lang.get('user.recent_users') }}</div>
                                            {% for recentUser in recentUsers %}
                                                <a href="{{ route('user.operator.user.edit', recentUser.id) }}">
                                                    {{ recentUser.formatted_name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if Config.get('settings.organisations_enabled') and auth_user().hasPermission('view.organisation') %}
                                <li aria-haspopup="false" id="manageOrgSetting">
                                    <a href="{{ route('user.operator.organisation') }}">
                                        {{ Lang.get('user.manage_organisations') }}
                                    </a>
                                </li>
                                {% if not recentOrganisations.isEmpty() %}
                                    <li aria-haspopup="false">
                                        <div class="recent">
                                            <div class="title">{{ Lang.get('user.recent_organisations') }}</div>
                                            {% for recentOrganisation in recentOrganisations %}
                                                <a href="{{ route('user.operator.organisation.edit', recentOrganisation.id) }}">
                                                    {{ recentOrganisation.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if auth_user().hasPermission('view.operator') %}
                                <li aria-haspopup="false" id="manageOperatorSetting">
                                    <a href="{{ route('user.operator.operator') }}">
                                        {{ Lang.get('user.manage_operators') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.massemail') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('user.operator.massemail') }}">
                                        {{ Lang.get('user.mass_email') }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isModuleEnabled('Selfservice')
                        and auth_user().hasPermission('view.comment|view.selfservicetag|view.selfservicetypes'
                                ~ '|view.article|view.category')
                %}
                    <li class="dir" aria-haspopup="true">
                        <a class="nav dropdownmenu">
                            {{ Lang.get('selfservice.selfservice') }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul>
                            {% if auth_user().hasPermission('view.selfservicetype') %}
                                {% if assignedBrands.count() > 1 %}
                                    <li aria-haspopup="true">
                                        <a class="dropdownmenu">
                                            <i class="fa fa-chevron-right"></i>
                                            {{ Lang.choice('selfservice.type', 2) }}
                                        </a>
                                        <ul>
                                            {% for brand in assignedBrands %}
                                                <li aria-haspopup="false">
                                                    <a href="{{ route('selfservice.operator.type.index', brand.id) }}">
                                                        {{ brand.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li aria-haspopup="false">
                                        <a href="{{ route('selfservice.operator.type.index', assignedBrands.first().id) }}">
                                            {{ Lang.choice('selfservice.type', 2) }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if auth_user().hasPermission('view.category') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('selfservice.operator.category.index') }}">
                                        {{ Lang.choice('general.category', 2) }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.article') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('selfservice.operator.article.index') }}">
                                        {{ Lang.choice('selfservice.article', 2) }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.selfservicetag') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('selfservice.operator.tag.index') }}">
                                        {{ Lang.choice('selfservice.tag', 2) }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.comment') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('selfservice.operator.comment.index') }}">
                                        {{ Lang.choice('selfservice.comment', 2) }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if isModuleEnabled('Report') and auth_user().hasPermission('view.reportdashboard') %}
                    <li class="dir" aria-haspopup="false">
                        <a href="{{ route('report.operator.dashboard') }}" class="nav">{{ Lang.choice('report.report', 2) }}</a>
                    </li>
                {% endif %}
                {% if auth_user().canViewSettings() %}
                    <li class="dir" aria-haspopup="false">
                        <a id="settingsNavigation" href="{{ route('core.operator.setting') }}" class="nav">
                            {{ Lang.choice('general.setting', 2) }}
                        </a>
                    </li>
                {% endif %}
                {% if auth_user().hasPermission('view.plugin') %}
                    <li class="dir" aria-haspopup="false">
                        <a href="{{ route('core.operator.plugin.index') }}" class="nav">
                            {{ Lang.choice('core.plugins', 2) }}
                        </a>
                    </li>
                {% endif %}
                {% if auth_user().hasPermission('view.emaillog|view.emailqueue|view.license|view.operatorlog|view.phpinfo|view.activitylog') %}
                    <li class="dir" aria-haspopup="true">
                        <a class="nav dropdownmenu">
                            {{ Lang.get('core.utilities') }}
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul>
                            {% if auth_user().hasPermission('view.emailqueue') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('core.operator.emailqueue') }}">
                                        {{ Lang.get('core.email_queue') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.license') %}
                                <li aria-haspopup="false">
                                    <a href="{{ route('core.operator.about') }}">
                                        {{ Lang.get('core.license_info') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.emaillog|view.operatorlog|view.activitylog') %}
                                <li aria-haspopup="true">
                                    <a class="dropdownmenu">
                                        <i class="fa fa-chevron-right"></i>
                                        {{ Lang.choice('core.log', 2) }}
                                    </a>
                                    <ul>
                                        {% if auth_user().hasPermission('view.emaillog') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('core.operator.emaillog') }}">
                                                    {{ Lang.get('core.email_log') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if auth_user().hasPermission('view.logfiles') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('core.operator.logfiles.index') }}">
                                                    {{ Lang.get('core.file_manager') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if auth_user().hasPermission('view.operatorlog') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('user.operator.operatorloginlog') }}">
                                                    {{ Lang.get('user.operator_login_log') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if auth_user().hasPermission('view.activitylog') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('user.operator.systemactivitylog') }}">
                                                    {{ Lang.get('user.system_activity_log') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if auth_user().hasPermission('view.phpinfo|view.systemcleanup') %}
                                <li aria-haspopup="true">
                                    <a class="dropdownmenu">
                                        <i class="fa fa-chevron-right"></i>
                                        {{ Lang.get('general.system') }}
                                    </a>
                                    <ul>
                                        {% if auth_user().hasPermission('view.phpinfo') and function_exists('phpinfo') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('core.operator.phpinfo') }}">
                                                    {{ Lang.get('core.php_info') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if auth_user().hasPermission('view.systemcleanup') %}
                                            <li aria-haspopup="false">
                                                <a href="{{ route('core.operator.systemcleanup') }}">
                                                    {{ Lang.get('core.system_cleanup') }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {{ View.fireHook('operator.navigation') }}

                <li class="dir mobile-only hide" aria-haspopup="false">
                    <a href="{{ route('user.operator.personalsetting') }}" class="nav">
                        {{ Lang.get('user.personal_settings') }}
                    </a>
                </li>
                <li class="dir mobile-only hide" aria-haspopup="false">
                    <a href="{{ route('user.operator.signature') }}" class="nav">
                        {{ Lang.choice('user.signature', 2) }}
                    </a>
                </li>
                <li class="dir mobile-only hide" aria-haspopup="false">
                    <a href="{{ route('user.operator.logout') }}" class="nav">
                        {{ Lang.get('user.logout') }}
                    </a>
                </li>
            </ul>
        </div>
    {% endblock %}

    {{ View.fireHook('operator.header_end') }}
</div>

<div class="clear"></div>

<div id="content">
    {{ View.fireHook('operator.wrapper_start') }}

    {% block sidebar %}
    {% endblock %}

    <div id="main">
        {{ View.fireHook('operator.content_start') }}

        {% if Config.get('settings.maintenance_mode') %}
            <div class="box warning" style="margin-bottom: 0">
                {{ Lang.get('messages.maintenance_mode') }}
            </div>
        {% endif %}

        {% block precontent %}
        {% endblock %}

        <div class="desk_content_padding">
            {{ View.fireHook('operator.content_inner_start') }}

            {% block pageTitle %}
                {% if title is not empty %}
                    {% if docsLink is not empty %}
                        <a href="{{ docsLink }}" target="_blank" class="docs-link right">
                            <i class="fa fa-question-circle docs-link"></i>
                        </a>
                    {% endif %}
                    <h1 id="pageTitle">{{ title|raw }}</h1>
                {% endif %}
            {% endblock %}

            {% set breadcrumb = block('breadcrumb') %}
            {% if breadcrumb|trim is not empty %}
                <div class="breadcrumb">{{ breadcrumb|raw }}</div>
            {% endif %}

            {% set description = block('description') %}
            {% if description|trim is not empty %}
                <h2 class="description">{{ description|raw }}</h2>
            {% endif %}

            <!-- Box to display success/error messages generated by JavaScript -->
            <div class="box" id="js-message-box" style="display: none"></div>

            {% if Session.has('success') %}
                <div class="success box">{{ Session.get('success') }}</div>
            {% elseif (Session.has('error') or Session.has('email_error')) %}
                <div class="fail box">
                {{
                    Purifier.clean(
                        implode('<br /><br />', array_filter([ Session.get('error'), Session.get('email_error')|e ]))
                    )|raw
                }}
                </div>
            {% endif %}

            {% if errors|default is not empty and errors.count() %}
                <div class="fail box">
                    <strong>{{ Lang.get('messages.please_correct') }}</strong><br />
                    {% for error in errors.unique() %}
                        {{ Purifier.clean(error) }}<br />
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}

            {{ View.fireHook('operator.content_inner_end') }}
        </div>
        <div class="clear"></div>

        {{ View.fireHook('operator.content_end') }}
    </div>

    {{ View.fireHook('operator.wrapper_end') }}
</div>

{{ View.fireHook('operator.footer') }}

<!-- Vendor -->
<script type="text/javascript">
    paceOptions = {
        "ajax": {
            "ignoreURLs": [ "notification", "pollReplies" ]
        }
    }
</script>
<script type="text/javascript" src="{{ asset_rev('resources/assets/libs/common.min.js') }}"></script>
<link href="{{ asset_rev('resources/assets/libs/css/common.min.css') }}" rel="stylesheet" type="text/css" property="stylesheet" />

<!-- Laravel Localisation -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/lang.min.js') }}"></script>
<script type="text/javascript">
    Lang.addMessages({{ translationStrings|raw }});
    // Add the messages before setting the locale...
    Lang.setLocale("{{ App.getLocale() }}");
</script>

<!-- Laravel Routes -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/routes.min.js') }}"></script>
<script type="text/javascript">
    laroute.set_absolute({{ Config.get('laroute.absolute', false) }});
    laroute.set_root_url("{{ url('/') }}");
    laroute.set_routes({{ routeCollection|raw }});
    laroute.set_prefix('{{ Config.get('laroute.prefix', '') }}');
</script>

<!-- Timeago.js -->
<script src="{{ asset_rev('resources/assets/general/js/main.js') }}"></script>

<!-- Global Javascript Functions -->
<script src="{{ asset_rev('resources/assets/operator/js/mobile.js') }}" type="text/javascript"></script>
<script src="{{ asset_rev('resources/assets/operator/js/main.js') }}" type="text/javascript"></script>
<script src="{{ asset_rev('resources/assets/operator/js/search.js') }}"></script>

{% block scripts_footer %}
{% endblock %}

<!-- Collapsible side boxes -->
<script src="{{ asset_rev('resources/assets/operator/js/sidebox.js') }}"></script>

{% set enabled = Config.get('settings.product_tour_enabled', null) %}
{% if enabled == '1' or enabled is null %}
    <script src="{{ asset_rev('resources/assets/operator/js/producttour.js') }}" type="text/javascript"></script>
{% endif %}

<!-- Notifications library -->
<script src="{{ asset_rev('resources/assets/operator/js/notification.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var notifications = new SupportPalNotifications({
        type: "{{ Config.get('settings.operator' ~ auth_user().id ~ '.display_notifications') }}",
        icon: "{{ get_icon('resources/assets/operator/images/favicon/favicon_space.png') }}",
        timeout: 15000
    });
    notifications.poll();
</script>

{{ View.fireHook('operator.body_end') }}

</body>

</html>
