{% for customfield in customfields %}
    {% if (customfield['type'] == 2 or customfield['type'] == 4 or customfield['type'] == 5
        or customfield['type'] == 7 or customfield['type'] == 10) and customfield['options'] is empty %}
        {# No options so hide custom field #}
    {% else %}
        {% if operator|default is not empty %}
            {% set customfield = customfield|merge({'locked': false}) %}
        {% endif %}
        <div class="form-row" data-field="{{ customfield['id'] }}">
            {{ form_label('customfield[' ~ customfield['id'] ~ ']', customfield['name']) }}
            <div class="input-container">
                {% if customfield['type'] == 0 %}
                    <div class="input-group">
                        <label>
                            {{ form_radio('customfield[' ~ customfield['id'] ~ ']', 1,
                                (customfield['value']) ? true : false,
                                (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {}))
                            }} {{ Lang.get('general.yes') }}
                        </label>
                        <br />
                        <label>
                            {{ form_radio('customfield[' ~ customfield['id'] ~ ']', 0,
                                (customfield['value'] == '0') ? true : false,
                                (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {}))
                            }} {{ Lang.get('general.no') }}
                        </label>
                    </div>

                {% elseif customfield['type'] == 1 %}
                    {{ form_checkbox('customfield[' ~ customfield['id'] ~ ']', 1, customfield['value'],
                         (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }}

                {% elseif customfield['type'] == 2 %}
                    <div class="input-group">
                    {% for key, option in customfield['options'] %}
                        <label>
                            {{ form_checkbox('customfield[' ~ customfield['id'] ~ '][]', key,
                                customfield['value']|default is not empty and in_array(key, customfield['value']) ? true : false,
                                (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }} {{ option }}
                        </label>
                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                    </div>

                {% elseif customfield['type'] == 3 %}
                    {{ form_text('customfield[' ~ customfield['id'] ~ ']',
                        customfield['value']|default is not empty ? timeWithOffset(customfield['value'], false)|date(Config.get('settings.date_format')) : null,
                        {'class': 'datepicker', 'placeholder': '&#xf073;', 'disabled': (customfield['value'] is not empty and customfield['locked'] ? 'disabled' : null)}) }}

                {% elseif customfield['type'] == 4 %}
                    {{ form_select('customfield[' ~ customfield['id'] ~ '][]', customfield['options'],
                        customfield['value'],
                        {'multiple': 'multiple', 'disabled': (customfield['value'] is not empty and customfield['locked'] ? 'disabled' : null)}) }}

                {% elseif customfield['type'] == 5 %}
                    {{ form_select('customfield[' ~ customfield['id'] ~ ']', {'': Lang.get('customfield.please_select')} + customfield['options'],
                        customfield['value'], (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }}

                {% elseif customfield['type'] == 6 %}
                    {% if operator|default is not empty %}
                        <input type="password" name="customfield[{{customfield['id']}}]"
                            value="{% if customfield['value'] is not empty %}{{ customfield['value'] }}{% endif %}" />
                    {% else %}
                        {{ form_password('customfield[' ~ customfield['id'] ~ ']',
                            (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled', 'size': '50%'} : {'size': '50%'}))
                        }} &nbsp; {% if operator|default is empty %}<span class="description">({{ Lang.get('user.only_enter_to_change') }})</span>{% endif %}
                    {% endif %}

                {% elseif customfield['type'] == 7 %}
                    <div class="input-group">
                    {% for key, option in customfield['options'] %}
                        <label>
                            {{ form_radio('customfield[' ~ customfield['id'] ~ ']', key,
                                (customfield['value'] == key) ? true : false,
                                (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }} {{ option }}
                        </label>
                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                    </div>

                {% elseif customfield['type'] == 8 %}
                    {{ form_text('customfield[' ~ customfield['id'] ~ ']', customfield['value'],
                        (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled', 'size': '50%'} : {'size': '50%'})) }}

                {% elseif customfield['type'] == 9 %}
                    {{ form_textarea('customfield[' ~ customfield['id'] ~ ']', customfield['value'],
                        (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }}

                {% elseif customfield['type'] == 10 %}
                    <div class="table">
                        <div class="table-row">
                        <div class="table-cell first-cell"></div>
                        {% for i in 1..5 %}
                            <div class="table-cell"><strong>{{ i }}</strong></div>
                        {% endfor %}
                        </div>
                        {% for key, option in customfield['options'] %}
                        <div class="table-row">
                            <div class="table-cell first-cell">{{ option }}</div>
                            {% for i in 1..5 %}
                            <div class="table-cell">
                            {{ form_radio('customfield[' ~ customfield['id'] ~ '][' ~ key ~ ']', i,
                                (customfield['value'] is not empty and array_key_exists(key, customfield['value']) and customfield['value'][key] == i) ? true : false,
                                (customfield['value'] is not empty and customfield['locked'] ? {'disabled': 'disabled'} : {})) }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                {% endif %}
                {% if customfield['description'] is not empty %}
                    {% if customfield['type'] != 0 and customfield['type'] != 2 and customfield['type'] != 7 %}
                        <br />
                    {% endif %}
                    <span class="description">{{ customfield['description'] }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}