{% extends parent_template %}

{% block scripts_header %}
    <link href="{{ asset_rev('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    {{ type.name }}: {{ Lang.choice('selfservice.article', 2) }}
{% endblock %}

{% block content %}

    <div class="grid-options options box">
        <a href="{{ route('selfservice.operator.article.create', { 'type': type.slug|lower }) }}">
            <i class="fa fa-plus"></i>&nbsp; {{ Lang.get('selfservice.add_article') }}
        </a>
        &nbsp;&nbsp;
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('selfservice.title') }}:</label>
                <div id="filter_name"></div>
            </div>
            <div>
                <label>{{ Lang.get('selfservice.author') }}:</label>
                <div id="filter_author"></div>
            </div>
            <div>
                <label>{{ Lang.choice('general.category', 1) }}:</label>
                <div id="filter_category"></div>
            </div>
            <div>
                <label>{{ Lang.choice('selfservice.tag', 1) }}:</label>
                <div id="filter_tag"></div>
            </div>
            <div>
                <label>{{ Lang.get('selfservice.published') }}:</label>
                <div id="filter_published"></div>
            </div>
        </div>
    </div>

    {{ table.render()|raw }}
    {{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <!-- Delete records from the table -->
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <!-- Filter the table -->
    <script src="{{ asset_rev('resources/assets/libs/yadcf/js/jquery.dataTables.yadcf.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_name", filter_type: "text"},
                {column_number : 1, column_data_type: "html", html_data_type: "selector", html_data_selector: "a", filter_container_id: "filter_author"},
                {column_number : 2, column_data_type: "html", html_data_type: "selector", html_data_selector: "a", filter_container_id: "filter_category"},
                {column_number : 3, column_data_type: "html", html_data_type: "selector", html_data_selector: "a", filter_container_id: "filter_tag"},
                {column_number : 4, column_data_type: "text", filter_container_id: "filter_published"}
            ]);
        });
    </script>
{% endblock %}