{% extends parent_template %}

{% block scripts_header %}
    <link href="{{ asset('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    {{ Lang.choice('selfservice.comment', 2) }}
{% endblock %}

{% block content %}
	<div class="success box update hide">
        {{ Lang.get('messages.success_updated', { 'item': Lang.choice('selfservice.comment', 1)|lower }) }}
    </div>
    <div class="fail box update hide">
        {{ Lang.get('messages.error_updated', { 'item': Lang.choice('selfservice.comment', 1)|lower }) }}
    </div>

    <div class="options box">
        <a class="filter-results">
            <i class="fa fa-filter"></i>&nbsp; {{ Lang.get('general.filter_results') }}
        </a>

        <div class="filters hide">
            <div>
                <label>{{ Lang.get('general.by')|capitalize }}:</label>
                <div id="filter_by"></div>
            </div>
            <div>
                <label>{{ Lang.choice('selfservice.article', 1) }}:</label>
                <div id="filter_article"></div>
            </div>
        </div>
    </div>

    {{ table.render()|raw }}
    {{ table.script()|raw }}
{% endblock %}

{% block scripts_footer %}
	<script src="{{ asset('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <!-- Delete records from the table -->
    <script src="{{ asset('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link href="{{ asset('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('resources/assets/operator/js/delete.alert.js') }}"></script>

    <!-- Filter the table -->
    <script src="{{ asset('resources/assets/libs/yadcf/js/jquery.dataTables.yadcf.js') }}"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			// Update status of comment
			$(document.body).on('change', '.update-status', function() {
				var $this = $(this);
				// Post updated data
		        $.post(
					laroute.route("selfservice.operator.comment.updateStatus", { id: $this.parents('tr').attr('id') }),
		            { status: $this.val() },
		        function(response) {
		            if (response.status == 'success') {
		                $('.update.success').show(500).delay(5000).hide(500);
		            } else {
		                $('.update.fail').show(500).delay(5000).hide(500);
		            }
		        }, "json").fail(function() {
		            $('.update.fail').show(500).delay(5000).hide(500);
		        }).always(function() {
		            $('.dataTable').dataTable()._fnAjaxUpdate();
		        });
			});
            
            /**
             * Initialise the filters
             */
            oTable.yadcf([
                {column_number : 0, column_data_type: "text", filter_container_id: "filter_by", filter_type: "text"},
                {column_number : 1, column_data_type: "text", filter_container_id: "filter_article", filter_type: "text"},
            ]);
        });
    </script>
{% endblock %}