<h2>{{ Lang.choice('selfservice.category', 2) }}</h2>

{% if not categories.isEmpty() %}
    <div class="catcontainer">
        {% for category in categories %}
            {% if not category.articles.isEmpty() %}
            <div class="catbox">
                <a class='cattitle' href='{{ route('selfservice.operator.internal.category', {'brand': type.brand_id, 'type': type.slug, 'slug': category.slug}) }}'>
                    <i class="fa fa-folder-open-o"></i>&nbsp; {{ category.name }} ({{ category.count }})
                </a>
                <ul class="catlist">
                    {% for article in category.articles %}
                        <li>
                            <a href='{{ article.internalUrl(type) }}'>
                               {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="clear"></div>
{% else %}
    {{ Lang.get('selfservice.no_categories_frontend') }}
{% endif %}