{% extends parent_template %}

{% block title %}{{ Lang.get('ticket.feedback_for_ticket', { 'number': ticket.number }) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ route('ticket.frontend.ticket.index') }}">{{ Lang.choice('ticket.ticket', 2) }}</a> &nbsp;&raquo;&nbsp;
    {{ Lang.choice('ticket.ticket', 1) }} #{{ ticket.number }}
{% endblock %}

{% block content %}

    <div class="success box">{{ Lang.get('ticket.feedback_thank_you') }}</div>

    {{ Lang.get('ticket.feedback_questions') }}

    <br /><br />

    {{ form_open({'route': [ 'ticket.frontend.ticket.feedback', ticket.number, token ] }) }}

        {% include 'frontend.' ~ template ~ '.forms.customfields' %}

        <div class="form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    <!-- Custom fields -->
    <link href="{{ asset_rev('resources/assets/general/css/customfield.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/frontend/css/redactor.css') }}">

    <script type="text/javascript">
        $(document).ready(function() {
            // Enable hide/show password toggle
            callHideShowPassword();

            // Date picker
            callPikaday();

            // Disable form button on click
            $('form').on('submit', function() {
                $(this).find("input[type='submit']").prop('disabled',true);
            });
        });
    </script>
{% endblock %}
