{% extends parent_template %}

{% block scripts_header %}
    <link href="{{ asset('resources/assets/libs/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{{ Lang.choice('ticket.ticket', 2) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.choice('ticket.ticket', 2) }}
{% endblock %}

{% block content %}

    <a href="{{ route('ticket.frontend.ticket.createStep1') }}" class="button">
        {{ Lang.get('ticket.open_new') }}
    </a>

    <br /><br />

	{{ table.render()|raw }}
	{{ table.script()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <link href="{{ asset('resources/assets/frontend/css/datatables.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ asset('resources/assets/libs/datatables-responsive/js/dataTables.responsive.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/assets/libs/datatables-responsive/css/dataTables.responsive.css') }}">

    <script type="text/javascript">
        $(document).ready(function() {
            $.extend($.fn.dataTable.defaults, {
                responsive: true
            });
        });
    </script>
{% endblock %}