{% extends parent_template %}

{% block meta %}
    <meta name="robots" content="noindex" />
    {% if download %}
        <meta http-equiv="refresh" content="2;{{ download.direct_frontend_url }}" />
    {% endif %}
{% endblock %}

{% block title %}{{ ticket.subject }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ route('ticket.frontend.ticket.index') }}">{{ Lang.choice('ticket.ticket', 2) }}</a> &nbsp;&raquo;&nbsp;
    {{ Lang.choice('ticket.ticket', 1) }} #{{ ticket.number }}
{% endblock %}

{% block sidebar %}
    <div class="desk_box ticket-details">
        <h2>{{ Lang.get('ticket.ticket_details') }}</h2>
        <div class="form-row">
            <label>{{ Lang.get('general.number') }}</label>
            {{ ticket.number }}
        </div>
        <div class="form-row">
            <label>{{ Lang.choice('ticket.department', 1) }}</label>
            <span class="ticket-department">{{ ticket.department.frontend_name }}</span>
        </div>
        <div class="form-row">
            <label>{{ Lang.choice('general.status', 1) }}</label>
            <span class="ticket-status badge" style="background: {{ ticket.status.colour }}">{{ ticket.status.name }}</span>
        </div>
        <div class="form-row">
            <label>{{ Lang.choice('ticket.priority', 1) }}</label>
            <span class="ticket-priority badge" style="background: {{ ticket.priority.colour }}">{{ ticket.priority.name }}</span>
        </div>
        <div class="form-row">
            <label>{{ Lang.get('ticket.submitted') }}</label>
            {{ timeago(ticket.created_at) }}
        </div>
        <div class="form-row">
            <label>{{ Lang.get('ticket.last_reply') }}</label>
            <span class="ticket-updated">{{ timeago(ticket.last_message_time) }}</span>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if download %}
        <div class="options box">
            <i class="fa fa-times right"></i>
            <strong>{{ Lang.get('ticket.downloading') }}</strong><br />
            {{ Lang.get('ticket.downloading_desc', {'href': download.direct_frontend_url|e})|raw }}
        </div>
    {% endif %}

    {% if ticket.locked == 1 %}
        <div class="fail box">
            {{ Lang.get('ticket.error_ticket_locked') }}
        </div>
    {% endif %}

    <div class="success box ticket-update hide">
        {{ Lang.get('messages.success_updated', { 'item': mb_strtolower(Lang.choice('ticket.ticket', 1), 'UTF-8') }) }}
    </div>
    <div class="fail box ticket-update hide">
        {{ Lang.get('messages.error_updated', { 'item': mb_strtolower(Lang.choice('ticket.ticket', 1), 'UTF-8') }) }}
    </div>

    {% if feedbackToken is not null %}
        <div class="feedback options box">
            <p>{{ Lang.get('ticket.feedback_desc') }}</p>
            <a class="good-button button" href="{{ route('ticket.frontend.ticket.feedback', [ ticket.number, feedbackToken ]) }}?rating=1">
                <i class="fa fa-smile-o"></i>&nbsp; {{ Lang.get('ticket.good_satisfied') }}
            </a>
            &nbsp;
            <a class="bad-button button" href="{{ route('ticket.frontend.ticket.feedback', [ ticket.number, feedbackToken ]) }}?rating=0">
                <i class="fa fa-frown-o"></i>&nbsp; {{ Lang.get('ticket.bad_not_satisfied') }}
            </a>
        </div>
    {% endif %}

    <div class="mobile-ticket-details hide">
        <h2 class="collapsable">
            {{ Lang.get('ticket.ticket_details') }}
            <span>
                <i class="fa fa-chevron-up"></i>
            </span>
        </h2>
        <div class="hide">
            <div class="form-row">
                <label>{{ Lang.get('general.number') }}</label>
                {{ ticket.number }}
            </div>
            <div class="form-row">
                <label>{{ Lang.choice('ticket.department', 1) }}</label>
                {{ ticket.department.frontend_name }}
            </div>
            <div class="form-row">
                <label>{{ Lang.choice('general.status', 1) }}</label>
                <span class="badge" style="background: {{ ticket.status.colour }}">{{ ticket.status.name }}</span>
            </div>
            <div class="form-row">
                <label>{{ Lang.choice('ticket.priority', 1) }}</label>
                <span class="badge" style="background: {{ ticket.priority.colour }}">{{ ticket.priority.name }}</span>
            </div>
            <div class="form-row">
                <label>{{ Lang.get('ticket.submitted') }}</label>
                {{ timeago(ticket.created_at) }}
            </div>
            <div class="form-row">
                <label>{{ Lang.get('ticket.last_reply') }}</label>
                <span class="ticket-updated">{{ timeago(ticket.last_message_time) }}</span>
            </div>
        </div>
        <hr />
    </div>

    {% if customfields is not empty %}
        <h2 class="collapsable">
            {{ Lang.choice('ticket.customfield', 2) }}
            <span>
                <i class="fa fa-chevron-up"></i>
            </span>
        </h2>
        <div class="hide">
            <form class="custom-fields validate">
                {% include 'frontend.' ~ template ~ '.forms.customfields' %}

                {% if ticket.locked == 0 %}
                    <div class="form-button">
                        <button class="save-fields" data-token="{{ Input.get('token', '') }}" type="button">
                            {{ Lang.get('general.save') }}
                        </button>
                    </div>
                {% endif %}
            </form>
        </div>
        <hr />
    {% endif %}

    <div class="{% if ticket.user.isDescendingReplyOrder() %}reverse-order{% endif %} {% if ticket.locked == 1 %}locked-ticket{% endif %}">
        {% if ticket.user.isAscendingReplyOrder() %}
            {% include 'frontend.' ~ template ~ '.ticket.ticket_messages' %}
        {% endif %}

        {% if ticket.locked == 0 %}
            <div class="add-reply">
                {% if organisationEmails is empty and ticket.cc is empty %}
                    <a class="button right toggle-cc">
                        {{ Lang.get('ticket.add_cc') }}
                    </a>
                {% endif %}
                <h2>{{ Lang.get('ticket.add_reply') }}</h2>
                {% include 'frontend.' ~ template ~ '.ticket.forms.message' %}
            </div>
        {% endif %}

        {% if ticket.user.isDescendingReplyOrder() %}
            {% include 'frontend.' ~ template ~ '.ticket.ticket_messages' %}
        {% endif %}
    </div>

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
    {% if jsValidatorFields|default is not empty %}
        {{ jsValidatorFields|raw }}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/frontend/css/ticket.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/frontend/css/ticket-print.css') }}">

    <!-- Selectize -->
    <script src="{{ asset_rev('resources/assets/operator/js/selectize/max_items.js') }}"></script>

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/frontend/css/redactor.css') }}">

    <!-- Attachments: dependencies = sweet alerts and jquery fileupload -->
    <script src="{{ asset_rev('resources/assets/general/js/fileupload.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>
    <script type="text/javascript">
        new FileUpload();
    </script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <script type="text/javascript">
        var ticketNumber = "{{ ticket.number }}",
            closedStatusId = "{{ Config.get('settings.default_resolved_status') }}",
            descReplyOrder = {% if ticket.user.isDescendingReplyOrder() %}true{% else %}false{% endif %};
    </script>

    <script src="{{ asset_rev('resources/assets/frontend/js/ticket.js') }}"></script>
{% endblock %}
