{% if input_name|default is empty %}
    {% set input_name = 'attachment' %}
{% endif %}
<div class="attachment-details">
    <input type="hidden" name="{{ input_name }}[]" disabled="disabled" class="mdd-ignore" />
    {% if Input.old() is not empty and Input.old()[input_name] is not empty %}
        {% for hash, file in Input.old()[input_name] %}
            <input type="hidden" name="{{ input_name }}[{{ hash }}]" id="{{ input_name }}[{{ hash }}]" value="{{ file }}" />
        {% endfor %}
    {% endif %}
</div>

<ul class="attached-files">
    <li class="hide">
        <i class="fa fa-file"></i>
        &nbsp;
        <span class="information">
            <span class="filename ellipsis"></span>
            &nbsp;
            <span class="filesize"></span>
        </span>
        <i class="fa fa-times deleteAttachment right hide"></i>
        <div class="progress">
            <div class="bar"></div>
        </div>
    </li>
    {% if attachments is not empty and not attachments.isEmpty() %}
        {% for attachment in attachments %}
            <li>
                <i class="fa fa-file"></i>
                &nbsp;
                <a href='{{ route(downloadRoute, [ attachment.upload_hash ]) }}'>{{ attachment.original_name }}</a>
                &nbsp;
                ({{ attachment.upload.size }})

                <i class="fa fa-times deleteAttachment right"
                   {% if deleteFromServer is not defined or deleteFromServer %}data-url="{{ route(route ~ ".destroy") }}"{% endif %}
                   data-attachment-id="{{ attachment.id }}" 
                   data-hash="{{ attachment.upload_hash }}"></i>
            </li>
        {% endfor %}
    {% elseif Input.old() is not empty and Input.old()[input_name] is not empty %}
        {% for hash, file in Input.old()[input_name] %}
            <li>
                <i class="fa fa-file"></i>
                &nbsp;
                <span class="information">
                    <span class="filename ellipsis">{{ file }}</span>
                </span>

                <i class="fa fa-times deleteAttachment right"
                   {% if deleteFromServer is not defined or deleteFromServer %}data-url="{{ route(route ~ ".destroy") }}"{% endif %}
                    data-hash="{{ hash }}"></i>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<div class="attachment-dragover hide">
    {{ Lang.get('general.drag_and_drop') }}
</div>

<label class="file-input button" style="margin-top: 10px;">
    <i class="fa fa-paperclip"></i>&nbsp; {{ Lang.get('general.add_attachment') }}
    <input class="fileupload" type="file" name="files[]" data-url="{{ route(route ~ ".upload") }}" multiple="multiple">
</label>