<div class="attachment-details">
    <input type="hidden" name="attachment[]" disabled="disabled" />
    {% if Input.old() is not empty and Input.old()['attachment'] is not empty %}
        {% for hash, file in Input.old()['attachment'] %}
            <input type="hidden" name="attachment[{{ hash }}]" id="attachment[{{ hash }}]" value="{{ file }}" />
        {% endfor %}
    {% endif %}
</div>

<ul id="attached-files">
    <li class="hide">
        <i class="fa fa-file"></i>
        &nbsp;
        <span class="information">
            <span class="filename ellipsis"></span>
            &nbsp;
            <span class="filesize"></span>
        </span>
        <i class="fa fa-times deleteAttachment right hide"></i>
        <div class="progress">
            <div class="bar"></div>
        </div>
    </li>
    {% if attachments is not empty and not attachments.isEmpty() %}
        {% for attachment in attachments %}
            <li>
                <i class="fa fa-paperclip"></i>
                &nbsp;
                <a href='{{ route(downloadRoute, [ attachment.upload_hash ]) }}'>
                    {{ attachment.original_name }}
                </a>
                &nbsp;
                ({{ attachment.upload.size }})
                &nbsp;
                <i class="fa fa-times deleteAttachment"
                   data-url="{{ route(route ~ ".destroy") }}"
                   data-hash="{{ attachment.upload_hash }}"></i>
            </li>
        {% endfor %}
    {% elseif Input.old() is not empty and Input.old()['attachment'] is not empty %}
        {% for hash, file in Input.old()['attachment'] %}
            <li>
                <i class="fa fa-file"></i>
                &nbsp;
                <span class="information">
                    <span class="filename ellipsis">{{ file }}</span>
                </span>
                <i class="fa fa-times deleteAttachment right"
                    data-url="{{ route(route ~ ".destroy") }}"
                    data-hash="{{ hash }}"></i>
                <div class="progress">
                    <div class="bar"></div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<label for="fileupload" class="file-input button" style="margin-top: 10px;">
    <i class="fa fa-paperclip"></i>&nbsp; {{ Lang.get('general.add_attachment') }}
</label>
<input id="fileupload" type="file" name="files[]" data-url="{{ route(route ~ ".upload") }}" multiple="multiple">

<!-- Attachments JS -->
<script src="{{ asset_rev('resources/assets/libs/blueimp-file-upload/js/jquery.ui.widget.js') }}"></script>
<script src="{{ asset_rev('resources/assets/libs/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset_rev('resources/assets/libs/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
<script src="{{ asset_rev('resources/assets/general/js/attachments.js') }}"></script>

<!-- Sweet alert 2 -->
<script>
    // Load JavaScript
    window.swal || document.write('<script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}">\x3C/script>');

    // Load CSS
    var path = '{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}';
    if (!$("link[href='"+path+"']").length)
        $('<link href="'+path+'" rel="stylesheet">').appendTo("head");
</script>