{% extends parent_template %}

{% block sidebar %}
    {% include 'operator.' ~ template ~ '.sidebar-settings' %}
{% endblock %}

{% block title %}
    {{ Lang.get('general.edit_item', {'item': Lang.choice('general.language', 1)}) }}
{% endblock %}

{% block content %}

    {{ form_model(record, { 'route': [ 'core.operator.language.update', record.code ], 'method': 'PUT', 'class': 'validate' }) }}

        <div class="form-container open first">

            <div class="form-row">
                {{ form_label('name', Lang.get('general.name')) }}
                <div class="input-container translatable small-translatable">
                    {{ form_translatable_text(record, 'name', null, {'autofocus': 'autofocus'}) }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('enabled', Lang.get('general.enabled')) }}
                <div class="input-container">
                    {{ form_check('enabled', 1, record.enabled, { 'class': 'toggle', 'id': 'toggle_enabled' }) }}
                    <label for="toggle_enabled"></label>
                    {% if Config.get('settings.default_frontend_language') == record.code or Config.get('settings.default_operator_language') == record.code %}
                        <div class="warning box bottombox">{{ Lang.get('core.disabling_default_language') }}</div>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice("general.submit", 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Translatable.js dependencies: Selectize -->
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/translatable.js') }}"></script>
{% endblock %}