{% extends parent_template %}

{% block title %}
    {{ Lang.choice('general.message', 2) }}
{% endblock %}

{% block content %}

    <div class="success box delete hide">
        {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('general.message', 1), 'UTF-8') }) }}
    </div>
    <div class="fail box delete hide">
        {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('general.message', 1), 'UTF-8') }) }}
    </div>

    <div class="message-block">
        {% for message in messages %}
        <div class="message clear message-{{ message.id }}">
            <div class="header">
                {% if message.user_id == auth_user().id %}
                    <span class="right">
                        <button class="as-link delete-confirm" data-route="{{ route('core.operator.message.destroy', [ message.id ]) }}" data-id="{{ message.id }}">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                {% endif %}

                <img src='data:image/png;base64,{{ message.user.avatar }}' width='24' height='24' alt='{{ Lang.choice('user.operator', 1) }}' class='avatar left' />
                <span class="name {% if message.user_id == auth_user().id %}staff{% else %}user{% endif %}">{{ message.user.formatted_name }}</span><br />
                <span class="description">{{ timeago(message.created_at) }}</span>
            </div>
            <div class="text">
                {{ Purifier.clean(message.message) }}
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>{{ Lang.get('general.reply') }}</h2>

    {{ form_open({ 'method': 'PUT', 'route': [ 'core.operator.message.update', conversation_id ], 'class': 'validate' }) }}
        {{ form_hidden('conversation_id', conversation_id) }}

        {{ form_redactor('message', null, { 'size': '50x3' }) }}

        <div class="form-button">
            {{ form_submit(Lang.get('general.send')) }}
        </div>
    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
    
    <link href="{{ asset_rev('resources/assets/operator/css/ticket.css') }}" rel="stylesheet" type="text/css" />

    <!-- Sweetalert -->
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <!-- Code Editor -->
    <script src="{{ asset_rev('resources/assets/libs/codemirror/js/codemirror.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset_rev('resources/assets/libs/codemirror/css/codemirror.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/operator/js/delete.alert.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('textarea').redactor($.extend($.Redactor.default_opts, {
                focus: true,
                plugins: ['syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize']
            }));

            // Open links (not anchors) in a new window/tab
            $('.message .text a').attr('target', '_blank');

            // Delete ticket message
            $(document.body).on('click', '.delete-confirm', function() {
                // Save the delete route and message ID
                var deleteRoute = $(this).data('route');
                var messageId = $(this).data('id');

                // Show the alert
                swal(deleteAlert.getDefaultOpts('{{ Lang.choice('general.message', 1) }}'), function(isConfirm) {
                    if (isConfirm) {
                        // Disable submit button
                        deleteAlert.disableButtons();
                        // Delete record and reload table if successful
                        $.ajax({
                            url: deleteRoute,
                            type: 'DELETE',
                            dataType: 'json',
                            success: function(response) {
                                if (response.status == 'success') {
                                    $('.success').show(500).delay(5000).hide(500);
                                    // Close alert
                                    swal.closeModal();
                                    // Remove message from view
                                    $('.message-' + messageId).remove();
                                    if (!$('.message').length) {
                                        // No more messages exist, redirect to grid
                                        window.location.href = laroute.route('core.operator.message.index');
                                    }
                                } else {
                                    $('.fail').show(500).delay(5000).hide(500);
                                    // Close alert
                                    swal.closeModal();
                                }
                            },
                            error: function() {
                                $('.fail').show(500).delay(5000).hide(500);
                                // Close alert
                                swal.closeModal();
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}