{% extends parent_template %}

{% block title %}
    {% if record|default is not empty and record.exists %}
        {{ Lang.get('general.edit') }} {{ Lang.choice('selfservice.comment', 1) }}
    {% else %}
        {{ Lang.get('general.add') }} {{ Lang.choice('selfservice.comment', 1) }} {{ Lang.get('general.reply') }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if record|default is not empty and record.exists %}
        {{ form_model(record, { 'route': [ 'selfservice.operator.comment.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}
    {% else %}
        {{ form_open({ 'route': 'selfservice.operator.comment.store', 'class': 'validate' }) }}
    {% endif %}

        <div class="form-container first open">

            {% if record|default is not empty and record.exists %}
                <div class="form-row">
                    {{ form_label('author', Lang.get('selfservice.comment_by')) }}
                    <div class="input-container">
                        <a href='{{ route("user.operator.user.edit", [ record.author_id ]) }}'>
                            {{ record.author.formatted_name }}
                        </a>
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label('article', Lang.choice('selfservice.article', 1)) }}
                    <div class="input-container">
                        <a href='{{ route("selfservice.operator.article.edit", {
                                "type": comment.article.type.slug,
                                "article": comment.article_id
                            }) }}'>
                            {{ record.article.title }}
                        </a>
                    </div>
                </div>
            {% else %}
                {{ form_hidden('parent_id', comment.id) }}
                {{ form_hidden('article_id', comment.article_id) }}

                <div class="form-row">
                    {{ form_label('author', Lang.get('selfservice.comment_by')) }}
                    <div class="input-container">
                        <a href='{{ route("user.operator.user.edit", [ comment.author_id ]) }}'>
                            {{ comment.author.formatted_name }}
                        </a>
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label('author', Lang.choice('selfservice.comment', 1)) }}
                    <div class="input-container">
                        {{ Purifier.clean(comment.text) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label('article', Lang.choice('selfservice.article', 1)) }}
                    <div class="input-container">
                        <a href='{{ route("selfservice.operator.article.edit", {
                                "type": comment.article.type.slug,
                                "article": comment.article_id
                            }) }}'>
                            {{ comment.article.title }}
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="form-row">
                {{ form_label('text', Lang.get('general.text')) }}
                <div class="input-container">
                    {{ form_redactor('text', record|default is not empty and record.exists ? comment.text
                        : '@' ~ trim(str_replace(' ', '', comment.author.formatted_name)) ~ ' ') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('status', Lang.choice('general.status', 1)) }}
                <div class="input-container">
                    {{ form_select('status', {
                            0: Lang.get('selfservice.awaiting_moderation'),
                            1: Lang.get('selfservice.published'),
                            2: Lang.get('selfservice.spam')
                        }, (record|default is not empty and record.exists) ? record.status : 1) }}
                </div>
            </div>

            {% if record|default is not empty and record.exists and Config.get('settings.comment_ratings') %}
                <div class="form-row">
                    {{ form_label('rating', Lang.choice('selfservice.rating', 1)) }}
                    <div class="input-container">
                        <span class="score">{{ record.rating }}</span>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <script src="{{ asset('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('textarea[name=text]').redactor($.Redactor.default_opts);

        });
    </script>
{% endblock %}