{% extends parent_template %}

{% block title %}
    {{ Lang.get('general.edit_item', {'item': Lang.choice('selfservice.comment', 1)}) }}
{% endblock %}

{% block breadcrumb %}
    {{ Lang.get('selfservice.selfservice') }}
    &nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <a href="{{ route('selfservice.operator.comment.index') }}">{{ Lang.choice('selfservice.comment', 2) }}</a>
    &nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <strong>{{ Lang.get('general.edit_item', {'item': Lang.choice('selfservice.comment', 1)}) }}</strong>
{% endblock %}

{% block content %}

    {{ form_model(record, { 'route': [ 'selfservice.operator.comment.update', record.id ], 'method': 'PUT', 'class': 'validate' }) }}

        <div class="form-container first open">

            <div class="form-row">
                {{ form_label('author', Lang.get('selfservice.comment_by')) }}
                <div class="input-container">
                    <a href='{{ route("user.operator.user.edit", [ record.author_id ]) }}'>
                        {{ record.author.formatted_name }}
                    </a>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('article', Lang.choice('selfservice.article', 1)) }}
                <div class="input-container">
                    <a href='{{ route("selfservice.operator.article.edit", {
                            "type": record.type_id,
                            "article": record.article_id
                        }) }}'>
                        {{ record.article.title }}
                    </a>
                </div>
            </div>

            <div class="form-row">
                {{ form_label('text', Lang.get('general.text')) }}
                <div class="input-container">
                    {{ form_redactor('text', record|default is not empty and record.exists ? record.purified_text
                        : '@' ~ trim(str_replace(' ', '', record.author.formatted_name)) ~ ' ') }}
                </div>
            </div>

            <div class="form-row">
                {{ form_label('status', Lang.choice('general.status', 1)) }}
                <div class="input-container">
                    {{ form_select('status', {
                            0: Lang.get('selfservice.awaiting_moderation'),
                            1: Lang.get('selfservice.published'),
                            2: Lang.get('selfservice.spam')
                        }, (record|default is not empty and record.exists) ? record.status : 1) }}
                </div>
            </div>

            {% if record|default is not empty and record.exists and Config.get('settings.comment_ratings') %}
                <div class="form-row">
                    {{ form_label('rating', Lang.choice('selfservice.rating', 1)) }}
                    <div class="input-container">
                        <span class="score">{{ record.rating }}</span>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="form-button">
            {{ form_submit(Lang.choice('general.submit', 1)) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>

    <!-- Code Editor -->
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('textarea[name=text]').redactor($.extend($.Redactor.default_opts, {
                focus: true,
                plugins: ['syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize']
            }));

        });
    </script>
{% endblock %}