{% extends parent_template %}

{% block title %}
    {{ Lang.get('selfservice.reply_to_comment') }}
{% endblock %}

{% block breadcrumb %}
    {{ Lang.get('selfservice.selfservice') }}
    &nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <a href="{{ route('selfservice.operator.comment.index') }}">{{ Lang.choice('selfservice.comment', 2) }}</a>
    &nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <strong>{{ Lang.get('selfservice.reply_to_comment') }}</strong>
{% endblock %}

{% block content %}

    {{ form_open({ 'route': 'selfservice.operator.comment.store', 'class': 'validate' }) }}

    <div class="form-container first open">

        {{ form_hidden('article_id', record.article_id) }}
        {{ form_hidden('type_id', record.type_id) }}
        {{ form_hidden('parent_id', record.id) }}

        <div class="form-row">
            {{ form_label('author', Lang.get('selfservice.comment_by')) }}
            <div class="input-container">
                <img src="data:image/png;base64,{{ record.author.avatar }}" class="avatar" height="21" width="21" />
                <a href='{{ route("user.operator.user.edit", [ record.author_id ]) }}'>
                    {{ record.author.formatted_name }}
                </a>
            </div>
        </div>

        <div class="form-row">
            {{ form_label('author', Lang.choice('selfservice.comment', 1)) }}
            <div class="input-container">
                {{ record.purified_text|raw }}
            </div>
        </div>

        <div class="form-row">
            {{ form_label('article', Lang.choice('selfservice.article', 1)) }}
            <div class="input-container">
                <a href='{{ route("selfservice.operator.article.edit", {
                    "type": record.article.type_id,
                    "article": record.article_id
                }) }}'>
                    {{ record.article.title }}
                </a>
            </div>
        </div>

        <div class="form-row">
            {{ form_label('text', Lang.get('general.text')) }}
            <div class="input-container">
                {{ form_redactor('text', '<div>@' ~ trim(str_replace(' ', '', record.author.formatted_name)) ~ '&nbsp;</div>') }}
            </div>
        </div>

        {{ form_hidden('status', 1) }}

    </div>

    <div class="form-button">
        {{ form_submit(Lang.choice('general.submit', 1)) }}
    </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- Redactor -->
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/redactor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/redactor_config.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/redactor/css/redactor.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/redactor/js/plugins.min.js') }}"></script>

    <!-- Code Editor -->
    <script src="{{ asset_rev('resources/assets/libs/codemirror/js/codemirror.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset_rev('resources/assets/libs/codemirror/css/codemirror.css') }}">
    <script src="{{ asset_rev('resources/assets/libs/sweetalert2/js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/libs/sweetalert2/css/sweetalert2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset_rev('resources/assets/operator/css/codeeditor.css') }}" />
    <script type="text/javascript" src="{{ asset_rev('resources/assets/operator/js/redactor/codeeditor.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('textarea[name=text]').redactor(
                $.extend(
                    $.Redactor.default_opts,
                    {
                        focusEnd: true,
                        plugins: ['syntax', 'imagemanager', 'table', 'video', 'fontcolor', 'fontfamily', 'fontsize']
                    }
                )
            );

        });
    </script>
{% endblock %}