    {% if Config.get('settings.language_frontend_toggle') == 1 %}
        <div class="language-footer hide">
            {{ Lang.choice('general.language', 1) }}&nbsp;
            <select name="language">
                {% for code, language in languages %}
                    <option value="{{ code }}"
                        {% if code == App.getLocale() %}selected="selected"{% endif %}
                        {% if attribute(returnTo, code) is defined %}data-return-to="{{ attribute(returnTo, code) }}"{% endif %}>
                        {{ language }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

</div>

<!-- Laravel Javascript Validation -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/libs/jquery-validation/js/jquery.validate.min.js')}}"></script>

<!-- Laravel Localisation -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/lang.min.js') }}"></script>
<script type="text/javascript">
    Lang.addMessages({{ translationStrings|raw }});
    // Add the messages before setting the locale...
    Lang.setLocale("{{ App.getLocale() }}");
</script>

<!-- Laravel Routes -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/routes.min.js') }}"></script>
<script type="text/javascript">
    laroute.set_absolute({{ Config.get('laroute.absolute', false) }});
    laroute.set_root_url("{{ url('/') }}");
    laroute.set_routes({{ routeCollection|raw }});
    laroute.set_prefix('{{ Config.get('laroute.prefix', '') }}');
</script>
    
<!-- Timeago.js -->
<script src="{{ asset_rev('resources/assets/libs/timeago.js/js/timeago.min.js') }}"></script>
<script src="{{ asset_rev('resources/assets/general/js/main.js') }}"></script>

<script src="{{ asset_rev('resources/assets/frontend/js/main.js')}}" type="text/javascript"></script>

{{ block('scripts_footer') }}

</body>

</html>