    {% if Config.get('settings.language_frontend_toggle') == 1 %}
        <div class="language-footer hide">
            {{ Lang.choice('general.language', 1) }}&nbsp;
            <select name="language">
                {% for code, language in languages %}
                    <option value="{{ code }}"
                        {% if code == App.getLocale() %}selected="selected"{% endif %}
                        {% if attribute(returnTo, code) is defined %}data-return-to="{{ attribute(returnTo, code) }}"{% endif %}>
                        {{ language }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    {{ View.fireHook('frontend.wrapper_end') }}

</div>

{{ View.fireHook('frontend.footer') }}

<!-- Vendor -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/libs/common.min.js') }}"></script>
<link href="{{ asset_rev('resources/assets/libs/css/common.min.css') }}" rel="stylesheet" type="text/css" property="stylesheet" />

<!-- Laravel Localisation -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/lang.min.js') }}"></script>
<script type="text/javascript">
    Lang.addMessages({{ translationStrings|raw }});
    // Add the messages before setting the locale...
    Lang.setLocale("{{ App.getLocale() }}");
</script>

<!-- Laravel Routes -->
<script type="text/javascript" src="{{ asset_rev('resources/assets/general/js/routes.min.js') }}"></script>
<script type="text/javascript">
    laroute.set_absolute({{ Config.get('laroute.absolute', false) }});
    laroute.set_root_url("{{ url('/') }}");
    laroute.set_routes({{ routeCollection|raw }});
    laroute.set_prefix('{{ Config.get('laroute.prefix', '') }}');
</script>
    
<!-- Timeago.js -->
<script src="{{ asset_rev('resources/assets/general/js/main.js') }}"></script>

<script src="{{ asset_rev('resources/assets/frontend/js/main.js')}}" type="text/javascript"></script>

{{ block('scripts_footer') }}

{{ View.fireHook('frontend.body_end') }}

</body>

</html>